Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/ai-components-and-features.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs/ai-components.md
  docs/docs-builder.yml
  docs/knowledge-base/preventing-auto-increment-dragging-kendo-ui-jquery-spreadsheet.md
  docs/knowledge-base/stop-event-propagation-buttons-panelbar-header-contenturl.md
  src/kendo.splitter.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  typescript/kendo.all.d.ts
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/textarea.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/textarea.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/ai-assistant/changelog.md
  docs/ai-assistant/mcp-server.md
  docs/ai-assistant/overview.md
  docs/api/javascript/dataviz/ui/chart-breadcrumb.md
  docs/api/javascript/ui/checkboxgroup.md
  docs/api/javascript/ui/editor.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/treelist.md
  docs/controls/multicolumncombobox/cascading.md
  docs/knowledge-base/batch-editing-odata.md
  src/kendo.core.js
  tests/unit/core/intl.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/ai-assistant/changelog.md
  docs/ai-assistant/mcp-server.md
  docs/ai-assistant/overview.md
  docs/controls/multicolumncombobox/cascading.md
  docs/knowledge-base/batch-editing-odata.md
  src/kendo.core.js
  tests/unit/core/intl.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/chat-ai-integration.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/chat-ai-integration.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Update remove-license-warning-message.md
  docs-aspnet/knowledge-base/remove-license-warning-message.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  src/kendo.core.js
  src/kendo.toggleinputbase.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.core.js
  src/kendo.toggleinputbase.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Update remove-license-warning-message.md
  docs-aspnet/knowledge-base/remove-license-warning-message.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/ai/changelog.md
  docs-aspnet/ai/copilot-extension.md
  docs-aspnet/ai/overview.md
  docs-aspnet/ai/prompt-library.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/ai/changelog.md
  docs-aspnet/ai/copilot-extension.md
  docs-aspnet/ai/overview.md
  docs-aspnet/ai/prompt-library.md
  docs-aspnet/knowledge-base/remove-license-warning-message.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  src/kendo.menu.js
  tests/unit/menu/init.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/knowledge-base/compact-number-formatting.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/compact-number-formatting.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/automatic-scrolling-taskboard-drag-drop.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/automatic-scrolling-taskboard-drag-drop.md
  docs/knowledge-base/change-contextmenu-item-text-kendo-ui-jquery-grid.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/smart-grid/ai-toolbar-tool.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/smart-grid/ai-toolbar-tool.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  src/kendo.notification.js
  src/kendo.tabstrip.js
  tests/helpers/unit/map-utils.js
  tests/unit/notification/initialization.js
  tests/unit/tabstrip/databinding.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.notification.js
  src/kendo.tabstrip.js
  tests/helpers/unit/map-utils.js
  tests/unit/notification/initialization.js
  tests/unit/tabstrip/databinding.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  package-lock.json
  package.json
Owners: @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs/knowledge-base/show-week-number-scheduler-timeline-month-views.md
  package-lock.json
  package.json
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs/knowledge-base/show-week-number-scheduler-timeline-month-views.md
  package-lock.json
  package.json
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/conversational-ui/chat/ai-integration.md
  docs/api/javascript/data/datasource.md
  docs/controls/chat/ai-integration.md
  src/kendo.tabstrip.js
  src/kendo.window.js
  tests/unit/tabstrip/ajax-loading.js
  tests/unit/tabstrip/api.js
  tests/unit/tabstrip/aria.js
  tests/unit/tabstrip/initialization.js
  tests/unit/tabstrip/navigation.js
  tests/unit/window/api.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/conversational-ui/chat/ai-integration.md
  docs/api/javascript/data/datasource.md
  docs/controls/chat/ai-integration.md
  src/kendo.tabstrip.js
  src/kendo.window.js
  tests/unit/tabstrip/ajax-loading.js
  tests/unit/tabstrip/api.js
  tests/unit/tabstrip/aria.js
  tests/unit/tabstrip/initialization.js
  tests/unit/tabstrip/navigation.js
  tests/unit/window/api.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/treeview.md
  src/kendo.window.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/grid.md
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/smart-grid/smart-extensions.md
  docs-aspnet/knowledge-base/chart-ai-integration.md
  docs-aspnet/knowledge-base/chat-ai-integration.md
  docs-aspnet/knowledge-base/editor-ai-integration.md
  docs-aspnet/knowledge-base/grid-ai-integration.md
  docs-aspnet/knowledge-base/scheduler-ai-integration.md
  src/kendo.core.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/data/node.md
  docs/api/javascript/ui/dialog.md
  src/kendo.data.js
  src/kendo.dialog.js
  tests/unit/data/hierarchy.js
  tests/unit/dialog/api.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/data-management/grid/smart-grid/smart-extensions.md
  docs-aspnet/knowledge-base/grid-ai-integration.md
  docs/_config.yml
  docs/controls/grid/smart-grid/smart-extensions.md
  docs/docs-builder.yml
  src/kendo.core.js
  src/kendo.tabstrip.js
  tests/unit/tabstrip/ajax-loading.js
  tests/unit/tabstrip/api.js
  tests/unit/tabstrip/aria.js
  tests/unit/tabstrip/initialization.js
  tests/unit/tabstrip/navigation.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/data-management/grid/smart-grid/smart-extensions.md
  docs-aspnet/knowledge-base/grid-ai-integration.md
  docs/_config.yml
  docs/controls/grid/smart-grid/smart-extensions.md
  docs/docs-builder.yml
  src/kendo.core.js
  src/kendo.tabstrip.js
  tests/unit/tabstrip/ajax-loading.js
  tests/unit/tabstrip/api.js
  tests/unit/tabstrip/aria.js
  tests/unit/tabstrip/initialization.js
  tests/unit/tabstrip/navigation.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs/docs-builder.yml
  docs/knowledge-base/filemanager-azure-blob-storage.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs/docs-builder.yml
  docs/knowledge-base/filemanager-azure-blob-storage.md
  src/kendo.tabstrip.js
  tests/unit/tabstrip/ajax-loading.js
  tests/unit/tabstrip/api.js
  tests/unit/tabstrip/aria.js
  tests/unit/tabstrip/initialization.js
  tests/unit/tabstrip/navigation.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.autocomplete.js
  src/kendo.combobox.js
  src/kendo.multiselect.js
  src/kendo.numerictextbox.js
  tests/unit/combobox/initialization.js
  tests/unit/combobox/mvvm.js
  tests/unit/combobox/placeholder.js
  tests/unit/multiselect/api.js
  tests/unit/multiselect/initialization.js
  tests/unit/multiselect/interaction.js
  tests/unit/multiselect/placeholder.js
  typescript/kendo.all.d.ts
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.autocomplete.js
  src/kendo.combobox.js
  src/kendo.multiselect.js
  src/kendo.numerictextbox.js
  tests/unit/combobox/initialization.js
  tests/unit/combobox/mvvm.js
  tests/unit/combobox/placeholder.js
  tests/unit/multiselect/api.js
  tests/unit/multiselect/initialization.js
  tests/unit/multiselect/interaction.js
  tests/unit/multiselect/placeholder.js
  typescript/kendo.all.d.ts
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/knowledge-base/change-loader-icon-kendo-ui-jquery.md
  docs/knowledge-base/displaying-blank-items-as-blank-in-kendo-ui-for-jquery-multiselect.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/displaying-blank-items-as-blank-in-kendo-ui-for-jquery-multiselect.md
Owners: @NikoPenev21, @nelito987, @martintabakov
