Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @veselints, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

chore: resurrect archived source files
  src/kendo.dateinput.js
  src/kendo.datepicker.js
  src/kendo.datetimepicker.js
  src/kendo.editable.js
  src/kendo.listview.js
  src/kendo.timepicker.js
Owners: @Iankodj, @ag-petrov, @veselints

chore: resurrect archived source files
  src/kendo.dateinput.js
  src/kendo.datepicker.js
  src/kendo.datetimepicker.js
  src/kendo.editable.js
  src/kendo.listview.js
  src/kendo.timepicker.js
Owners: @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/images/scaffolding/mvc-scaffolder-add-new-item.png
  docs-aspnet/vs-integration/scaffolding.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Note about setOptions
  docs-aspnet/html-helpers/scheduling/calendar/disabled-dates.md
  docs/api/javascript/ui/datepicker.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

chore: update CI
  .github/workflows/CI.yml
  package-lock.json
  package.json
  rollup.modules.config.js
Owners: @VicTachev, @nenchef, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

chore: update CI
  .github/workflows/CI.yml
  package-lock.json
  package.json
  rollup.modules.config.js
Owners: @VicTachev, @nenchef, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/layout/badge/appearance.md
  docs-aspnet/html-helpers/layout/badge/getting-started.md
  docs-aspnet/html-helpers/layout/badge/images/badge-getting-started.png
  docs-aspnet/html-helpers/layout/badge/overview.md
  docs/accessibility/section-508.md
  docs/api/javascript/dataviz/ui/chart-breadcrumb.md
  docs/api/javascript/dataviz/ui/chart.md
  docs/api/javascript/ui/grid.md
  docs/controls/charts/drill-down.md
  src/messages/kendo.messages.bg-BG.js
  src/messages/kendo.messages.en-AU.js
  src/messages/kendo.messages.en-CA.js
  src/messages/kendo.messages.en-GB.js
  src/messages/kendo.messages.en-US.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/charts/chart-types/drill-down.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  README.md
  src/kendo.angular.js
  src/kendo.core.js
  src/kendo.mobile.actionsheet.js
  src/kendo.mobile.application.js
  src/kendo.mobile.button.js
  src/kendo.mobile.buttongroup.js
  src/kendo.mobile.collapsible.js
  src/kendo.mobile.drawer.js
  src/kendo.mobile.listview.js
  src/kendo.mobile.loader.js
  src/kendo.mobile.modalview.js
  src/kendo.mobile.navbar.js
  src/kendo.mobile.pane.js
  src/kendo.mobile.popover.js
  src/kendo.mobile.scrollview.js
  src/kendo.mobile.shim.js
  src/kendo.mobile.splitview.js
  src/kendo.mobile.switch.js
  src/kendo.mobile.tabstrip.js
  src/kendo.mobile.view.js
  src/kendo.ui.core.js
  src/messages/kendo.messages.zh-CN.js
  src/messages/kendo.messages.zh-HK.js
  src/messages/kendo.messages.zh-TW.js
  tests/core/util.js
  typescript/kendo.all.d.ts
Owners: @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs/controls/dropdownbutton/icons.md
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  .eslintignore
  docs-aspnet/html-helpers/data-management/spreadsheet/getting-started.md
  docs-aspnet/html-helpers/scheduling/scheduler/toolbar.md
  docs/accessibility/keyboard-support.md
  docs/api/javascript/ui/gantt.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/pivotconfiguratorv2.md
  docs/api/javascript/ui/pivotgridv2.md
  docs/controls/pivotgridv2/accessibility/key-nav.md
  docs/controls/pivotgridv2/accessibility/overview.md
  docs/globalization/localization.md
  src/kendo.splitter.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/scheduling/multiviewcalendar/events.md
  docs-aspnet/html-helpers/scheduling/multiviewcalendar/getting-started.md
  docs-aspnet/html-helpers/scheduling/multiviewcalendar/images/multiviewcalendar-getting-started.png
  docs-aspnet/html-helpers/scheduling/multiviewcalendar/overview.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/_config.yml
  docs/api/javascript/ui/bottomnavigation.md
  docs/api/javascript/ui/chiplist.md
  docs/controls/bottomnavigation/overview.md
  docs/controls/bottomnavigation/templates.md
  docs/controls/chiplist/customization.md
  docs/controls/floatingactionbutton/overview.md
  docs/jsp/tags/bottomnavigation/overview.md
  docs/php/widgets/bottomnavigation/overview.md
  docs/php/widgets/floatingactionbutton/overview.md
  docs/styles-and-layout/sass-themes/compatibility.md
  package-lock.json
  package.json
  src/kendo.html.chip.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @veselints

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/_config.yml
  docs/styles-and-layout/sass-themes/compatibility.md
  package-lock.json
  package.json
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/_config.yml
  docs/styles-and-layout/sass-themes/compatibility.md
  package-lock.json
  package.json
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs/intro/installation/npm.md
  docs/third-party/angular2.md
  docs/third-party/aurelia.md
  docs/third-party/kinvey.md
  docs/third-party/module-bundlers.md
  docs/third-party/react.md
  docs/third-party/sharepoint-add-ins.md
  docs/third-party/systemjs.md
  docs/third-party/typescript.md
  docs/third-party/using-kendo-with-data-access.md
  docs/third-party/using-kendo-with-requirejs.md
  docs/third-party/using-kendo-with-twitter-bootstrap.md
  docs/third-party/vs-intellisense.md
  docs/third-party/webpack.md
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/intro/installation/npm.md
  docs/third-party/angular2.md
  docs/third-party/aurelia.md
  docs/third-party/kinvey.md
  docs/third-party/module-bundlers.md
  docs/third-party/react.md
  docs/third-party/sharepoint-add-ins.md
  docs/third-party/systemjs.md
  docs/third-party/typescript.md
  docs/third-party/using-kendo-with-data-access.md
  docs/third-party/using-kendo-with-requirejs.md
  docs/third-party/using-kendo-with-twitter-bootstrap.md
  docs/third-party/vs-intellisense.md
  docs/third-party/webpack.md
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/scheduling/scheduler/getting-started-scheduler.md
  docs-aspnet/html-helpers/scheduling/scheduler/timezones.md
  docs-aspnet/installation/upgrading/upgrade.md
  docs-aspnet/knowledge-base/grid-dynamic-batch-editing.md
  docs/intro/installation/npm.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/helper-basics/fundamentals-mvc.md
  docs-aspnet/html-helpers/helper-basics/fundamentals.md
  docs-aspnet/html-helpers/template/overview.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/getting-started-core/first-steps.md
  docs-aspnet/html-helpers/data-management/grid/binding/odatav4-binding.md
  docs-aspnet/html-helpers/data-management/grid/faq.md
  docs-aspnet/html-helpers/data-management/grid/overview.md
  docs-aspnet/html-helpers/data-management/grid/templates/editor-templates.md
  docs-aspnet/html-helpers/editors/combobox/filtering.md
  docs-aspnet/html-helpers/editors/dropdowntree/binding/ajax-binding.md
  docs-aspnet/html-helpers/editors/dropdowntree/binding/binding-overview.md
  docs-aspnet/html-helpers/editors/dropdowntree/binding/items-binding.md
  docs-aspnet/html-helpers/editors/dropdowntree/binding/razor-page.md
  docs-aspnet/html-helpers/editors/dropdowntree/binding/server-binding.md
  docs-aspnet/html-helpers/editors/editor/import-export.md
  docs-aspnet/html-helpers/editors/upload/chunk-upload.md
  docs-aspnet/html-helpers/editors/upload/how-to/upload-files-from-grid.md
  docs-aspnet/html-helpers/layout/window/overview.md
  docs-aspnet/installation/adding-client-side-resources/using-license-code.md
  docs-aspnet/installation/upgrading/upgrade.md
  docs-aspnet/knowledge-base/grid-custom-editor-autocomplete-combobox.md
  docs/knowledge-base/import-excel-grid.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_contentTemplates/core/getting-started-prerequisites.md
  docs-aspnet/html-helpers/editors/checkbox/events.md
  docs-aspnet/html-helpers/editors/checkbox/getting-started.md
  docs-aspnet/html-helpers/editors/checkbox/images/checkbox-getting-started.png
  docs-aspnet/html-helpers/editors/checkbox/overview.md
  src/kendo.selectable.js
  tests/selectable/selectable.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/checkboxgroup/events.md
  docs-aspnet/html-helpers/editors/checkboxgroup/getting-started.md
  docs-aspnet/html-helpers/editors/checkboxgroup/images/checkboxgroup-getting-started.png
  docs-aspnet/html-helpers/editors/checkboxgroup/overview.md
  docs-aspnet/html-helpers/scheduling/gantt/accessibility/keyboard-navigation.md
  docs-aspnet/knowledge-base/foreign-key-column-sorting-by-text.md
  docs/api/javascript/ui/chat.md
  docs/api/javascript/ui/gantt.md
  docs/controls/gantt/column-menu.md
  docs/controls/gantt/columns.md
  docs/controls/gantt/row-reorder.md
  docs/controls/grid/columns/column-menu.md
  docs/controls/grid/row-drag-drop.md
  docs/controls/splitter/panes.md
  docs/controls/tilelayout/reordering.md
  docs/controls/treelist/column-menu.md
  docs/controls/treelist/editing/drag-and-drop-editing.md
  docs/controls/treeview/drag-drop.md
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/autocomplete-cascading.md
  docs-aspnet/knowledge-base/grid-rows-hover-color.md
  docs-aspnet/knowledge-base/grid-select-all-in-footer.md
  docs-aspnet/knowledge-base/pdfviewer-display-simplified-chinese-characters.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs/knowledge-base/dropdownlist-popup-in-panelbar-content.md
  docs/knowledge-base/filter-different-editor-depending-on-operators.md
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

docs: Update themebuilder.md
  docs/styles-and-layout/sass-themes/themebuilder.md
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

docs: Update sass-theme-builder.md
  docs-aspnet/styles-and-layout/sass-themes/sass-theme-builder.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Update sass-theme-builder.md
  docs-aspnet/styles-and-layout/sass-themes/sass-theme-builder.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @gdenchevprog @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @yanisslav @aleksandarevangelatov @StoyanGoranov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @veselints
/tests/ @Iankodj @ag-petrov @veselints
/typescript/ @Iankodj @ag-petrov @veselints
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @veselints
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan
