Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/_config.yml
  docs-aspnet/accessibility/accessibility-compliance.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/getting-started-core/razor-pages.md
  docs-aspnet/html-helpers/data-management/grid/binding/razor-page.md
  docs-aspnet/html-helpers/data-management/grid/troubleshoot/troubleshooting.md
  docs-aspnet/html-helpers/editors/switch/appearance.md
  docs-aspnet/html-helpers/editors/switch/overview.md
  docs-aspnet/html-helpers/navigation/timeline/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/pdf/pdfviewer/dpl-processing.md
  docs-aspnet/introduction.md
  docs-aspnet/knowledge-base/grid-dynamic.md
  docs-aspnet/knowledge-base/pdfviewer-pdfjs-script-workarounds.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/appearance/adaptive-tools.md
  docs-aspnet/html-helpers/data-management/grid/toolbar.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs/accessibility/compliance.md
  docs/api/javascript/data/orgchartmodel.md
  docs/api/javascript/data/treelistmodel.md
  docs/api/javascript/dataviz/ui/diagram.md
  docs/api/javascript/dataviz/ui/qrcode.md
  docs/api/javascript/drawing/image.md
  docs/api/javascript/drawing/segment.md
  docs/api/javascript/ui/gantt.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/mediaplayer.md
  docs/api/javascript/ui/tabstrip.md
  docs/api/javascript/ui/treelist.md
  docs/controls/charts/drill-down.md
  docs/controls/charts/elements/title.md
  docs/controls/multiselect/get-started.md
  docs/controls/tabstrip/content.md
  docs/controls/togglebutton/badges.md
  docs/controls/treelist/selection.md
  docs/framework/mvvm/bindings/click.md
  docs/framework/mvvm/bindings/html.md
  docs/framework/mvvm/bindings/text.md
  docs/intro/first-steps.md
  docs/knowledge-base/centering-a-marker-kendo-ui-map.md
  docs/knowledge-base/chart-title-empty-line-different-fonts.md
  docs/knowledge-base/custom-display-for-zero-in-numerictextbox.md
  docs/knowledge-base/customize-multicheckbox-filter-kendo-ui-jquery-grid.md
  docs/knowledge-base/customize-scheduler-event-label-text-colors-kendo-ui.md
  docs/knowledge-base/customize-specific-timeslots-scheduler.md
  docs/knowledge-base/date-format-excel-export-grid.md
  docs/knowledge-base/displaying-blank-value-instead-01-01-0001-kendo-ui-grid.md
  docs/knowledge-base/filter-component-persist-state.md
  docs/knowledge-base/hide-checkboxes-grid-pdf-export.md
  docs/knowledge-base/hide-time-gantt-chart-tooltip-kendo-ui-jquery.md
  docs/knowledge-base/how-to-display-chart-data-zoomed-to-last-30-days.md
  docs/knowledge-base/how-to-set-dynamically-rows-count-in-kendo-ui-spreadsheet.md
  docs/knowledge-base/prevent-enter-in-editor.md
  docs/knowledge-base/scale-diagram-to-fit-container.md
  docs/knowledge-base/scheduler-timeline-view-resource-image.md
  docs/knowledge-base/stackedchart_display_both_stackvalue_and_individual_labels.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/editor/overview.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/editor/overview.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/data/datasource.md
  docs/api/javascript/data/pivotdatasourcev2.md
  docs/api/javascript/ui/treelist.md
  docs/controls/appbar/get-started.md
  docs/controls/appbar/items.md
  docs/controls/grid/appearance/adaptive-tools.md
  docs/knowledge-base/batch-editing-odata.md
  docs/knowledge-base/customize-multicheckbox-filter-kendo-ui-jquery-grid.md
  docs/knowledge-base/font-awesome.md
  docs/knowledge-base/grid-dynamic-aggregates.md
  docs/knowledge-base/grid-external-form-editing.md
  docs/knowledge-base/grid-filter-hidden-group-column.md
  docs/knowledge-base/grid-filter-menu-prevent-close-browser-scroll.md
  docs/knowledge-base/grid-group-filter-checkboxes.md
  docs/knowledge-base/grid-how-to-change-multi-checkbox-filter-to-contains.md
  docs/knowledge-base/grid-keep-the-select-all-checkbox-when-filtering.md
  docs/knowledge-base/grid-persist-checkbox-filter-with external-datasource.md
  docs/knowledge-base/grid-prevent-popup-close-on-edit.md
  docs/knowledge-base/grid-prevent-sort-filter-when-editing.md
  docs/knowledge-base/grouped-and-stacked-remote-series.md
  docs/knowledge-base/implement-more-events-button-in-week-view.md
  docs/knowledge-base/iterate-check-items-kendo-ui-jquery-grid-filtermulticheck.md
  docs/knowledge-base/row-template-using-dates.md
  docs/knowledge-base/sort-multi-checkbox-filter.md
  docs/knowledge-base/tooltip-on-spreadsheet-range.md
  docs/knowledge-base/update-widget-on-datasourceitem-update.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/hierarchy.md
  docs/api/javascript/data/datasource.md
  docs/api/javascript/data/pivotdatasourcev2.md
  docs/api/javascript/ui/treelist.md
  docs/controls/appbar/get-started.md
  docs/controls/appbar/items.md
  docs/controls/grid/appearance/adaptive-tools.md
  docs/knowledge-base/batch-editing-odata.md
  docs/knowledge-base/customize-multicheckbox-filter-kendo-ui-jquery-grid.md
  docs/knowledge-base/font-awesome.md
  docs/knowledge-base/grid-dynamic-aggregates.md
  docs/knowledge-base/grid-external-form-editing.md
  docs/knowledge-base/grid-filter-hidden-group-column.md
  docs/knowledge-base/grid-filter-menu-prevent-close-browser-scroll.md
  docs/knowledge-base/grid-group-filter-checkboxes.md
  docs/knowledge-base/grid-how-to-change-multi-checkbox-filter-to-contains.md
  docs/knowledge-base/grid-keep-the-select-all-checkbox-when-filtering.md
  docs/knowledge-base/grid-persist-checkbox-filter-with external-datasource.md
  docs/knowledge-base/grid-prevent-popup-close-on-edit.md
  docs/knowledge-base/grid-prevent-sort-filter-when-editing.md
  docs/knowledge-base/grouped-and-stacked-remote-series.md
  docs/knowledge-base/implement-more-events-button-in-week-view.md
  docs/knowledge-base/iterate-check-items-kendo-ui-jquery-grid-filtermulticheck.md
  docs/knowledge-base/row-template-using-dates.md
  docs/knowledge-base/sort-multi-checkbox-filter.md
  docs/knowledge-base/tooltip-on-spreadsheet-range.md
  docs/knowledge-base/update-widget-on-datasourceitem-update.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/data/datasource.md
  docs/api/javascript/data/pivotdatasourcev2.md
  docs/controls/appbar/accessibility/overview.md
  docs/controls/mediaplayer/multiple-sources.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/data/datasource.md
  docs/api/javascript/data/pivotdatasourcev2.md
  docs/controls/appbar/accessibility/overview.md
  docs/controls/mediaplayer/multiple-sources.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/configuring-event-functions-in-kendo-ui-mvvm-grid.md
  docs/knowledge-base/scheduler-refresh-minortickcount.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/configuring-event-functions-in-kendo-ui-mvvm-grid.md
  docs/knowledge-base/scheduler-refresh-minortickcount.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/applying-k-selected-class-checkbox-dropdown-tree.md
  docs/knowledge-base/hide-selected-items-multiselect.md
  docs/knowledge-base/using-multiselect-as-grid-editor.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/applying-k-selected-class-checkbox-dropdown-tree.md
  docs/knowledge-base/hide-selected-items-multiselect.md
  docs/knowledge-base/using-multiselect-as-grid-editor.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs/knowledge-base/check-listview-item-selected.md
  docs/knowledge-base/jquery-splitter-drag-event.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs/knowledge-base/check-listview-item-selected.md
  docs/knowledge-base/jquery-splitter-drag-event.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/grid/globalization/intl.md
  docs/controls/grid/toolbar.md
  docs/controls/listview/paging.md
  docs/controls/multicolumncombobox/cascading.md
  docs/knowledge-base/check-listview-item-selected.md
  docs/knowledge-base/create-with-dynamic-columns-and-data-types.md
  docs/knowledge-base/font-awesome.md
  docs/knowledge-base/grid-dynamic-aggregates.md
  docs/knowledge-base/grid-prevent-popup-close-on-validation-errors-from-server.md
  docs/knowledge-base/grid-remove-trailing-space-resize.md
  docs/knowledge-base/grouped-and-stacked-remote-series.md
  docs/knowledge-base/row-template-using-dates.md
  docs/knowledge-base/set-multiselect-background-from-tooltip-with-colorpalette.md
  docs/knowledge-base/spreadsheet-set-background-color-of-formula-cells.md
  src/kendo.menu.js
  src/kendo.multiselect.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/controls/grid/globalization/intl.md
  docs/controls/grid/toolbar.md
  docs/controls/listview/paging.md
  docs/controls/multicolumncombobox/cascading.md
  docs/knowledge-base/check-listview-item-selected.md
  docs/knowledge-base/create-with-dynamic-columns-and-data-types.md
  docs/knowledge-base/font-awesome.md
  docs/knowledge-base/grid-dynamic-aggregates.md
  docs/knowledge-base/grid-prevent-popup-close-on-validation-errors-from-server.md
  docs/knowledge-base/grid-remove-trailing-space-resize.md
  docs/knowledge-base/grouped-and-stacked-remote-series.md
  docs/knowledge-base/row-template-using-dates.md
  docs/knowledge-base/set-multiselect-background-from-tooltip-with-colorpalette.md
  docs/knowledge-base/spreadsheet-set-background-color-of-formula-cells.md
  src/kendo.menu.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.actionsheet.js
  src/kendo.dropdownlist.js
  src/kendo.multiselect.js
  src/kendo.sortable.js
  src/kendo.validator.js
  tests/unit/dropdownlist/virtualization.js
  tests/unit/multiselect/mvvm.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.actionsheet.js
  src/kendo.dropdownlist.js
  src/kendo.multiselect.js
  src/kendo.validator.js
  tests/unit/dropdownlist/virtualization.js
  tests/unit/multiselect/mvvm.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/scheduling/scheduler/adaptive-rendering.md
  docs-aspnet/html-helpers/scheduling/scheduler/binding/overview.md
  docs/api/javascript/dataviz/ui/chart.md
  src/kendo.menu.js
  src/kendo.popup.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/scheduling/scheduler/adaptive-rendering.md
  docs-aspnet/html-helpers/scheduling/scheduler/binding/overview.md
  docs/api/javascript/dataviz/ui/chart.md
  src/kendo.menu.js
  src/kendo.popup.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_contentTemplates/grid-default-editors.md
  docs-aspnet/html-helpers/data-management/grid/columns/foreignkey-column.md
  docs-aspnet/html-helpers/data-management/grid/editing/batch.md
  docs-aspnet/html-helpers/data-management/grid/editing/custom.md
  docs-aspnet/html-helpers/data-management/grid/editing/inline.md
  docs-aspnet/html-helpers/data-management/grid/editing/overview.md
  docs-aspnet/html-helpers/data-management/grid/editing/popup.md
  docs-aspnet/html-helpers/data-management/grid/editing/validation.md
  docs-aspnet/html-helpers/data-management/grid/overview.md
  docs-aspnet/html-helpers/data-management/grid/toolbar.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_contentTemplates/grid-default-editors.md
  docs-aspnet/html-helpers/data-management/grid/columns/foreignkey-column.md
  docs-aspnet/html-helpers/data-management/grid/editing/batch.md
  docs-aspnet/html-helpers/data-management/grid/editing/custom.md
  docs-aspnet/html-helpers/data-management/grid/editing/inline.md
  docs-aspnet/html-helpers/data-management/grid/editing/overview.md
  docs-aspnet/html-helpers/data-management/grid/editing/popup.md
  docs-aspnet/html-helpers/data-management/grid/editing/validation.md
  docs-aspnet/html-helpers/data-management/grid/overview.md
  docs-aspnet/html-helpers/data-management/grid/toolbar.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/autocomplete-editor-for-grid.md
  docs/api/javascript/ui/grid.md
  src/messages/kendo.messages.bg-BG.js
  src/messages/kendo.messages.en-US.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/autocomplete-editor-for-grid.md
  docs/api/javascript/ui/grid.md
  src/messages/kendo.messages.bg-BG.js
  src/messages/kendo.messages.en-US.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  tests/unit/toolbar/no-csp-tests.js
  tests/unit/toolbar/rendering.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/binding/graphql-binding.md
  docs-aspnet/html-helpers/data-management/pivotgrid/data-binding/configurator.md
  docs-aspnet/html-helpers/data-management/pivotgrid/data-binding/olap-cube-setup.md
  docs-aspnet/html-helpers/data-management/pivotgrid/data-binding/overview.md
  docs-aspnet/html-helpers/data-management/pivotgrid/filtering.md
  docs-aspnet/html-helpers/data-management/pivotgrid/overview.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/data-binding/configurator.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/data-binding/olap-cube-setup.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/data-binding/overview.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/data-binding/razor-page.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/filtering.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/getting-started.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/overview.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/templates.md
  docs-aspnet/tag-helpers/data-management/pivotgridv2/overview.md
  docs/api/javascript/data/datasource.md
  docs/controls/orgchart/binding.md
  docs/knowledge-base/drill-down-with-root-tuple.md
  docs/knowledge-base/expand-include-treeview.md
  docs/knowledge-base/export-grid-rows-excel-group-paging.md
  docs/knowledge-base/force-reload.md
  docs/knowledge-base/modify-exported-excel.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/binding/graphql-binding.md
  docs-aspnet/html-helpers/data-management/pivotgrid/data-binding/configurator.md
  docs-aspnet/html-helpers/data-management/pivotgrid/data-binding/olap-cube-setup.md
  docs-aspnet/html-helpers/data-management/pivotgrid/data-binding/overview.md
  docs-aspnet/html-helpers/data-management/pivotgrid/filtering.md
  docs-aspnet/html-helpers/data-management/pivotgrid/overview.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/data-binding/configurator.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/data-binding/olap-cube-setup.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/data-binding/overview.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/data-binding/razor-page.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/filtering.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/getting-started.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/overview.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/templates.md
  docs-aspnet/tag-helpers/data-management/pivotgridv2/overview.md
  docs/api/javascript/data/datasource.md
  docs/controls/orgchart/binding.md
  docs/knowledge-base/drill-down-with-root-tuple.md
  docs/knowledge-base/expand-include-treeview.md
  docs/knowledge-base/export-grid-rows-excel-group-paging.md
  docs/knowledge-base/force-reload.md
  docs/knowledge-base/modify-exported-excel.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  src/kendo.popup.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/filter/custom-editor.md
  docs-aspnet/html-helpers/data-management/grid/binding/odata-binding.md
  docs-aspnet/html-helpers/data-management/grid/columns/multicolumn-headers.md
  docs-aspnet/html-helpers/data-management/grid/columns/templates.md
  docs-aspnet/html-helpers/data-management/grid/events.md
  docs-aspnet/html-helpers/data-management/grid/hierarchy.md
  docs-aspnet/html-helpers/data-management/grid/overview.md
  docs-aspnet/html-helpers/data-management/grid/row-drag-drop.md
  docs-aspnet/html-helpers/data-management/grid/row-resizing.md
  docs-aspnet/html-helpers/data-management/grid/templates/group-templates.md
  docs-aspnet/html-helpers/datasource/custom-datasource.md
  docs-aspnet/html-helpers/datasource/types.md
  docs-aspnet/html-helpers/gauges/arcgauge/export.md
  docs-aspnet/html-helpers/gauges/circulargauge/export.md
  docs-aspnet/html-helpers/gauges/lineargauge/export.md
  docs-aspnet/html-helpers/gauges/radialgauge/export.md
  docs-aspnet/html-helpers/layout/splitter/expand-splitter-to-content.md
  docs-aspnet/html-helpers/media/scrollview/getting-started.md
  docs-aspnet/html-helpers/media/scrollview/overview.md
  docs-aspnet/html-helpers/media/scrollview/paginig.md
  docs-aspnet/html-helpers/media/scrollview/templates.md
  docs-aspnet/html-helpers/scheduling/scheduler/binding/custom-binding.md
  docs-aspnet/html-helpers/scheduling/scheduler/binding/signalr-binding.md
  docs-aspnet/knowledge-base/chart-bind-to-signalr.md
  docs-aspnet/knowledge-base/custom-delete-confirmation-dialog.md
  docs-aspnet/knowledge-base/grid-export-custom-file-name.md
  docs-aspnet/knowledge-base/grid-oData-v4-web-api-controller.md
  docs-aspnet/knowledge-base/prevent-tile-expansion.md
  docs-aspnet/knowledge-base/scheduler-lock-edited-events-with-signalr-datasource-local-hub.md
  docs-aspnet/knowledge-base/scheduler-preserve-buttongroup-view-in-adaptive-rendering.md
  docs-aspnet/tag-helpers/data-management/grid/editing.md
  docs-aspnet/tag-helpers/data-management/grid/row-drag-drop.md
  docs-aspnet/tag-helpers/data-management/grid/search-panel.md
  docs/knowledge-base/customize-expand-collapse-icons-kendo-ui-grid.md
  src/kendo.popup.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/dataviz/ui/lineargauge.md
  docs/api/javascript/ui/aiprompt.md
  docs/knowledge-base/configuring-series-marker-intervals-kendo-ui-chart.md
  docs/knowledge-base/dropdown-validation-column-kendo-ui-spreadsheet.md
  docs/knowledge-base/replace-expand-collapse-icons-treeview.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/configuring-series-marker-intervals-kendo-ui-chart.md
  docs/knowledge-base/dropdown-validation-column-kendo-ui-spreadsheet.md
  docs/knowledge-base/replace-expand-collapse-icons-treeview.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  VERSION
  docs-aspnet/_config.yml
  docs/_config.yml
  src/kendo.menu.js
  src/kendo.popup.js
  src/kendo.sortable.js
  src/kendo.validator.js
  tests/unit/actionsheet/aria.js
  tests/unit/notification/aria.js
  tests/unit/toolbar/no-csp-tests.js
  tests/unit/toolbar/rendering.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs/_config.yml
  src/kendo.menu.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/kb-security-pdfviewer-xss-cve-2025-6725.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/knowledge-base/kb-security-pdfviewer-xss-cve-2025-6725.md
  docs/styles-and-layout/sass-themes/compatibility.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/filter/custom-editor.md
  docs-aspnet/html-helpers/data-management/grid/binding/odata-binding.md
  docs-aspnet/html-helpers/data-management/grid/columns/multicolumn-headers.md
  docs-aspnet/html-helpers/data-management/grid/columns/templates.md
  docs-aspnet/html-helpers/data-management/grid/events.md
  docs-aspnet/html-helpers/data-management/grid/hierarchy.md
  docs-aspnet/html-helpers/data-management/grid/overview.md
  docs-aspnet/html-helpers/data-management/grid/row-drag-drop.md
  docs-aspnet/html-helpers/data-management/grid/row-resizing.md
  docs-aspnet/html-helpers/data-management/grid/templates/group-templates.md
  docs-aspnet/html-helpers/datasource/custom-datasource.md
  docs-aspnet/html-helpers/datasource/types.md
  docs-aspnet/html-helpers/gauges/arcgauge/export.md
  docs-aspnet/html-helpers/gauges/circulargauge/export.md
  docs-aspnet/html-helpers/gauges/lineargauge/export.md
  docs-aspnet/html-helpers/gauges/radialgauge/export.md
  docs-aspnet/html-helpers/layout/splitter/expand-splitter-to-content.md
  docs-aspnet/html-helpers/media/scrollview/getting-started.md
  docs-aspnet/html-helpers/media/scrollview/overview.md
  docs-aspnet/html-helpers/media/scrollview/paginig.md
  docs-aspnet/html-helpers/media/scrollview/templates.md
  docs-aspnet/html-helpers/scheduling/scheduler/binding/custom-binding.md
  docs-aspnet/html-helpers/scheduling/scheduler/binding/signalr-binding.md
  docs-aspnet/knowledge-base/chart-bind-to-signalr.md
  docs-aspnet/knowledge-base/custom-delete-confirmation-dialog.md
  docs-aspnet/knowledge-base/grid-export-custom-file-name.md
  docs-aspnet/knowledge-base/grid-oData-v4-web-api-controller.md
  docs-aspnet/knowledge-base/kb-security-pdfviewer-xss-cve-2025-6725.md
  docs-aspnet/knowledge-base/prevent-tile-expansion.md
  docs-aspnet/knowledge-base/scheduler-lock-edited-events-with-signalr-datasource-local-hub.md
  docs-aspnet/knowledge-base/scheduler-preserve-buttongroup-view-in-adaptive-rendering.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs-aspnet/tag-helpers/data-management/grid/editing.md
  docs-aspnet/tag-helpers/data-management/grid/row-drag-drop.md
  docs-aspnet/tag-helpers/data-management/grid/search-panel.md
  docs/knowledge-base/customize-expand-collapse-icons-kendo-ui-grid.md
  docs/knowledge-base/kb-security-pdfviewer-xss-cve-2025-6725.md
  docs/styles-and-layout/sass-themes/compatibility.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/html-helpers/scheduling/gantt/binding/ajax-binding.md
  docs-aspnet/html-helpers/scheduling/gantt/binding/overview.md
  docs-aspnet/html-helpers/scheduling/gantt/binding/razor-page.md
  docs-aspnet/html-helpers/scheduling/gantt/binding/server-binding.md
  docs-aspnet/html-helpers/scheduling/gantt/getting-started-gantt.md
  docs-aspnet/html-helpers/scheduling/gantt/overview.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/html-helpers/scheduling/gantt/binding/ajax-binding.md
  docs-aspnet/html-helpers/scheduling/gantt/binding/overview.md
  docs-aspnet/html-helpers/scheduling/gantt/binding/razor-page.md
  docs-aspnet/html-helpers/scheduling/gantt/binding/server-binding.md
  docs-aspnet/html-helpers/scheduling/gantt/getting-started-gantt.md
  docs-aspnet/html-helpers/scheduling/gantt/overview.md
  docs/api/javascript/ui/rating.md
  src/kendo.data.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/_config.yml
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/getting-started-core/first-steps-cli.md
  docs-aspnet/getting-started-core/first-steps-vs-extensions.md
  docs-aspnet/getting-started-mvc/first-steps.md
  docs-aspnet/getting-started-mvc/manual-setup.md
  docs-aspnet/getting-started-mvc/setup-with-nuget.md
  docs-aspnet/html-helpers/scheduling/scheduler/binding/overview.md
  docs-aspnet/html-helpers/scheduling/scheduler/binding/signalr-binding.md
  docs-aspnet/installation/adding-client-side-resources/cdn-service.md
  docs-aspnet/installation/adding-client-side-resources/creating-custom-bundles.md
  docs-aspnet/installation/adding-client-side-resources/getting-started-copy-client-resources.md
  docs-aspnet/installation/adding-client-side-resources/scripts/what-you-need.md
  docs-aspnet/installation/adding-client-side-resources/using-libman.md
  docs-aspnet/installation/adding-client-side-resources/using-local-files.md
  docs/_config.yml
  docs/docs-builder.yml
  docs/intro/creating-custom-bundles.md
  docs/intro/installation/bower-install.md
  docs/intro/installation/cdn-service.md
  docs/intro/installation/ecmascript.md
  docs/intro/installation/hosting-kendoui.md
  docs/intro/installation/npm.md
  docs/intro/installation/nuget-install.md
  docs/intro/scripts/what-you-need.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/_config.yml
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/getting-started-core/first-steps-cli.md
  docs-aspnet/getting-started-core/first-steps-vs-extensions.md
  docs-aspnet/getting-started-mvc/first-steps.md
  docs-aspnet/getting-started-mvc/manual-setup.md
  docs-aspnet/getting-started-mvc/setup-with-nuget.md
  docs-aspnet/html-helpers/scheduling/scheduler/binding/overview.md
  docs-aspnet/html-helpers/scheduling/scheduler/binding/signalr-binding.md
  docs-aspnet/installation/adding-client-side-resources/cdn-service.md
  docs-aspnet/installation/adding-client-side-resources/creating-custom-bundles.md
  docs-aspnet/installation/adding-client-side-resources/getting-started-copy-client-resources.md
  docs-aspnet/installation/adding-client-side-resources/scripts/what-you-need.md
  docs-aspnet/installation/adding-client-side-resources/using-libman.md
  docs-aspnet/installation/adding-client-side-resources/using-local-files.md
  docs/_config.yml
  docs/docs-builder.yml
  docs/intro/creating-custom-bundles.md
  docs/intro/installation/bower-install.md
  docs/intro/installation/cdn-service.md
  docs/intro/installation/ecmascript.md
  docs/intro/installation/hosting-kendoui.md
  docs/intro/installation/npm.md
  docs/intro/installation/nuget-install.md
  docs/intro/scripts/what-you-need.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan
