Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/grouping/aggregates.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/grouping/aggregates.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Update numerictextbox.md
  docs/api/javascript/ui/numerictextbox.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/intro/installation/npm.md
  docs/introduction.md
  docs/third-party/angular2.md
  docs/third-party/aurelia.md
  docs/third-party/handlebars.md
  docs/third-party/module-bundlers.md
  docs/third-party/react.md
  docs/third-party/sharepoint-add-ins.md
  docs/third-party/systemjs.md
  docs/third-party/typescript.md
  docs/third-party/using-kendo-with-data-access.md
  docs/third-party/using-kendo-with-requirejs.md
  docs/third-party/using-kendo-with-twitter-bootstrap.md
  docs/third-party/vs-intellisense.md
  docs/third-party/webpack.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/intro/installation/npm.md
  docs/introduction.md
  docs/third-party/angular2.md
  docs/third-party/aurelia.md
  docs/third-party/handlebars.md
  docs/third-party/module-bundlers.md
  docs/third-party/react.md
  docs/third-party/sharepoint-add-ins.md
  docs/third-party/systemjs.md
  docs/third-party/typescript.md
  docs/third-party/using-kendo-with-data-access.md
  docs/third-party/using-kendo-with-requirejs.md
  docs/third-party/using-kendo-with-twitter-bootstrap.md
  docs/third-party/vs-intellisense.md
  docs/third-party/webpack.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/rendering-small-data-points-chart.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/rendering-small-data-points-chart.md
  package-lock.json
  package.json
  src/kendo.tabstrip.js
  tests/unit/tabstrip/tab-features-datasource-dom.js
  tests/unit/tabstrip/tab-features.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/textarea.md
  src/kendo.textarea.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/speechtotextbutton.md
  docs/controls/grid/grouping/group-paging.md
  docs/controls/spreadsheet/globalization/localization.md
  src/messages/kendo.messages.bg-BG.js
  src/messages/kendo.messages.en-US.js
  src/messages/kendo.messages.zh-CN.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/grid.md
  docs/controls/grid/grouping/group-paging.md
  src/messages/kendo.messages.zh-CN.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/navigation/tabstrip/tabs.md
  docs/api/javascript/ui/combobox.md
  docs/api/javascript/ui/dropdownlist.md
  docs/api/javascript/ui/multiselect.md
  src/kendo.combobox.js
  src/kendo.dropdownlist.js
  src/kendo.list.js
  src/kendo.multiselect.js
  tests/helpers/unit/upload-utils.js
  tests/unit/combobox/initialization.js
  tests/unit/dropdownlist/initialization.js
  tests/unit/multiselect/initialization.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/third-party/vite.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/third-party/vite.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/customizing-label-width-height-kendo-jquery-chart.md
  docs/knowledge-base/dynamically-refresh-kendo-jquery-popover-body.md
  docs/knowledge-base/hide-grid-fields-by-name-popup-editor.md
  docs/knowledge-base/selecting-grid-rows-right-click-kendo-ui-jquery.md
  docs/third-party/vite.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/customizing-label-width-height-kendo-jquery-chart.md
  docs/knowledge-base/dynamically-refresh-kendo-jquery-popover-body.md
  docs/knowledge-base/hide-grid-fields-by-name-popup-editor.md
  docs/knowledge-base/selecting-grid-rows-right-click-kendo-ui-jquery.md
  docs/third-party/vite.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/appbar/appbar-overview.PNG
  docs/controls/appbar/overview.md
  docs/controls/menu/items.md
  docs/intro/installation/licensing/overview.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/appbar/appbar-overview.PNG
  docs/controls/appbar/overview.md
  docs/controls/menu/items.md
  docs/intro/installation/licensing/overview.md
  package-lock.json
  package.json
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs/api/javascript/ui/form.md
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/html-helpers/navigation/tabstrip/images.md
  docs-aspnet/installation/activating-your-license/licensing-faq.md
  docs-aspnet/licensing.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/installation/activating-your-license/licensing-faq.md
  docs-aspnet/licensing.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs/api/javascript/ui/pager.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/pager.md
  src/kendo.combobox.js
  src/kendo.dropdownlist.js
  src/kendo.list.js
  src/kendo.multiselect.js
  src/kendo.validator.js
  tests/unit/combobox/initialization.js
  tests/unit/dropdownlist/initialization.js
  tests/unit/multiselect/initialization.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/form.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/installation/images/upgrade-step-0.png
  docs-aspnet/installation/images/upgrade-step-1.png
  docs-aspnet/installation/images/upgrade-step-2.png
  docs-aspnet/installation/images/upgrade-step-3.png
  docs-aspnet/installation/images/upgrade-step-4.png
  docs-aspnet/installation/images/upgrade-step-5.png
  docs-aspnet/installation/upgrading/upgrade-troubleshooting.md
  docs-aspnet/installation/upgrading/upgrade.md
  docs-aspnet/vs-integration/upgrade-wizard.md
  docs/controls/form/column-spanning.md
  docs/knowledge-base/get-selected-rows-data-kendo-jquery-grid-toolbar.md
  docs/knowledge-base/retrieve-parent-node-on-drop-jquery-treeview.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/installation/images/upgrade-step-0.png
  docs-aspnet/installation/images/upgrade-step-1.png
  docs-aspnet/installation/images/upgrade-step-2.png
  docs-aspnet/installation/images/upgrade-step-3.png
  docs-aspnet/installation/images/upgrade-step-4.png
  docs-aspnet/installation/images/upgrade-step-5.png
  docs-aspnet/installation/upgrading/upgrade-troubleshooting.md
  docs-aspnet/installation/upgrading/upgrade.md
  docs-aspnet/vs-integration/upgrade-wizard.md
  docs/knowledge-base/get-selected-rows-data-kendo-jquery-grid-toolbar.md
  docs/knowledge-base/retrieve-parent-node-on-drop-jquery-treeview.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Update multiselect.md valuePrimitive example
  docs/api/javascript/ui/multiselect.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/aiprompt.md
  src/kendo.togglebutton.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/inlineaiprompt.md
  src/utils/inline-ai-prompt-commands.js
  src/utils/prefix-suffix-containers.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/pdfviewer-pdfjs-script-workarounds.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/_config.yml
  docs-aspnet/accessibility/accessibility-compliance.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/navigation/speechtotextbutton/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/navigation/speechtotextbutton/accessibility/overview.md
  docs-aspnet/html-helpers/navigation/speechtotextbutton/appearance.md
  docs-aspnet/html-helpers/navigation/speechtotextbutton/events.md
  docs-aspnet/html-helpers/navigation/speechtotextbutton/getting-started.md
  docs-aspnet/html-helpers/navigation/speechtotextbutton/images/speechtotextbutton-getting-started.png
  docs-aspnet/html-helpers/navigation/speechtotextbutton/overview.md
  docs-aspnet/introduction.md
  docs-aspnet/knowledge-base/pdfviewer-pdfjs-script-workarounds.md
  docs/api/javascript/ui/inlineaiprompt.md
  docs/controls/diagram/workflow-diagram.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs/_config.yml
  docs/api/javascript/ui/speechtotextbutton.md
  docs/docs-builder.yml
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/conversational-ui/aiprompt/accessibility/overview.md
  docs-aspnet/html-helpers/conversational-ui/chat/accessibility/overview.md
  docs-aspnet/html-helpers/data-management/grid/accessibility/overview.md
  docs-aspnet/html-helpers/editors/autocomplete/accessibility/overview.md
  docs-aspnet/html-helpers/editors/colorpicker/accessibility/overview.md
  docs-aspnet/html-helpers/editors/combobox/accessibility/overview.md
  docs-aspnet/html-helpers/editors/datepicker/accessibility/overview.md
  docs-aspnet/html-helpers/editors/daterangepicker/accessibility/overview.md
  docs-aspnet/html-helpers/editors/datetimepicker/accessibility/overview.md
  docs-aspnet/html-helpers/editors/dropdownlist/accessibility/overview.md
  docs-aspnet/html-helpers/editors/dropdowntree/accessibility/overview.md
  docs-aspnet/html-helpers/editors/multiselect/accessibility/overview.md
  docs-aspnet/html-helpers/editors/textarea/appearance.md
  docs-aspnet/html-helpers/editors/timedurationpicker/accessibility/overview.md
  docs-aspnet/html-helpers/editors/timepicker/accessibility/overview.md
  docs-aspnet/html-helpers/layout/splitter/accessibility/overview.md
  docs-aspnet/html-helpers/navigation/toolbar/accessibility/overview.md
  docs/controls/appbar/accessibility/overview.md
  docs/controls/autocomplete/accessibility/overview.md
  docs/controls/chat/accessibility/overview.md
  docs/controls/colorpicker/accessibility/overview.md
  docs/controls/combobox/accessibility/overview.md
  docs/controls/datepicker/accessibility/overview.md
  docs/controls/datetimepicker/accessibility/overview.md
  docs/controls/dropdownlist/accessibility/overview.md
  docs/controls/dropdowntree/accessibility/overview.md
  docs/controls/gantt/accessibility/overview.md
  docs/controls/grid/accessibility/overview.md
  docs/controls/multiselect/accessibility/overview.md
  docs/controls/splitter/accessibility/overview.md
  docs/controls/timedurationpicker/accessibility/overview.md
  docs/controls/timepicker/accessibility/overview.md
  docs/controls/toolbar/accessibility/overview.md
  package-lock.json
  package.json
  src/kendo.data.js
  tests/unit/data/ai-transport.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  VERSION
  docs-aspnet/_config.yml
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/conversational-ui/aiprompt/views.md
  docs-aspnet/html-helpers/helper-basics/validation.md
  docs/_config.yml
  docs/api/javascript/ui/aiprompt.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/inlineaiprompt.md
  docs/backwards-compatibility/2025-backward-compatibility.md
  docs/controls/grid/appearance/stacked-display-mode.md
  docs/controls/speechtotextbutton/accessibility/overview.md
  docs/docs-builder.yml
  package-lock.json
  package.json
  src/kendo.pager.js
  src/messages/kendo.messages.en-US.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/layout/form/getting-started-form.md
  docs-aspnet/html-helpers/layout/form/overview.md
  docs-aspnet/html-helpers/layout/form/responsive.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/api/javascript/ui/grid.md
  docs/styles-and-layout/sass-themes/compatibility.md
  src/kendo.combobox.js
  src/kendo.data.js
  src/messages/kendo.messages.bg-BG.js
  src/messages/kendo.messages.en-US.js
  tests/unit/data/ai-transport.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/layout/form/getting-started-form.md
  docs-aspnet/html-helpers/layout/form/overview.md
  docs-aspnet/html-helpers/layout/form/responsive.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/api/javascript/ui/grid.md
  docs/styles-and-layout/sass-themes/compatibility.md
  src/kendo.combobox.js
  src/kendo.data.js
  src/messages/kendo.messages.bg-BG.js
  src/messages/kendo.messages.en-US.js
  tests/unit/data/ai-transport.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/html-helpers/conversational-ui/aiprompt/events.md
  docs-aspnet/html-helpers/conversational-ui/aiprompt/output-actions.md
  docs-aspnet/html-helpers/conversational-ui/aiprompt/overview.md
  docs-aspnet/html-helpers/conversational-ui/aiprompt/streaming-integration.md
  docs-aspnet/html-helpers/conversational-ui/aiprompt/templates.md
  docs-aspnet/html-helpers/conversational-ui/aiprompt/views.md
  docs-aspnet/html-helpers/data-management/grid/overview.md
  docs-aspnet/html-helpers/data-management/grid/stacked-display-mode.md
  docs/backwards-compatibility/2025-backward-compatibility.md
  docs/controls/aiprompt/output-actions.md
  docs/controls/aiprompt/overview.md
  docs/controls/grid/smart-grid/ai-toolbar-tool.md
  docs/controls/grid/smart-grid/custom-column-ai.md
  docs/controls/inline-aiprompt/accessibility/key-nav.md
  docs/controls/inline-aiprompt/accessibility/overview.md
  docs/controls/inline-aiprompt/get-started.md
  docs/controls/inline-aiprompt/inlineaiprompt-overview.PNG
  docs/controls/inline-aiprompt/overview.md
  docs/controls/inline-aiprompt/streaming.md
  docs/controls/inline-aiprompt/templates.md
  docs/controls/speechtotextbutton/appearance.md
  docs/controls/speechtotextbutton/get-started.md
  docs/controls/speechtotextbutton/overview.md
  docs/controls/speechtotextbutton/speechtotextbutton.png
  docs/docs-builder.yml
  docs/intro/installation/npm.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/html-helpers/conversational-ui/aiprompt/events.md
  docs-aspnet/html-helpers/conversational-ui/aiprompt/output-actions.md
  docs-aspnet/html-helpers/conversational-ui/aiprompt/overview.md
  docs-aspnet/html-helpers/conversational-ui/aiprompt/streaming-integration.md
  docs-aspnet/html-helpers/conversational-ui/aiprompt/templates.md
  docs-aspnet/html-helpers/conversational-ui/aiprompt/views.md
  docs-aspnet/html-helpers/data-management/grid/overview.md
  docs-aspnet/html-helpers/data-management/grid/stacked-display-mode.md
  docs/backwards-compatibility/2025-backward-compatibility.md
  docs/controls/aiprompt/output-actions.md
  docs/controls/aiprompt/overview.md
  docs/controls/grid/smart-grid/ai-toolbar-tool.md
  docs/controls/grid/smart-grid/custom-column-ai.md
  docs/controls/inline-aiprompt/accessibility/key-nav.md
  docs/controls/inline-aiprompt/accessibility/overview.md
  docs/controls/inline-aiprompt/get-started.md
  docs/controls/inline-aiprompt/inlineaiprompt-overview.PNG
  docs/controls/inline-aiprompt/overview.md
  docs/controls/inline-aiprompt/streaming.md
  docs/controls/inline-aiprompt/templates.md
  docs/controls/speechtotextbutton/appearance.md
  docs/controls/speechtotextbutton/get-started.md
  docs/controls/speechtotextbutton/overview.md
  docs/controls/speechtotextbutton/speechtotextbutton.png
  docs/docs-builder.yml
  docs/intro/installation/npm.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/installation/system-requirements/jquery-support.md
  docs/api/javascript/dataviz/ui/diagram.md
  docs/api/javascript/ui/form.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/speechtotextbutton.md
  docs/api/javascript/ui/tabstrip.md
  docs/controls/appbar/accessibility/overview.md
  docs/controls/grid/smart-grid/ai-toolbar-tool.md
  docs/intro/installation/npm.md
  docs/intro/supporting/jquery-support.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/installation/system-requirements/jquery-support.md
  docs/api/javascript/dataviz/ui/diagram.md
  docs/api/javascript/ui/form.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/speechtotextbutton.md
  docs/api/javascript/ui/tabstrip.md
  docs/controls/appbar/accessibility/overview.md
  docs/controls/grid/smart-grid/ai-toolbar-tool.md
  docs/intro/installation/npm.md
  docs/intro/supporting/jquery-support.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  VERSION
Owners: none
