Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan

chore: update build command in ci wf
  .github/workflows/CI.yml
Owners: @VicTachev, @nenchef

chore: update build command in ci wf
  .github/workflows/CI.yml
Owners: @VicTachev, @nenchef

Sync with Kendo UI Professional
  VERSION
  docs-aspnet/_config.yml
  docs-aspnet/ai-components-and-features.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  tests/unit/listbox/draganddrop.js
  tests/unit/notification/api.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/ai-components-and-features.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/ai/overview.md
  docs-aspnet/ai/troubleshooting.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs/_config.yml
  docs/api/javascript/dataviz/ui/diagram.md
  docs/api/javascript/ui/form.md
  docs/api/javascript/ui/smartpastebutton.md
  docs/docs-builder.yml
  src/kendo.data.js
  tests/helpers/unit/smartpastebutton-utils.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/multiselect.md
  docs/controls/grid/smart-grid/ai-toolbar-assistant.md
  docs/controls/grid/smart-grid/ai-toolbar-tool.md
  docs/controls/grid/smart-grid/semantic-search.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/multiselect.md
  docs/controls/grid/smart-grid/ai-toolbar-assistant.md
  docs/controls/grid/smart-grid/ai-toolbar-tool.md
  docs/controls/grid/smart-grid/semantic-search.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2018-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/2020-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/2021-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/2022-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/2023-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/2024-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/overview.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2018-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/2020-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/2021-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/2022-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/2023-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/2024-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/overview.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs/backwards-compatibility/2026-backward-compatibility.md
  docs/knowledge-base/correcting-reorder-issue-listbox-kendo-ui-jquery.md
  docs/knowledge-base/hidden-columns-row-reorderable-grid.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs/backwards-compatibility/2026-backward-compatibility.md
  docs/knowledge-base/correcting-reorder-issue-listbox-kendo-ui-jquery.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs-aspnet/html-helpers/pdf/pdfviewer/dpl-processing.md
  docs/controls/PDFViewer/dpl-processing.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs-aspnet/html-helpers/pdf/pdfviewer/dpl-processing.md
  docs/controls/PDFViewer/dpl-processing.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai-components-and-features.md
  docs-aspnet/ai/overview.md
  docs-aspnet/ai/troubleshooting.md
  docs/ai-components.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai-components-and-features.md
  docs-aspnet/ai/overview.md
  docs-aspnet/ai/troubleshooting.md
  docs/ai-components.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs-aspnet/html-helpers/data-management/grid/search-panel.md
  docs/ai-components.md
  docs/controls/grid/search-panel.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  README.md
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs-aspnet/html-helpers/data-management/grid/search-panel.md
  docs/ai-components.md
  docs/controls/grid/search-panel.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/upload/drag-and-drop.md
  docs/framework/templates/essentials.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/helper-basics/using-client-templates.md
  docs/knowledge-base/bell-alert-icon-telerik-components.md
  docs/knowledge-base/maskedtextbox-unmaskonpost-ajax-grid-editing.md
  src/core/base/class.js
  src/core/base/widget.js
  src/core/index.js
  src/core/models/dependency-container.js
  src/core/models/index.js
  src/core/service-container.js
  src/core/services/color.service.js
  src/core/services/css-properties.service.js
  src/core/services/culture.service.js
  src/core/services/date-formatter.service.js
  src/core/services/date-parser.service.js
  src/core/services/date-utils.service.js
  src/core/services/defaults.service.js
  src/core/services/dom-utils.service.js
  src/core/services/effects.service.js
  src/core/services/event-map.service.js
  src/core/services/file-utils.service.js
  src/core/services/focus-utils.service.js
  src/core/services/formatter.service.js
  src/core/services/html.service.js
  src/core/services/input.service.js
  src/core/services/kendo-culture-to-intl.service.js
  src/core/services/kendo-jquery.service.js
  src/core/services/mouse-event-normalizer.service.js
  src/core/services/namespace.service.js
  src/core/services/number-formatter.service.js
  src/core/services/number-parser.service.js
  src/core/services/property-access.service.js
  src/core/services/selector.service.js
  src/core/services/support.service.js
  src/core/services/template.service.js
  src/core/services/timezone.service.js
  src/core/services/type-utils.service.js
  src/core/services/utils.service.js
  src/core/services/widget-registry.service.js
  src/core/services/widget-utils.service.js
  src/kendo.core.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/knowledge-base/tooltip-extra-text-jquery-chart.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/tooltip-extra-text-jquery-chart.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/copying-events-kendo-ui-jquery-scheduler.md
  docs/knowledge-base/show-context-menu-treeview-nodes.md
  docs/knowledge-base/tooltip-on-disabled-button-aspnetcore.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/accessibility/overview.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/binding.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/getting-started.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/overview.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/razor-pages.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/tooltips.md
  docs/api/javascript/dataviz/ui/diagram.md
  docs/controls/diagram/accessibility/key-nav.md
  docs/controls/diagram/accessibility/overview.md
  docs/controls/diagram/binding.md
  docs/controls/diagram/connections.md
  docs/controls/diagram/overview.md
  docs/controls/diagram/tooltips.md
  docs/knowledge-base/copying-events-kendo-ui-jquery-scheduler.md
  docs/knowledge-base/show-context-menu-treeview-nodes.md
  docs/knowledge-base/tooltip-on-disabled-button-aspnetcore.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/map/azure-tiles.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/map/azure-tiles.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/charts/appearance.md
  docs-aspnet/html-helpers/charts/chart-types/categorical-charts.md
  docs/api/javascript/dataviz/ui/chart.md
  docs/controls/charts/appearance.md
  docs/controls/charts/chart-types/categorical-charts.md
  package-lock.json
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/accessibility/overview.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/binding.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/getting-started.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/overview.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/razor-pages.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/tooltips.md
  docs/api/javascript/dataviz/ui/diagram.md
  docs/controls/diagram/accessibility/key-nav.md
  docs/controls/diagram/accessibility/overview.md
  docs/controls/diagram/binding.md
  docs/controls/diagram/connections.md
  docs/controls/diagram/overview.md
  docs/controls/diagram/tooltips.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs-aspnet/html-helpers/interactivity/sortable/integration/tabstrip.md
  docs-aspnet/html-helpers/navigation/tabstrip/accessibility/overview.md
  docs/api/javascript/ui/notification.md
  docs/backwards-compatibility/2026-backward-compatibility.md
  docs/controls/tabstrip/accessibility/overview.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs-aspnet/html-helpers/interactivity/sortable/integration/tabstrip.md
  docs-aspnet/html-helpers/navigation/tabstrip/accessibility/overview.md
  docs/api/javascript/ui/notification.md
  docs/backwards-compatibility/2026-backward-compatibility.md
  docs/controls/tabstrip/accessibility/overview.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/chat.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/propertygrid.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/chat.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/propertygrid.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  src/core/services/dom-utils.service.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  .github/ISSUE_TEMPLATE.md
  docs/knowledge-base/adjusting-hover-effect-darker-colors-kendo-ui-jquery-charts.md
  docs/knowledge-base/create-rounded-corners-column-chart-bars-kendo-ui-jquery.md
Owners: @VicTachev, @nenchef, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs/backwards-compatibility/2026-backward-compatibility.md
  docs/knowledge-base/maintain-selection-position-kendo-ui-jquery-multiselect.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/intro/creating-custom-bundles.md
  docs/intro/installation/custom-builder-cli.md
  docs/intro/installation/images/custom-builder-grid-features.png
  docs/intro/installation/images/custom-builder-select-components.png
  docs/intro/installation/images/nvm-windows.png
  docs/intro/installation/node-setup-windows-nvm.md
  package-lock.json
  package.json
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs/knowledge-base/multiselect-bold-matched-text-filtering.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/submitting-filled-pdf-forms-kendo-ui-jquery-pdfviewer.md
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/grid.md
  docs/controls/grid/export/csv-export.md
  docs/controls/grid/overview.md
  package-lock.json
  package.json
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs/controls/grid/export/csv-export.md
  src/kendo.tabstrip.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/scheduler-create-event-from-selected-time-slots.md
  src/kendo.selectable.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov
