Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

Sync with Kendo UI Professional
  docs/accessibility/accessibility-overview.md
  docs/api/javascript/drawing.md
  docs/api/javascript/kendo.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/scheduler.md
  docs/api/javascript/ui/treelist.md
  docs/backwards-compatibility/2015-backward-compatibility.md
  docs/backwards-compatibility/2016-backward-compatibility.md
  docs/backwards-compatibility/2017-backward-compatibility.md
  docs/backwards-compatibility/2018-backward-compatibility.md
  docs/backwards-compatibility/2019-backward-compatibility.md
  docs/backwards-compatibility/2020-backward-compatibility.md
  docs/backwards-compatibility/2021-backward-compatibility.md
  docs/backwards-compatibility/2022-backward-compatibility.md
  docs/backwards-compatibility/2023-backward-compatibility.md
  docs/backwards-compatibility/2024-backward-compatibility.md
  docs/backwards-compatibility/2025-backward-compatibility.md
  docs/controls/appbar/accessibility/overview.md
  docs/controls/colorgradient/contrast-tool.md
  docs/controls/flatcolorpicker/contrast-tool.md
  docs/docs-builder.yml
  docs/framework/mvvm/bindings/attr.md
  docs/framework/mvvm/bindings/checked.md
  docs/intro/supporting/jquery-support.md
  docs/intro/widget-basics/content-security-policy.md
  docs/knowledge-base/web-api-server-operations.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  src/kendo.tabstrip.js
  typescript/kendo.all.d.ts
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  .eslintignore
  .eslintrc.json
  docs/api/javascript/ui/chat.md
  docs/api/javascript/ui/grid.md
  docs/controls/appbar/accessibility/overview.md
  src/kendo.core.js
  src/kendo.menu.js
  src/kendo.router.js
  src/kendo.textarea.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/aiprompt.md
  package-lock.json
  package.json
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/_config.yml
  docs-aspnet/accessibility/accessibility-compliance.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/conversational-ui/inline-aiprompt/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/conversational-ui/inline-aiprompt/accessibility/overview.md
  docs-aspnet/html-helpers/conversational-ui/inline-aiprompt/events.md
  docs-aspnet/html-helpers/conversational-ui/inline-aiprompt/getting-started.md
  docs-aspnet/html-helpers/conversational-ui/inline-aiprompt/images/inlineaiprompt-getting-started.png
  docs-aspnet/html-helpers/conversational-ui/inline-aiprompt/overview.md
  docs-aspnet/html-helpers/conversational-ui/inline-aiprompt/streaming.md
  docs-aspnet/html-helpers/conversational-ui/inline-aiprompt/templates.md
  docs-aspnet/introduction.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/_config.yml
  docs/api/javascript/ui/chat.md
  docs/backwards-compatibility/2025-backward-compatibility.md
  docs/controls/chat/chat-items.md
  docs/controls/chat/data-binding.md
  docs/controls/chat/getting-started.md
  docs/controls/chat/images/chat-overview.png
  docs/controls/chat/integrations/connect-to-ms-bot-framework.md
  docs/controls/chat/integrations/signalr-p-to-p.md
  docs/controls/chat/media.md
  docs/controls/chat/overview.md
  docs/controls/chat/suggestions.md
  docs/controls/chat/templates.md
  docs/controls/chat/toolbar.md
  docs/controls/chat/tools.md
  docs/docs-builder.yml
  docs/styles-and-layout/sass-themes/compatibility.md
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Fixed DataSource Read method link
  docs-aspnet/html-helpers/data-management/grid/faq.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/ai/prompt-library.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/data-management/grid/smart-grid/ai-toolbar-tool.md
  docs-aspnet/html-helpers/data-management/grid/smart-grid/custom-column-ai.md
  docs/controls/toolbar/accessibility/keyboard-navigation.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai/prompt-library.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/data-management/grid/smart-grid/ai-toolbar-tool.md
  docs-aspnet/html-helpers/data-management/grid/smart-grid/custom-column-ai.md
  docs/controls/toolbar/accessibility/keyboard-navigation.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/dynamically-change-tooltip-values-kendo-jquery-arcgauge.md
  docs/knowledge-base/hide-disable-action-buttons-sheet-bar-jquery-spreadsheet.md
  docs/knowledge-base/toggle-boolean-values-spreadsheet-kendo-jquery.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/aiprompt/output-actions.md
  docs/knowledge-base/dynamically-change-tooltip-values-kendo-jquery-arcgauge.md
  docs/knowledge-base/hide-disable-action-buttons-sheet-bar-jquery-spreadsheet.md
  docs/knowledge-base/improve-scroll-arrow-visibility-kendo-ui-jquery-menu.md
  docs/knowledge-base/toggle-boolean-values-spreadsheet-kendo-jquery.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai/mcp-server.md
  docs-aspnet/ai/prompt-library.md
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/overview.md
  docs-aspnet/html-helpers/conversational-ui/chat/ai-integration.md
  docs-aspnet/html-helpers/conversational-ui/chat/binding/razor-page.md
  docs-aspnet/html-helpers/conversational-ui/chat/binding/remote-binding.md
  docs-aspnet/html-helpers/conversational-ui/chat/file-uploads-and-media.md
  docs-aspnet/html-helpers/conversational-ui/chat/getting-started.md
  docs-aspnet/html-helpers/conversational-ui/chat/images/chat-getting-started.png
  docs-aspnet/html-helpers/conversational-ui/chat/overview.md
  docs-aspnet/html-helpers/conversational-ui/chat/signalr-p-to-p.md
  docs-aspnet/html-helpers/conversational-ui/chat/suggestions.md
  docs-aspnet/html-helpers/conversational-ui/chat/templates.md
  docs-aspnet/html-helpers/conversational-ui/chat/tools.md
  docs/api/javascript/ui/chat.md
  docs/knowledge-base/changing-outlier-colors-scatter-chart-kendo-jquery.md
  docs/knowledge-base/disable-legend-marker-hover-scatterline-chart.md
  docs/knowledge-base/ensure-value-axis-labels-include-zero-kendo-ui-jquery.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai/mcp-server.md
  docs-aspnet/ai/prompt-library.md
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/backwards-compatibility/overview.md
  docs-aspnet/html-helpers/conversational-ui/chat/ai-integration.md
  docs-aspnet/html-helpers/conversational-ui/chat/binding/razor-page.md
  docs-aspnet/html-helpers/conversational-ui/chat/binding/remote-binding.md
  docs-aspnet/html-helpers/conversational-ui/chat/file-uploads-and-media.md
  docs-aspnet/html-helpers/conversational-ui/chat/getting-started.md
  docs-aspnet/html-helpers/conversational-ui/chat/images/chat-getting-started.png
  docs-aspnet/html-helpers/conversational-ui/chat/overview.md
  docs-aspnet/html-helpers/conversational-ui/chat/signalr-p-to-p.md
  docs-aspnet/html-helpers/conversational-ui/chat/suggestions.md
  docs-aspnet/html-helpers/conversational-ui/chat/templates.md
  docs-aspnet/html-helpers/conversational-ui/chat/tools.md
  docs/api/javascript/ui/chat.md
  docs/knowledge-base/changing-outlier-colors-scatter-chart-kendo-jquery.md
  docs/knowledge-base/disable-legend-marker-hover-scatterline-chart.md
  docs/knowledge-base/ensure-value-axis-labels-include-zero-kendo-ui-jquery.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/binding/custom-datasource.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/binding/custom-datasource.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs/knowledge-base/programmatically-validate-rows-kendo-ui-jquery-grid.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/programmatically-validate-rows-kendo-ui-jquery-grid.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai/mcp-server.md
  docs-aspnet/html-helpers/conversational-ui/chat/accessibility/overview.md
  docs-aspnet/html-helpers/conversational-ui/chat/ai-integration.md
  docs-aspnet/html-helpers/conversational-ui/chat/binding/razor-page.md
  docs-aspnet/html-helpers/conversational-ui/chat/suggestions.md
  docs-aspnet/html-helpers/data-management/grid/binding/razor-page.md
  docs/knowledge-base/reverse-numbers-kendo-ui-jquery-slider.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai/mcp-server.md
  docs-aspnet/html-helpers/conversational-ui/chat/accessibility/overview.md
  docs-aspnet/html-helpers/conversational-ui/chat/ai-integration.md
  docs-aspnet/html-helpers/conversational-ui/chat/binding/razor-page.md
  docs-aspnet/html-helpers/conversational-ui/chat/suggestions.md
  docs-aspnet/html-helpers/data-management/grid/binding/razor-page.md
  docs/knowledge-base/reverse-numbers-kendo-ui-jquery-slider.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/export/excel-export.md
  docs-aspnet/html-helpers/data-management/grid/export/pdf-export.md
  docs/api/javascript/dataviz/ui/chart.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/export/excel-export.md
  docs-aspnet/html-helpers/data-management/grid/export/pdf-export.md
  docs/api/javascript/dataviz/ui/chart.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/data/datasource.md
  docs/api/javascript/data/pivotdatasource.md
  docs/api/javascript/dataviz/navigator.md
  docs/api/javascript/dataviz/ui/stock-chart.md
  docs/api/javascript/ui/dropdownbutton.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/imageeditor.md
  docs/api/javascript/ui/mediaplayer.md
  docs/api/javascript/ui/pivotgrid.md
  docs/api/javascript/ui/scheduler.md
  docs/api/javascript/wizard/step.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/data/datasource.md
  docs/api/javascript/data/pivotdatasource.md
  docs/api/javascript/dataviz/navigator.md
  docs/api/javascript/dataviz/ui/stock-chart.md
  docs/api/javascript/ui/dropdownbutton.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/imageeditor.md
  docs/api/javascript/ui/mediaplayer.md
  docs/api/javascript/ui/pivotgrid.md
  docs/api/javascript/ui/scheduler.md
  docs/api/javascript/wizard/step.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/overview.md
  docs-aspnet/html-helpers/editors/combobox/grouping.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/overview.md
  docs-aspnet/html-helpers/editors/combobox/grouping.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  package-lock.json
  package.json
Owners: @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/html-helpers/editors/timedurationpicker/events.md
  docs-aspnet/html-helpers/editors/timedurationpicker/model-binding.md
  docs-aspnet/html-helpers/editors/timedurationpicker/overview.md
  docs-aspnet/html-helpers/editors/timedurationpicker/razor-page.md
  docs/api/javascript/ui/aiprompt.md
  src/kendo.validator.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/html-helpers/editors/timedurationpicker/events.md
  docs-aspnet/html-helpers/editors/timedurationpicker/model-binding.md
  docs-aspnet/html-helpers/editors/timedurationpicker/overview.md
  docs-aspnet/html-helpers/editors/timedurationpicker/razor-page.md
  docs/api/javascript/ui/aiprompt.md
  src/kendo.validator.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/dataviz/ui/diagram.md
  package-lock.json
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  src/kendo.validator.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.validator.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/html-helpers/datasource/types.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/datasource/types.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/charts/chart-types/sankey-charts.md
  docs-aspnet/html-helpers/charts/treemap/getting-started.md
  docs-aspnet/html-helpers/data-management/grid/row-drag-drop.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/export/excel-export.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/events.md
  docs-aspnet/html-helpers/diagrams-and-maps/map/events.md
  docs-aspnet/html-helpers/diagrams-and-maps/map/getting-started.md
  docs-aspnet/html-helpers/gauges/circulargauge/getting-started.md
  docs-aspnet/html-helpers/gauges/lineargauge/getting-started.md
  docs-aspnet/html-helpers/gauges/radialgauge/getting-started.md
  docs-aspnet/html-helpers/layout/tilelayout/add-remove.md
  docs-aspnet/html-helpers/scheduling/gantt/column-menu.md
  docs-aspnet/knowledge-base/chart-align-zero-multiple-axes.md
  docs-aspnet/knowledge-base/chart-bind-to-dynamic-series.md
  docs-aspnet/knowledge-base/chart-bind-to-signalr.md
  docs-aspnet/knowledge-base/chart-customize-category-labels.md
  docs-aspnet/knowledge-base/chart-in-grid-column.md
  docs-aspnet/knowledge-base/chart-no-data-message.md
  docs-aspnet/knowledge-base/chart-set-custom-color-for-each-chart-series.md
  docs-aspnet/knowledge-base/chart-vertical-scrollbar-for-panning.md
  docs-aspnet/knowledge-base/drilldown-chart-plot-threshold-line.md
  docs-aspnet/troubleshoot/troubleshooting-scaffolding.md
  docs-aspnet/troubleshoot/troubleshooting-validation.md
  docs-aspnet/troubleshoot/troubleshooting.md
  docs/docs-builder.yml
  docs/knowledge-base/customizing-tick-labels-on-kendo-slider.md
  docs/knowledge-base/daterangepicker-show-one-month.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/charts/chart-types/sankey-charts.md
  docs-aspnet/html-helpers/charts/treemap/getting-started.md
  docs-aspnet/html-helpers/data-management/grid/row-drag-drop.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/export/excel-export.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/events.md
  docs-aspnet/html-helpers/diagrams-and-maps/map/events.md
  docs-aspnet/html-helpers/diagrams-and-maps/map/getting-started.md
  docs-aspnet/html-helpers/gauges/circulargauge/getting-started.md
  docs-aspnet/html-helpers/gauges/lineargauge/getting-started.md
  docs-aspnet/html-helpers/gauges/radialgauge/getting-started.md
  docs-aspnet/html-helpers/layout/tilelayout/add-remove.md
  docs-aspnet/html-helpers/scheduling/gantt/column-menu.md
  docs-aspnet/knowledge-base/chart-align-zero-multiple-axes.md
  docs-aspnet/knowledge-base/chart-bind-to-dynamic-series.md
  docs-aspnet/knowledge-base/chart-bind-to-signalr.md
  docs-aspnet/knowledge-base/chart-customize-category-labels.md
  docs-aspnet/knowledge-base/chart-in-grid-column.md
  docs-aspnet/knowledge-base/chart-no-data-message.md
  docs-aspnet/knowledge-base/chart-set-custom-color-for-each-chart-series.md
  docs-aspnet/knowledge-base/chart-vertical-scrollbar-for-panning.md
  docs-aspnet/knowledge-base/drilldown-chart-plot-threshold-line.md
  docs-aspnet/troubleshoot/troubleshooting-scaffolding.md
  docs-aspnet/troubleshoot/troubleshooting-validation.md
  docs-aspnet/troubleshoot/troubleshooting.md
  docs/controls/filemanager/drag-and-drop.md
  docs/docs-builder.yml
  docs/knowledge-base/customizing-tick-labels-on-kendo-slider.md
  docs/knowledge-base/daterangepicker-show-one-month.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/docs-builder-core.yml
  docs/docs-builder.yml
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/docs-builder-core.yml
  docs/docs-builder.yml
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai/mcp-server.md
  docs-aspnet/docs-builder-core.yml
  docs/docs-builder.yml
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/dataviz/ui/chart.md
  docs/api/javascript/dataviz/ui/diagram.md
  docs/api/javascript/ui/editor.md
  docs/api/javascript/ui/form.md
  docs/api/javascript/ui/validator.md
  docs/knowledge-base/prevent-grid-row-collapse-kendo-jquery-form-detailinit.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/dataviz/ui/chart.md
  docs/api/javascript/kendo.md
  docs/api/javascript/ui/editor.md
  docs/knowledge-base/delete-key-trigger-dependency-line-dialog-kendo-ui-jquery-gantt.md
  docs/knowledge-base/dynamically-position-pie-chart-slice-labels.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/_config.yml
  docs/ai-assistant/mcp-server.md
  docs/api/javascript/dataviz/ui/diagram.md
Owners: @NikoPenev21, @nelito987, @martintabakov

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan
