Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan

Update kendo.messages.de-AT.js
  src/messages/kendo.messages.de-AT.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  .eslintrc.json
  docs-aspnet/backwards-compatibility/2024-backwards-compatibility.md
  docs/knowledge-base/limit-sortable-columns-kendo-grid.md
  tests/window/modals-fixture.html
  tests/window/templates-fixture.html
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Update kendo.messages.fr-CA.js
  src/messages/kendo.messages.fr-CA.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Update kendo.messages.fr-CA.js
  src/messages/kendo.messages.fr-CA.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/datetimepicker/interval.md
  docs-aspnet/html-helpers/editors/datetimepicker/overview.md
  docs-aspnet/html-helpers/editors/timepicker/interval.md
  docs-aspnet/html-helpers/editors/timepicker/overview.md
  docs/api/javascript/ui/maskedtextbox.md
  docs/api/javascript/ui/popover.md
  docs/api/javascript/ui/scheduler.md
  docs/api/javascript/ui/scrollview.md
  docs/api/javascript/ui/signature.md
  docs/api/javascript/ui/splitbutton.md
  docs/controls/datetimepicker/interval.md
  docs/controls/datetimepicker/overview.md
  docs/controls/timepicker/interval.md
  docs/controls/timepicker/overview.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Update kendo.messages.en-US.js
  src/messages/kendo.messages.en-US.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Update kendo.messages.fr-FR.js
  src/messages/kendo.messages.fr-FR.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/security/security-and-validation.md
  docs-aspnet/security/security-faq.md
  docs-aspnet/security/security.md
  docs/api/javascript/ui/dropdowntree.md
  docs/api/javascript/ui/editor.md
  docs/api/javascript/ui/filemanager.md
  docs/api/javascript/ui/filtermenu.md
  docs/api/javascript/ui/floatingactionbutton.md
  docs/api/javascript/ui/gantt.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/imageeditor.md
  docs/knowledge-base/customize-search-kendo-grid-toolbar-enter-key.md
  docs/knowledge-base/how-to-set-initial-column-width-minresizablewidth-kendo-ui-grid.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Update kendo.messages.fr-CA.js
  src/messages/kendo.messages.fr-CA.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Update upload.md
  docs/api/javascript/ui/upload.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  src/colorpicker/colorgradient.js
  src/colorpicker/colorpalette.js
  src/colorpicker/contrastToolUtils.js
  src/colorpicker/flatcolorpicker.js
  src/kendo.core.js
  src/kendo.data.js
  src/kendo.list.js
  src/kendo.maskedtextbox.js
  src/kendo.menu.js
  src/kendo.multiselect.js
  src/kendo.pager.js
  src/kendo.panelbar.js
  src/kendo.slider.js
  src/kendo.tabstrip.js
  src/kendo.virtuallist.js
  src/kendo.window.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_contentTemplates/icons-list-section.md
  docs-aspnet/getting-started-core/first-steps-cli.md
  docs-aspnet/getting-started-core/first-steps-vs-extensions.md
  docs-aspnet/getting-started-core/first-steps-vs-mac.md
  docs-aspnet/getting-started-core/first-steps.md
  docs-aspnet/html-helpers/layout/gridlayout/overview.md
  docs-aspnet/html-helpers/layout/stacklayout/overview.md
  docs-aspnet/styles-and-layout/components-rendering-overview.md
  docs-aspnet/styles-and-layout/less-themes/less-themes-migration.md
  docs-aspnet/styles-and-layout/sass-themes/browser-support.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs-aspnet/styles-and-layout/sass-themes/customization.md
  docs-aspnet/styles-and-layout/sass-themes/figma-kits.md
  docs-aspnet/styles-and-layout/sass-themes/font-icons-migration.md
  docs-aspnet/styles-and-layout/sass-themes/font-icons.md
  docs-aspnet/styles-and-layout/sass-themes/installation.md
  docs-aspnet/styles-and-layout/sass-themes/override-theme-styles.md
  docs-aspnet/styles-and-layout/sass-themes/overview.md
  docs-aspnet/styles-and-layout/sass-themes/sass-theme-builder.md
  docs-aspnet/styles-and-layout/sass-themes/svg-icons.md
  docs-aspnet/styles-and-layout/sass-themes/swatches.md
  docs-aspnet/vs-code-integration/introduction.md
  docs-aspnet/vs-integration/new-project-wizard.md
  docs/_config.yml
  docs/api/javascript/dataviz/ui/chart.md
  docs/security/security-and-validation.md
  docs/security/security-faq.md
  docs/security/security-information.md
  src/messages/kendo.messages.en-US.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/security/security-faq.md
  docs/security/security-faq.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/toolbar.md
  docs-aspnet/html-helpers/scheduling/scheduler/pdf-export.md
  docs-aspnet/knowledge-base/scheduler-preserve-buttongroup-view-in-adaptive-rendering.md
  docs/controls/mediaplayer/accessibility/keyboard-navigation.md
  docs/knowledge-base/add-control-to-customeditor.md
  docs/knowledge-base/add-icon-custom-tool.md
  docs/knowledge-base/agenda-view-pdf-export-with-paging.md
  docs/knowledge-base/how-to-programmatically-change-grid-column-width-kendo-ui.md
  docs/knowledge-base/timeline-with-dynamic-length.md
  package-lock.json
  package.json
  src/kendo.button.menu.js
  src/kendo.buttongroup.js
  src/kendo.dropdownbutton.js
  src/kendo.menu.js
  src/kendo.pager.js
  src/kendo.popup.js
  src/kendo.toolbar.js
  tests/calendar/navigation.js
  tests/menu/api.js
  tests/menu/aria.js
  tests/menu/contextmenu.js
  tests/menu/datasource.js
  tests/menu/init.js
  tests/menu/keyboard.js
  tests/menu/open-on-click.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/media/mediaplayer/accessibility/keyboard-navigation.md
  docs/_config.yml
  docs/api/javascript/ui/drawer.md
  docs/api/javascript/ui/toolbar.md
  docs/api/javascript/ui/treelist.md
  docs/api/javascript/ui/treeview.md
  docs/api/javascript/ui/ui.md
  docs/api/javascript/ui/upload.md
  docs/knowledge-base/move-caret-end-kendo-ui-editor.md
  package-lock.json
  package.json
  src/kendo.calendar.js
  src/kendo.core.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/chat.md
  docs/controls/PDFViewer/pdfjs-processing.md
  src/kendo.autocomplete.js
  src/kendo.dialog.js
  src/kendo.tabstrip.js
  src/kendo.toolbar.js
  src/kendo.view.js
  tests/tabstrip/ajax-loading.js
  tests/tabstrip/api.js
  tests/tabstrip/aria.js
  tests/tabstrip/initialization.js
  tests/tabstrip/navigation.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs/_config.yml
  docs/api/javascript/ui/spreadsheet.md
  package-lock.json
  package.json
  src/kendo.binder.js
  src/kendo.core.js
  src/kendo.data.js
  src/kendo.menu.js
  tests/menu/keyboard.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/charts/appearance.md
  docs-aspnet/html-helpers/scheduling/gantt/getting-started-gantt.md
  docs/_config.yml
  docs/api/javascript/dataviz/ui/chart.md
  docs/backwards-compatibility/2012-backward-compatibility.md
  docs/backwards-compatibility/2013-backward-compatibility.md
  docs/backwards-compatibility/2014-backward-compatibility.md
  docs/backwards-compatibility/2015-backward-compatibility.md
  docs/backwards-compatibility/2016-backward-compatibility.md
  docs/backwards-compatibility/2017-backward-compatibility.md
  docs/backwards-compatibility/2018-backward-compatibility.md
  docs/backwards-compatibility/2019-backward-compatibility.md
  docs/backwards-compatibility/2020-backward-compatibility.md
  docs/backwards-compatibility/2021-backward-compatibility.md
  docs/backwards-compatibility/2022-backward-compatibility.md
  docs/backwards-compatibility/2023-backward-compatibility.md
  docs/backwards-compatibility/2024-backward-compatibility.md
  docs/controls/charts/appearance.md
  docs/styles-and-layout/sass-themes/customization.md
  package-lock.json
  package.json
  src/kendo.data.js
  src/kendo.html.icon.js
  src/kendo.listbox.js
  src/kendo.panelbar.js
  src/kendo.toolbar.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2024-backwards-compatibility.md
  docs-aspnet/html-helpers/data-management/grid/editing/popup.md
  docs-aspnet/html-helpers/editors/dateinput/overview.md
  docs-aspnet/html-helpers/editors/datepicker/overview.md
  docs-aspnet/html-helpers/editors/daterangepicker/overview.md
  docs-aspnet/html-helpers/editors/timepicker/overview.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs-aspnet/styles-and-layout/sass-themes/customization.md
  docs-aspnet/styles-and-layout/sass-themes/overview.md
  docs-aspnet/styles-and-layout/sass-themes/sass-theme-builder.md
  docs/api/javascript/ui/switch.md
  docs/api/javascript/ui/taskboard.md
  docs/api/javascript/ui/timepicker.md
  docs/api/javascript/ui/window.md
  docs/controls/grid/binding/data-binding.md
  docs/introduction.md
  docs/knowledge-base/how-to-sync-listview-selection-with-checkboxes-kendo-ui.md
  docs/styles-and-layout/sass-themes/compatibility.md
  docs/third-party/kinvey.md
  src/colorpicker/colorgradient.js
  src/kendo.autocomplete.js
  src/kendo.core.js
  src/kendo.resizable.js
  src/kendo.splitter.js
  src/kendo.toolbar.js
  src/kendo.window.js
  tests/splitter/expandcollapse.js
  tests/splitter/initialization.js
  tests/splitter/navigation.js
  tests/splitter/paneresizing.js
  tests/splitter/panesizing.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2024-backwards-compatibility.md
  docs-aspnet/html-helpers/data-management/grid/editing/popup.md
  docs-aspnet/html-helpers/editors/dateinput/overview.md
  docs-aspnet/html-helpers/editors/datepicker/overview.md
  docs-aspnet/html-helpers/editors/daterangepicker/overview.md
  docs-aspnet/html-helpers/editors/timepicker/overview.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs-aspnet/styles-and-layout/sass-themes/customization.md
  docs-aspnet/styles-and-layout/sass-themes/overview.md
  docs-aspnet/styles-and-layout/sass-themes/sass-theme-builder.md
  docs/api/javascript/ui/switch.md
  docs/api/javascript/ui/taskboard.md
  docs/api/javascript/ui/timepicker.md
  docs/api/javascript/ui/window.md
  docs/controls/grid/binding/data-binding.md
  docs/introduction.md
  docs/knowledge-base/how-to-sync-listview-selection-with-checkboxes-kendo-ui.md
  docs/styles-and-layout/sass-themes/compatibility.md
  docs/third-party/kinvey.md
  src/colorpicker/colorgradient.js
  src/kendo.autocomplete.js
  src/kendo.core.js
  src/kendo.resizable.js
  src/kendo.splitter.js
  src/kendo.toolbar.js
  src/kendo.window.js
  tests/splitter/expandcollapse.js
  tests/splitter/initialization.js
  tests/splitter/navigation.js
  tests/splitter/paneresizing.js
  tests/splitter/panesizing.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/spreadsheet/end-user/user-guide.md
  docs-aspnet/html-helpers/data-management/spreadsheet/images/spreadsheet-insert-image-pop-up.png
  docs-aspnet/html-helpers/data-management/spreadsheet/images/spreadsheet-insert-image-tool.png
  docs-aspnet/html-helpers/helper-basics/content-security-policy.md
  docs/api/javascript/ui/spreadsheet.md
  docs/backwards-compatibility/2024-backward-compatibility.md
  docs/controls/charts/accessibility/overview.md
  docs/controls/spreadsheet/end-user/user-guide.md
  docs/controls/spreadsheet/images/spreadsheet-insert-image-pop-up.png
  docs/controls/spreadsheet/images/spreadsheet-insert-image-tool.png
  docs/controls/spreadsheet/import-and-export-data/activate-export.png
  docs/controls/spreadsheet/import-and-export-data/export-to-excel.png
  docs/controls/spreadsheet/spreadsheet_overview.png
  docs/framework/mvvm/overview.md
  docs/intro/installation/vscode-integration.md
  docs/intro/widget-basics/content-security-policy.md
  docs/styles-and-layout/less-themes/less-themes-migration.md
  docs/styles-and-layout/sass-themes/browser-support.md
  docs/styles-and-layout/sass-themes/customization.md
  docs/styles-and-layout/sass-themes/figma-ui-kits.md
  docs/styles-and-layout/sass-themes/font-icons-migration.md
  docs/styles-and-layout/sass-themes/font-icons.md
  docs/styles-and-layout/sass-themes/installation.md
  docs/styles-and-layout/sass-themes/override-theme-styles.md
  docs/styles-and-layout/sass-themes/overview.md
  docs/styles-and-layout/sass-themes/svg-icons.md
  docs/styles-and-layout/sass-themes/swatches.md
  docs/styles-and-layout/sass-themes/themebuilder.md
  docs/web.config
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/spreadsheet/end-user/user-guide.md
  docs-aspnet/html-helpers/data-management/spreadsheet/images/spreadsheet-insert-image-pop-up.png
  docs-aspnet/html-helpers/data-management/spreadsheet/images/spreadsheet-insert-image-tool.png
  docs-aspnet/html-helpers/helper-basics/content-security-policy.md
  docs/api/javascript/ui/spreadsheet.md
  docs/backwards-compatibility/2024-backward-compatibility.md
  docs/controls/charts/accessibility/overview.md
  docs/controls/spreadsheet/end-user/user-guide.md
  docs/controls/spreadsheet/images/spreadsheet-insert-image-pop-up.png
  docs/controls/spreadsheet/images/spreadsheet-insert-image-tool.png
  docs/controls/spreadsheet/import-and-export-data/activate-export.png
  docs/controls/spreadsheet/import-and-export-data/export-to-excel.png
  docs/controls/spreadsheet/spreadsheet_overview.png
  docs/framework/mvvm/overview.md
  docs/intro/installation/vscode-integration.md
  docs/intro/widget-basics/content-security-policy.md
  docs/styles-and-layout/less-themes/less-themes-migration.md
  docs/styles-and-layout/sass-themes/browser-support.md
  docs/styles-and-layout/sass-themes/customization.md
  docs/styles-and-layout/sass-themes/figma-ui-kits.md
  docs/styles-and-layout/sass-themes/font-icons-migration.md
  docs/styles-and-layout/sass-themes/font-icons.md
  docs/styles-and-layout/sass-themes/installation.md
  docs/styles-and-layout/sass-themes/override-theme-styles.md
  docs/styles-and-layout/sass-themes/overview.md
  docs/styles-and-layout/sass-themes/svg-icons.md
  docs/styles-and-layout/sass-themes/swatches.md
  docs/styles-and-layout/sass-themes/themebuilder.md
  docs/web.config
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/charts/no-data-template.md
  docs-aspnet/html-helpers/charts/overview.md
  docs-aspnet/html-helpers/charts/series-patterns.md
  docs-aspnet/installation/system-requirements/jquery-support.md
  docs/intro/supporting/jquery-support.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/charts/no-data-template.md
  docs-aspnet/html-helpers/charts/overview.md
  docs-aspnet/html-helpers/charts/series-patterns.md
  docs-aspnet/installation/system-requirements/jquery-support.md
  docs/intro/supporting/jquery-support.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/charts/overview.md
  docs-aspnet/installation/system-requirements/jquery-support.md
  docs/controls/charts/no-data-template.md
  docs/controls/charts/overview.md
  docs/intro/installation/npm.md
  docs/intro/supporting/jquery-support.md
  docs/redirects.conf
  tests/popup/popup.js
  tests/tooltip/tooltip.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/charts/overview.md
  docs/controls/charts/no-data-template.md
  docs/controls/charts/overview.md
  docs/intro/installation/npm.md
  docs/redirects.conf
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/extend-kendo-svg-icons-jquery.md
  docs/knowledge-base/how-to-display-chart-data-zoomed-to-last-30-days.md
  docs/knowledge-base/how-to-handle-click-events-on-multiselect-tags-kendo-ui.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/extend-kendo-svg-icons-jquery.md
  docs/knowledge-base/how-to-capture-sort-events-in-kendo-ui-spreadsheet.md
  docs/knowledge-base/how-to-display-chart-data-zoomed-to-last-30-days.md
  docs/knowledge-base/how-to-handle-click-events-on-multiselect-tags-kendo-ui.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/data/datasource.md
  docs/api/javascript/data/pivotdatasource.md
  docs/api/javascript/dataviz/ui/barcode.md
  docs/api/javascript/dataviz/ui/stock-chart.md
  docs/api/javascript/mobile/application.md
  docs/api/javascript/mobile/ui/actionsheet.md
  docs/api/javascript/mobile/ui/backbutton.md
  docs/api/javascript/mobile/ui/button.md
  docs/api/javascript/mobile/ui/buttongroup.md
  docs/api/javascript/mobile/ui/collapsible.md
  docs/api/javascript/mobile/ui/detailbutton.md
  docs/api/javascript/mobile/ui/drawer.md
  docs/api/javascript/mobile/ui/layout.md
  docs/api/javascript/mobile/ui/listview.md
  docs/api/javascript/mobile/ui/loader.md
  docs/api/javascript/mobile/ui/mobilewidget.md
  docs/api/javascript/mobile/ui/modalview.md
  docs/api/javascript/mobile/ui/navbar.md
  docs/api/javascript/mobile/ui/pane.md
  docs/api/javascript/mobile/ui/popover.md
  docs/api/javascript/mobile/ui/scroller.md
  docs/api/javascript/mobile/ui/scrollview.md
  docs/api/javascript/mobile/ui/splitview.md
  docs/api/javascript/mobile/ui/switch.md
  docs/api/javascript/mobile/ui/tabstrip.md
  docs/api/javascript/mobile/ui/view.md
  docs/api/javascript/ooxml/workbook.md
  docs/api/javascript/ui/captcha.md
  docs/api/javascript/ui/contextmenu.md
  docs/api/javascript/ui/dockmanager.md
  docs/api/javascript/ui/dropdownlist.md
  docs/api/javascript/ui/menu.md
  docs/api/javascript/ui/multiselect.md
  docs/api/javascript/ui/pdfviewer.md
  docs/api/javascript/ui/scheduler.md
  docs/api/javascript/ui/window.md
  docs/knowledge-base/clear-all-messages-kendo-ui-chat.md
  docs/knowledge-base/custom-currenttimemarker-scheduler.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/form.md
  src/kendo.core.js
  src/kendo.numerictextbox.js
  src/kendo.slider.js
  tests/pager/navigatable.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  package-lock.json
Owners: @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  package-lock.json
Owners: @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs-aspnet/getting-started-core/first-steps-vs-extensions.md
  docs-aspnet/getting-started-core/images/grid.png
  docs-aspnet/getting-started-core/images/naming.png
  docs-aspnet/vs-integration/configure-project-wizard.md
  docs-aspnet/vs-integration/convert-project-wizard.md
  docs-aspnet/vs-integration/images/available-templates.png
  docs-aspnet/vs-integration/images/backup.png
  docs-aspnet/vs-integration/images/configure-project.png
  docs-aspnet/vs-integration/images/convert-project.png
  docs-aspnet/vs-integration/images/convert-theme.png
  docs-aspnet/vs-integration/images/essentials.png
  docs-aspnet/vs-integration/images/settings.png
  docs-aspnet/vs-integration/images/themes.png
  docs-aspnet/vs-integration/new-project-wizard.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/getting-started-core/first-steps-vs-extensions.md
  docs-aspnet/getting-started-core/images/grid.png
  docs-aspnet/getting-started-core/images/naming.png
  docs-aspnet/vs-integration/configure-project-wizard.md
  docs-aspnet/vs-integration/convert-project-wizard.md
  docs-aspnet/vs-integration/images/available-templates.png
  docs-aspnet/vs-integration/images/backup.png
  docs-aspnet/vs-integration/images/configure-project.png
  docs-aspnet/vs-integration/images/convert-project.png
  docs-aspnet/vs-integration/images/convert-theme.png
  docs-aspnet/vs-integration/images/essentials.png
  docs-aspnet/vs-integration/images/settings.png
  docs-aspnet/vs-integration/images/themes.png
  docs-aspnet/vs-integration/new-project-wizard.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  src/kendo.splitter.js
  src/kendo.validator.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/chart-rounded-columns.md
  docs-aspnet/knowledge-base/images/chart-rounded-corners.png
  docs-aspnet/knowledge-base/images/chart-top-corners.png
  docs-aspnet/security/security.md
  docs/knowledge-base/customize-grouping-field-template-scheduler.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/chart-rounded-columns.md
  docs-aspnet/knowledge-base/images/chart-rounded-corners.png
  docs-aspnet/knowledge-base/images/chart-top-corners.png
  docs-aspnet/security/security.md
  docs/knowledge-base/customize-grouping-field-template-scheduler.md
  docs/security/security-information.md
  src/kendo.binder.js
  src/kendo.splitter.js
  src/kendo.tabstrip.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/charts/no-data-template.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/getting-started-core/first-steps-vs-mac.md
  docs-aspnet/html-helpers/charts/bar-chart/date-axis.md
  docs-aspnet/html-helpers/charts/bar-chart/gap-spacing.md
  docs-aspnet/html-helpers/charts/no-data-template.md
  docs-aspnet/html-helpers/data-management/grid/export/server-export.md
  docs-aspnet/html-helpers/editors/captcha/validation.md
  docs-aspnet/html-helpers/helper-basics/declarative-initialization.md
  docs-aspnet/html-helpers/navigation/drawer/razor-page.md
  docs-aspnet/html-helpers/pdf/pdfviewer/dpl-processing.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/getting-started-core/first-steps-vs-mac.md
  docs-aspnet/html-helpers/charts/bar-chart/date-axis.md
  docs-aspnet/html-helpers/charts/bar-chart/gap-spacing.md
  docs-aspnet/html-helpers/charts/no-data-template.md
  docs-aspnet/html-helpers/data-management/grid/export/server-export.md
  docs-aspnet/html-helpers/editors/captcha/validation.md
  docs-aspnet/html-helpers/helper-basics/declarative-initialization.md
  docs-aspnet/html-helpers/navigation/drawer/razor-page.md
  docs-aspnet/html-helpers/pdf/pdfviewer/dpl-processing.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev
