Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

Sync with Kendo UI Professional
  docs-aspnet/getting-started-core/first-steps-windows.md
  docs-aspnet/getting-started-core/first-steps.md
  docs-aspnet/getting-started-mvc/first-steps-project-template.md
  docs-aspnet/getting-started-mvc/first-steps.md
  docs-aspnet/getting-started-mvc/images/sample-page-datepicker.png
  docs/intro/first-steps.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs-aspnet/html-helpers/navigation/drawer/items.md
  docs-aspnet/html-helpers/navigation/drawer/overview.md
  docs/api/javascript/ui/drawer.md
  docs/api/javascript/ui/multiselect.md
  docs/backwards-compatibility/2026-backward-compatibility.md
  docs/controls/drawer/items.md
  docs/controls/drawer/overview.md
  src/kendo.multiselect.js
  tests/unit/multiselect/summarize.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs/backwards-compatibility/2026-backward-compatibility.md
  docs/controls/chartwizard/accessibility/custom-keyboard-navigation.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs/backwards-compatibility/2026-backward-compatibility.md
  docs/controls/chartwizard/accessibility/custom-keyboard-navigation.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/window.md
  docs/controls/PDFViewer/accessibility/custom-keyboard-navigation.md
  docs/knowledge-base/apply-minimum-width-during-column-resize.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/window.md
  docs/controls/PDFViewer/accessibility/custom-keyboard-navigation.md
  docs/knowledge-base/apply-minimum-width-during-column-resize.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai-components-and-features.md
  docs-aspnet/ai-core/agentic-ui-generator/changelog.md
  docs-aspnet/ai-core/agentic-ui-generator/getting-started.md
  docs-aspnet/ai-core/agentic-ui-generator/images/accessibility-assistant.png
  docs-aspnet/ai-core/agentic-ui-generator/images/ai-assistants.png
  docs-aspnet/ai-core/agentic-ui-generator/images/component-assistant.png
  docs-aspnet/ai-core/agentic-ui-generator/images/icon-assistant.png
  docs-aspnet/ai-core/agentic-ui-generator/images/layout-assistant.png
  docs-aspnet/ai-core/agentic-ui-generator/images/mcp-server-enable-tools.png
  docs-aspnet/ai-core/agentic-ui-generator/images/style-assistant.png
  docs-aspnet/ai-core/agentic-ui-generator/images/ui-templates.png
  docs-aspnet/ai-core/agentic-ui-generator/on-premises.md
  docs-aspnet/ai-core/agentic-ui-generator/overview.md
  docs-aspnet/ai-core/agentic-ui-generator/prompt-library.md
  docs-aspnet/ai-core/agentic-ui-generator/troubleshooting.md
  docs-aspnet/deployment/ci-cd-license-key.md
  docs-aspnet/deployment/images/classic-pipeline-azure-step1.png
  docs-aspnet/deployment/images/classic-pipeline-azure-step2.png
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/getting-started-core/first-steps-cli.md
  docs-aspnet/getting-started-core/first-steps-windows.md
  docs-aspnet/getting-started-core/first-steps.md
  docs-aspnet/html-helpers/data-management/filemanager/getting-started.md
  docs-aspnet/html-helpers/editors/datetimepicker/validation.md
  docs-aspnet/html-helpers/media/scrollview/overview.md
  docs-aspnet/installation/activating-your-license/licensing-faq.md
  docs/ai-components.md
  docs/intro/installation/images/secure-azure-classic-image1.png
  docs/intro/installation/images/secure-azure-classic-image2.png
  docs/intro/installation/licensing/activation-errors-and-warnings.md
  docs/intro/installation/licensing/license-code-faq.md
  docs/intro/installation/licensing/license-key-ci-services.md
  docs/intro/installation/licensing/overview.md
  docs/intro/installation/licensing/using-license-file.md
  docs/knowledge-base/highlight-map-shapes-by-id.md
  docs/knowledge-base/update-map-shapes-by-id.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai-components-and-features.md
  docs-aspnet/ai-core/agentic-ui-generator/changelog.md
  docs-aspnet/ai-core/agentic-ui-generator/getting-started.md
  docs-aspnet/ai-core/agentic-ui-generator/images/accessibility-assistant.png
  docs-aspnet/ai-core/agentic-ui-generator/images/ai-assistants.png
  docs-aspnet/ai-core/agentic-ui-generator/images/component-assistant.png
  docs-aspnet/ai-core/agentic-ui-generator/images/icon-assistant.png
  docs-aspnet/ai-core/agentic-ui-generator/images/layout-assistant.png
  docs-aspnet/ai-core/agentic-ui-generator/images/mcp-server-enable-tools.png
  docs-aspnet/ai-core/agentic-ui-generator/images/style-assistant.png
  docs-aspnet/ai-core/agentic-ui-generator/images/ui-templates.png
  docs-aspnet/ai-core/agentic-ui-generator/on-premises.md
  docs-aspnet/ai-core/agentic-ui-generator/overview.md
  docs-aspnet/ai-core/agentic-ui-generator/prompt-library.md
  docs-aspnet/ai-core/agentic-ui-generator/troubleshooting.md
  docs-aspnet/deployment/ci-cd-license-key.md
  docs-aspnet/deployment/images/classic-pipeline-azure-step1.png
  docs-aspnet/deployment/images/classic-pipeline-azure-step2.png
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/getting-started-core/first-steps-cli.md
  docs-aspnet/getting-started-core/first-steps-windows.md
  docs-aspnet/getting-started-core/first-steps.md
  docs-aspnet/html-helpers/data-management/filemanager/getting-started.md
  docs-aspnet/html-helpers/editors/datetimepicker/validation.md
  docs-aspnet/html-helpers/media/scrollview/overview.md
  docs-aspnet/installation/activating-your-license/licensing-faq.md
  docs/ai-components.md
  docs/intro/installation/images/secure-azure-classic-image1.png
  docs/intro/installation/images/secure-azure-classic-image2.png
  docs/intro/installation/licensing/activation-errors-and-warnings.md
  docs/intro/installation/licensing/license-code-faq.md
  docs/intro/installation/licensing/license-key-ci-services.md
  docs/intro/installation/licensing/overview.md
  docs/intro/installation/licensing/using-license-file.md
  docs/knowledge-base/highlight-map-shapes-by-id.md
  docs/knowledge-base/update-map-shapes-by-id.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/multiselect-with-quantity-input-kendo-ui-jquery.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/data/pivotdatasourcev2.md
  docs/knowledge-base/multiselect-with-quantity-input-kendo-ui-jquery.md
  package-lock.json
  package.json
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs-aspnet/ai-core/agentic-ui-generator/overview.md
  src/core/services/support.service.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/ai-core/agentic-ui-generator/overview.md
  src/core/services/support.service.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.tooltip.js
  tests/unit/tooltip/tooltip.js
  typescript/kendo.all.d.ts
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.tooltip.js
  tests/unit/tooltip/tooltip.js
  typescript/kendo.all.d.ts
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/colorpicker/colorgradient.js
  src/kendo.list.js
  src/kendo.tooltip.js
  tests/unit/tooltip/ajax-loading.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/colorpicker/colorgradient.js
  src/kendo.list.js
  src/kendo.tooltip.js
  tests/unit/tooltip/ajax-loading.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.window.js
  tests/unit/window/api.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.window.js
  tests/unit/window/api.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/intro/installation/licensing/activation-errors-and-warnings.md
  docs/intro/installation/licensing/license-code-faq.md
  docs/intro/installation/licensing/license-key-ci-services.md
  docs/intro/installation/licensing/overview.md
  docs/intro/installation/licensing/using-license-file.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/intro/installation/licensing/activation-errors-and-warnings.md
  docs/intro/installation/licensing/license-code-faq.md
  docs/intro/installation/licensing/license-key-ci-services.md
  docs/intro/installation/licensing/overview.md
  docs/intro/installation/licensing/using-license-file.md
  package-lock.json
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  package-lock.json
  package.json
Owners: @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  package-lock.json
Owners: @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  src/kendo.window.js
  tests/unit/window/api.js
  tests/unit/window/aria.js
  tests/unit/window/initialization.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.window.js
  tests/unit/window/api.js
  tests/unit/window/aria.js
  tests/unit/window/initialization.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/knowledge-base/moving-child-grid-icon-sorting.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/moving-child-grid-icon-sorting.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  tests/unit/window/events.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/knowledge-base/change-popup-edit-form-width-layout.md
  docs/knowledge-base/checkbox-filter-menu.md
  docs/knowledge-base/custom-bubble-layer-symbols.md
  docs/knowledge-base/custom_column_popup_editor.md
  docs/knowledge-base/customizing-label-width-height-kendo-jquery-chart.md
  docs/knowledge-base/diagram-custom-edit-form.md
  docs/knowledge-base/diagram-higlight-selected-shapes.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/change-popup-edit-form-width-layout.md
  docs/knowledge-base/checkbox-filter-menu.md
  docs/knowledge-base/custom-bubble-layer-symbols.md
  docs/knowledge-base/custom_column_popup_editor.md
  docs/knowledge-base/customizing-label-width-height-kendo-jquery-chart.md
  docs/knowledge-base/diagram-custom-edit-form.md
  docs/knowledge-base/diagram-higlight-selected-shapes.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/upload/templates.md
  docs/knowledge-base/grid-editors-in-column-templates.md
  docs/knowledge-base/grid-multiple-toolbar-rows.md
  docs/knowledge-base/upload-disable-select-button-after-upload.md
  docs/knowledge-base/upload-open-file-in-new-window.md
  docs/redirect-tests-jquery.csv
  docs/redirects.conf
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/redirect-tests-jquery.csv
  docs/redirects.conf
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/docs-builder.yml
  docs/redirect-tests-jquery.csv
  docs/redirects.conf
  docs/web.config
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/docs-builder.yml
  docs/redirect-tests-jquery.csv
  docs/redirects.conf
  docs/web.config
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/intro/installation/npm.md
  docs/knowledge-base/custom-validation-for-grid-column-editor.md
  docs/knowledge-base/spreadsheet-remove-undo-redo-buttons.md
  docs/knowledge-base/validating-populated-rows-kendo-jquery-spreadsheet.md
  docs/third-party/module-bundlers.md
  docs/third-party/webpack.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/intro/installation/npm.md
  docs/knowledge-base/spreadsheet-remove-undo-redo-buttons.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs/docs-builder.yml
  src/core/services/html.service.js
  src/kendo.listbox.js
  tests/unit/core/link-sanitization.js
  tests/unit/listbox/initialization.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs/docs-builder.yml
  src/core/services/html.service.js
  src/kendo.listbox.js
  tests/unit/core/link-sanitization.js
  tests/unit/listbox/initialization.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/dropdownlist-listbox-not-opening-after-upgrade.md
  docs/api/ui/badge.md
  docs/api/ui/button.md
  docs/api/ui/buttongroup.md
  package-lock.json
  package.json
  src/kendo.badge.js
  src/messages/kendo.messages.fr-BE.js
  src/messages/kendo.messages.fr-CA.js
  src/messages/kendo.messages.fr-CD.js
  src/messages/kendo.messages.fr-CH.js
  src/messages/kendo.messages.fr-CI.js
  src/messages/kendo.messages.fr-CM.js
  src/messages/kendo.messages.fr-FR.js
  src/messages/kendo.messages.fr-HT.js
  src/messages/kendo.messages.fr-LU.js
  src/messages/kendo.messages.fr-MA.js
  src/messages/kendo.messages.fr-MC.js
  src/messages/kendo.messages.fr-ML.js
  src/messages/kendo.messages.fr-SN.js
  tests/unit/badge/content.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/dropdownlist-listbox-not-opening-after-upgrade.md
  docs/api/ui/badge.md
  docs/api/ui/button.md
  docs/api/ui/buttongroup.md
  src/kendo.badge.js
  src/messages/kendo.messages.fr-BE.js
  src/messages/kendo.messages.fr-CA.js
  src/messages/kendo.messages.fr-CD.js
  src/messages/kendo.messages.fr-CH.js
  src/messages/kendo.messages.fr-CI.js
  src/messages/kendo.messages.fr-CM.js
  src/messages/kendo.messages.fr-FR.js
  src/messages/kendo.messages.fr-HT.js
  src/messages/kendo.messages.fr-LU.js
  src/messages/kendo.messages.fr-MA.js
  src/messages/kendo.messages.fr-MC.js
  src/messages/kendo.messages.fr-ML.js
  src/messages/kendo.messages.fr-SN.js
  tests/unit/badge/content.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/dataviz/ui/map.md
  src/kendo.calendar.js
  src/kendo.html.chip.js
  src/kendo.html.icon.js
  src/kendo.multiselect.js
  tests/unit/calendar/rendering.js
  tests/unit/multiselect/initialization.js
  tests/unit/multiselect/single-tag-mode.js
  tests/unit/multiselect/summarize.js
  tests/unit/panelbar/databinding.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan
