Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan

Sync with Kendo UI Professional
  package-lock.json
  package.json
Owners: @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  src/kendo.draganddrop.js
  src/kendo.userevents.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.draganddrop.js
  src/kendo.userevents.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.color.js
  src/kendo.colorpicker.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.colorpicker.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.colorpicker.js
  src/kendo.multiselect.js
  tests/unit/multiselect/interaction.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.colorpicker.js
  src/kendo.multiselect.js
  tests/unit/multiselect/interaction.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  tests/unit/actionsheet/api.js
  tests/unit/actionsheet/events.js
  tests/unit/data/odata-batch.js
  tests/unit/data/odata-v4.js
  tests/unit/menu/coverage.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/columns/widths.md
  docs/controls/grid/columns/widths.md
  docs/controls/upload/chunk-upload.md
  docs/globalization/localization.md
  docs/knowledge-base/disable-nodatatemplate-in-mvc-dropdowns.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/columns/widths.md
  docs-aspnet/installation/installation-options/overview-download.md
  docs-aspnet/installation/telerik-cli.md
  docs/controls/grid/columns/widths.md
  docs/controls/upload/chunk-upload.md
  docs/globalization/localization.md
  docs/knowledge-base/disable-nodatatemplate-in-mvc-dropdowns.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

added missing traslation messages in danish (da-DK) for FilterMultiCheck component since so far it only had 1 out of possible 9, based on the en-US version file.
  .gitignore
Owners: none

added missing traslation messages in danish (da-DK) for FilterMultiCheck component since so far it only had 1 out of possible 9, based on the en-US version file.
  src/messages/kendo.messages.da-DK.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

chore: update the script key instructions
  docs/intro/installation/licensing/adding-the-license-key.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/intro/installation/licensing/adding-the-license-key.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/intro/installation/licensing/adding-the-license-key.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/keyboard-navigation-bidirectional-kendo-listbox.md
  docs/knowledge-base/sticky-x-axis-header-kendo-jquery-heatmap.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/keyboard-navigation-bidirectional-kendo-listbox.md
  docs/knowledge-base/sticky-x-axis-header-kendo-jquery-heatmap.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/intro/installation/custom-builder-cli.md
  docs/intro/installation/licensing/adding-the-license-key.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/intro/installation/custom-builder-cli.md
  docs/intro/installation/licensing/adding-the-license-key.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  src/core/services/html.service.js
  src/core/services/template.service.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/ai/on-premises.md
  docs-aspnet/ai/overview.md
  docs/ai-assistant/changelog.md
  docs/ai-assistant/on-premises.md
  docs/ai-assistant/overview.md
  docs/ai-assistant/prompt-library.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai/on-premises.md
  docs-aspnet/ai/overview.md
  docs/ai-assistant/changelog.md
  docs/ai-assistant/on-premises.md
  docs/ai-assistant/overview.md
  docs/ai-assistant/prompt-library.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  build/gulp/task-listing.js
  docs/intro/installation/kendo-cli.md
  gulpfile.js
  package-lock.json
  package.json
Owners: @Iankodj, @ag-petrov, @NikoPenev21, @nelito987, @martintabakov, @pepinho24, @gdenchevprog, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  src/kendo.dropdownlist.js
  src/kendo.list.js
  tests/unit/combobox/api.js
  tests/unit/dropdownlist/api.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  package-lock.json
  package.json
  typescript/kendo.all.d.ts
Owners: @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/knowledge-base/adding-removing-items-kendo-ui-jquery-listview.md
  docs/knowledge-base/filtering-html-encoded-values-kendo-ui-jquery-grid.md
  src/kendo.dropdownlist.js
  src/kendo.list.js
  tests/unit/dropdownlist/events.js
  tests/unit/dropdownlist/navigation.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/core/services/date-utils.service.js
  src/core/services/dom-utils.service.js
  src/kendo.calendar.js
  src/kendo.data.js
  src/kendo.list.js
  src/kendo.maskedtextbox.js
  src/kendo.menu.js
  src/kendo.multiselect.js
  src/kendo.numerictextbox.js
  src/kendo.sortable.js
  src/kendo.tabstrip.js
  src/kendo.textarea.js
  src/kendo.textbox.js
  src/kendo.toolbar.js
  src/kendo.window.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/dropdownlist/accessibility/keyboard-navigation.md
  docs-aspnet/knowledge-base/auto-refresh-grid-show-skipped-records-popup-kendo-ui-aspnet-core.md
  docs/controls/dropdownlist/accessibility/key-nav.md
  docs/controls/upload/chunk-upload.md
  docs/knowledge-base/enabling-scrollable-tables-kendo-jquery-chat.md
  docs/knowledge-base/prevent-layout-shifts-kendo-validator-elements.md
  docs/knowledge-base/remove-default-comma-numerictextbox-grid-filter.md
  src/core/services/html.service.js
  src/kendo.data.js
  src/kendo.dropdownlist.js
  src/kendo.list.js
  src/kendo.multiselect.js
  tests/unit/dropdownlist/api.js
  tests/unit/dropdownlist/aria.js
  tests/unit/dropdownlist/searching.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.dropdownlist.js
  src/kendo.list.js
  tests/unit/dropdownlist/cascade.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/data/datasource.md
  docs/api/javascript/ui/colorpicker.md
  docs/api/javascript/ui/flatcolorpicker.md
  docs/api/javascript/ui/pdfviewer.md
  docs/knowledge-base/add-image-in-diagram-shape-template.md
  src/colorpicker/flatcolorpicker.js
  src/kendo.colorpicker.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/accessibility/accessibility-compliance.md
  docs-aspnet/accessibility/assets/kendo-ui-vpat2.4.doc
  docs-aspnet/introduction.md
  docs/accessibility/assets/KendoUI-VPAT2.4RevINT.doc
  docs/accessibility/compliance.md
  docs/api/javascript/ui/multiselect.md
  docs/knowledge-base/autocomplete-dropdown-on-focus-kendo-grid.md
  docs/knowledge-base/customizing-drop-hint-line-kendo-jquery-grid.md
  docs/knowledge-base/daterangepicker-validation-on-blur.md
  docs/knowledge-base/exporting-editor-content-with-html-tags-aspnet-core.md
  docs/knowledge-base/kendo-grid-loader-long-grid.md
  package-lock.json
  package.json
  src/kendo.list.js
  src/kendo.multiselect.js
  src/kendo.virtuallist.js
  src/messages/kendo.messages.bg-BG.js
  src/messages/kendo.messages.en-US.js
  tests/unit/multiselect/aria.js
  tests/unit/multiselect/navigation.js
  tests/unit/multiselect/select-all.js
  tests/unit/multiselect/summarize.js
  tests/unit/multiselect/virtualization.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/accessibility/assets/vpat-report.pdf
  docs/accessibility/assets/vpat-report.pdf
  package-lock.json
  package.json
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs-aspnet/ai-core/changelog.md
  docs-aspnet/ai-core/getting-started.md
  docs-aspnet/ai-core/troubleshooting.md
  docs-aspnet/html-helpers/data-management/grid/overview.md
  docs-aspnet/html-helpers/data-management/grid/row-drag-drop.md
  docs-aspnet/installation/telerik-cli.md
  docs-aspnet/tag-helpers/data-management/grid/row-drag-drop.md
  docs/controls/grid/row-drag-drop.md
  package-lock.json
  package.json
  src/kendo.window.js
  tests/unit/window/constrain-movement.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  package-lock.json
  package.json
Owners: @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/multiselect/overview.md
  docs-aspnet/html-helpers/editors/multiselect/select-all.md
  docs/controls/multiselect/overview.md
  docs/controls/multiselect/select-all.md
  docs/knowledge-base/kendo-ui-jquery-multiselect-select-all-option-single-tag.md
  docs/knowledge-base/select-all-values-with-one-selection.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/api/javascript/ui/multiselect.md
  docs/styles-and-layout/sass-themes/compatibility.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

chore: remove obsolete action
  .github/workflows/set-FP-labels.yml
Owners: @VicTachev, @nenchef

chore: remove obsolete action
  .github/workflows/set-FP-labels.yml
Owners: @VicTachev, @nenchef

Sync with Kendo UI Professional
  .npmrc
  docs-aspnet/installation/telerik-cli.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs/knowledge-base/adjust-drop-hint-line-width-kendo-jquery-grid.md
  docs/knowledge-base/responsive-mode-kendo-jquery-drawer.md
Owners: @NikoPenev21, @nelito987, @martintabakov
