Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @veselints, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @gdenchevprog @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @yanisslav @aleksandarevangelatov @StoyanGoranov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @veselints
/tests/ @Iankodj @ag-petrov @veselints
/typescript/ @Iankodj @ag-petrov @veselints
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @veselints
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan

Sync with Kendo UI Professional
  docs/accessibility/assets/KendoUI-VPAT2.4RevINT.doc
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/helper-basics/using-client-templates.md
  docs-aspnet/installation/migrating.md
  docs/api/javascript/ui/pdfviewer.md
  docs/controls/charts/get-started.md
  docs/controls/data-management/listview/get-started.md
  docs/controls/editors/datepicker/get-started.md
  docs/controls/editors/dropdownlist/get-started.md
  docs/controls/editors/numerictextbox/get-started.md
  docs/controls/editors/signature/get-started.md
  docs/controls/editors/textbox/get-started.md
  docs/controls/editors/upload/get-started.md
  docs/controls/editors/validator/get-started.md
  docs/controls/layout/notification/get-started.md
  docs/controls/layout/notification/notification-overview.png
  docs/controls/layout/notification/overview.md
  docs/controls/layout/tooltip/get-started.md
  docs/controls/layout/window/get-started.md
  docs/controls/navigation/button/get-started.md
  docs/controls/navigation/chip/get-started.md
  docs/controls/navigation/chiplist/get-started.md
  docs/controls/navigation/tabstrip/get-started.md
  src/messages/kendo.messages.bg-BG.js
  src/messages/kendo.messages.cs-CZ.js
  src/messages/kendo.messages.de-AT.js
  src/messages/kendo.messages.de-CH.js
  src/messages/kendo.messages.de-DE.js
  src/messages/kendo.messages.de-LI.js
  src/messages/kendo.messages.en-AU.js
  src/messages/kendo.messages.en-CA.js
  src/messages/kendo.messages.en-GB.js
  src/messages/kendo.messages.en-US.js
  tests/toolbar/rendering.js
  tests/tooltip/tooltip.js
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/installation/msi-install.md
  src/kendo.autocomplete.js
  tests/autocomplete/initialization.js
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/layout/notification/events.md
  docs-aspnet/html-helpers/layout/notification/getting-started.md
  docs-aspnet/html-helpers/layout/notification/images/notification-getting-started.png
  docs-aspnet/html-helpers/layout/notification/overview.md
  docs/api/javascript/data/datasource.md
  docs/api/javascript/data/hierarchicaldatasource.md
  docs/api/javascript/dataviz/ui/stock-chart.md
  docs/api/javascript/ui/grid.md
  docs/controls/data-management/treelist/row-templates.md
  docs/framework/spa/overview.md
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/datasource/events.md
  docs-aspnet/html-helpers/datasource/getting-started.md
  docs-aspnet/html-helpers/datasource/images/datasource-getting-started-result.png
  docs-aspnet/html-helpers/datasource/overview.md
  docs-aspnet/html-helpers/editors/datepicker/events.md
  docs-aspnet/html-helpers/editors/datepicker/getting-started.md
  docs-aspnet/html-helpers/editors/datepicker/images/datepicker-getting-started.png
  docs-aspnet/html-helpers/editors/datepicker/overview.md
  docs-aspnet/html-helpers/editors/dropdowntree/events.md
  docs-aspnet/html-helpers/editors/dropdowntree/getting-started.md
  docs-aspnet/html-helpers/editors/dropdowntree/images/dropdowntree-getting-started.png
  docs-aspnet/html-helpers/editors/dropdowntree/overview.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/datepicker/events.md
  docs-aspnet/html-helpers/editors/datepicker/getting-started.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs/controls/data-management/grid/get-started.md
  docs/controls/data-management/treelist/get-started.md
  docs/controls/data-management/treelist/images/treelist-overview.png
  docs/controls/data-management/treelist/overview.md
  docs/controls/navigation/drawer/get-started.md
  docs/controls/navigation/drawer/images/drawer-overview.png
  docs/controls/navigation/drawer/overview.md
  docs/controls/navigation/panelbar/get-started.md
  docs/controls/navigation/panelbar/images/panelbar-overview.png
  docs/controls/navigation/panelbar/overview.md
  docs/controls/navigation/treeview/get-started.md
  docs/controls/navigation/treeview/images/treeview-overview.png
  docs/controls/navigation/treeview/overview.md
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/backwards-compatibility/2023-backwards-compatibility.md
  docs-aspnet/html-helpers/charts/treemap/overview.md
  docs-aspnet/html-helpers/data-management/treelist/row-templates.md
  docs-aspnet/knowledge-base/numerictextbox-keep-trailing-zeros.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/_config.yml
  docs/styles-and-layout/sass-themes/compatibility.md
  package-lock.json
  package.json
  src/kendo.tabstrip.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @veselints

colorpicker(fix): Corrected the class for size
  docs/controls/editors/colorpicker/appearance.md
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/installation/adding-client-side-resources/cdn-service.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/installation/adding-client-side-resources/cdn-service.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  VERSION
  docs-aspnet/html-helpers/editors/checkbox/overview.md
  docs-aspnet/html-helpers/editors/combobox/overview.md
  docs-aspnet/html-helpers/editors/dropdownlist/overview.md
  docs-aspnet/html-helpers/editors/maskedtextbox/overview.md
  docs-aspnet/html-helpers/editors/multiselect/overview.md
  docs-aspnet/html-helpers/editors/numerictextbox/overview.md
  docs-aspnet/html-helpers/editors/switch/overview.md
  docs-aspnet/html-helpers/editors/textarea/overview.md
  docs-aspnet/html-helpers/editors/textbox/overview.md
  docs-aspnet/html-helpers/navigation/button/overview.md
  docs-aspnet/html-helpers/navigation/buttongroup/overview.md
  docs-aspnet/html-helpers/navigation/chip/overview.md
  docs-aspnet/html-helpers/navigation/radiobutton/overview.md
  docs-aspnet/html-helpers/navigation/splitbutton/overview.md
  docs/controls/editors/checkbox/overview.md
  docs/controls/editors/combobox/overview.md
  docs/controls/editors/dropdownlist/overview.md
  docs/controls/editors/maskedtextbox/overview.md
  docs/controls/editors/multiselect/overview.md
  docs/controls/editors/numerictextbox/overview.md
  docs/controls/editors/radiobutton/overview.md
  docs/controls/editors/switch/overview.md
  docs/controls/editors/textarea/overview.md
  docs/controls/editors/textbox/overview.md
  docs/controls/layout/popup/overview.md
  docs/controls/navigation/button/overview.md
  docs/controls/navigation/buttongroup/overview.md
  docs/controls/navigation/chip/overview.md
  docs/controls/navigation/splitbutton/overview.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Update uk-UA localization for Upload component
  src/messages/kendo.messages.uk-UA.js
Owners: @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs/api/javascript/ui/bottomnavigation.md
  package-lock.json
  package.json
  src/colorpicker/colorgradient.js
  src/colorpicker/colorpalette.js
  src/colorpicker/flatcolorpicker.js
  src/kendo.bottomnavigation.js
  tests/bottomnavigation/api.js
  tests/bottomnavigation/initialization.js
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @veselints

Add missing grid dv to alternating row template
  docs/api/javascript/ui/grid.md
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/grid.md
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

docs(common): Fix a typo
  docs-aspnet/styles-and-layout/sass-themes/svg-icons.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/charts/overview.md
  docs-aspnet/knowledge-base/grid-checkbox-column.md
  docs-aspnet/knowledge-base/grid-message-on-crud-operations-completion.md
  docs-aspnet/knowledge-base/wizard-readonly-inputs.md
  docs-aspnet/styles-and-layout/sass-themes/svg-icons.md
  docs/controls/charts/overview.md
  docs/knowledge-base/drag-drop-to-empty-grid.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Important information about kendo.ui.grid.saveAsExcel in grid.md
  docs/api/javascript/ui/grid.md
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/getting-started-core/first-steps.md
  docs-aspnet/html-helpers/data-management/listview/events.md
  docs-aspnet/html-helpers/datasource/getting-started.md
  docs-aspnet/html-helpers/editors/editor/tools.md
  docs-aspnet/html-helpers/layout/form/getting-started-form.md
  docs-aspnet/installation/adding-client-side-resources/cdn-service.md
  docs-aspnet/knowledge-base/grid-save-all-grids.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/imageeditor/events.md
  docs-aspnet/html-helpers/editors/imageeditor/getting-started.md
  docs-aspnet/html-helpers/editors/imageeditor/images/imageeditor-getting-started.png
  docs-aspnet/html-helpers/editors/imageeditor/overview.md
  docs-aspnet/html-helpers/scheduling/gantt/events.md
  docs-aspnet/html-helpers/scheduling/gantt/getting-started-gantt.md
  docs-aspnet/html-helpers/scheduling/gantt/images/gantt-getting-started-result.png
  docs-aspnet/html-helpers/scheduling/gantt/overview.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Update kendo.messages.fr-CA.js
  src/messages/kendo.messages.fr-CA.js
Owners: @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/imageeditor/getting-started.md
  docs/api/javascript/ui/datetimepicker.md
  docs/api/javascript/ui/scheduler.md
  docs/controls/badge/badge-basic.png
  docs/controls/badge/get-started.md
  docs/controls/badge/overview.md
  docs/controls/button/overview.md
  docs/knowledge-base/gantt-update-successor-when-parent-end-changes.md
  docs/knowledge-base/scheduler-hide-group-highlight-row.md
  src/kendo.datetimepicker.js
  src/kendo.timepicker.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  gulpfile.js
  package-lock.json
  package.json
Owners: @Iankodj, @ag-petrov, @veselints, @MilenaCh, @Dimitar-Goshev

Update listbox.md
  docs/api/javascript/ui/listbox.md
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/spreadsheet/events.md
  docs-aspnet/html-helpers/data-management/spreadsheet/getting-started.md
  docs-aspnet/html-helpers/data-management/spreadsheet/images/getting-started-spreadsheet.png
  docs-aspnet/html-helpers/data-management/spreadsheet/overview.md
  docs/controls/textarea/overview.md
  docs/knowledge-base/drawer-multi-level-navigation-menu.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2023-backwards-compatibility.md
  docs-aspnet/html-helpers/editors/editor/tools.md
  docs/api/javascript/ui/scheduler.md
  docs/backwards-compatibility/2023-backward-compatibility.md
  docs/controls/scheduler/ongoing-events.md
  docs/intro/installation/bower-install.md
  docs/knowledge-base/grid-add-row-above-selected.md
  docs/styles-and-layout/less-themes/less-themes-migration.md
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/installation/system-requirements/os-support.md
  src/kendo.bottomnavigation.js
  src/kendo.html.chip.js
  src/kendo.splitter.js
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/getting-started-core/first-steps-cli.md
  docs-aspnet/getting-started-core/first-steps.md
  docs-aspnet/getting-started-mvc/first-steps.md
  docs-aspnet/html-helpers/editors/datetimepicker/getting-started.md
  docs-aspnet/html-helpers/editors/timepicker/events.md
  docs-aspnet/html-helpers/editors/timepicker/getting-started.md
  docs-aspnet/html-helpers/editors/timepicker/images/timepicker-getting-started.png
  docs-aspnet/html-helpers/editors/timepicker/overview.md
  docs/controls/scheduler/ongoing-events.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/treelist/ajax-binding.md
  docs/api/javascript/ui/dropdownlist.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/progressbar.md
  docs/controls/checkbox/appearance.md
  docs/controls/checkbox/checkbox-overview.png
  docs/controls/checkbox/getting-started.md
  docs/controls/checkbox/label.md
  docs/controls/checkbox/overview.md
  docs/controls/grid/row-resizing.md
  docs/controls/switch/appearance.md
  docs/controls/switch/checked.md
  docs/controls/switch/custom.md
  docs/controls/switch/disabled.md
  docs/controls/switch/getting-started.md
  docs/controls/switch/overview.md
  docs/controls/switch/read-only.md
  docs/controls/switch/switch-overview.png
  docs/knowledge-base/access-the-selected-data-value-field-on-the-listbox-change-event.md
  docs/knowledge-base/grid-checkbox-with-default-filter.md
  docs/knowledge-base/grid-persist-checkbox-filter-with external-datasource.md
  docs/knowledge-base/grid-persist-state-with-functions.md
  docs/knowledge-base/reset-expand-state.md
  docs/web.config
  src/kendo.calendar.js
  src/kendo.dateinput.js
  src/kendo.listbox.js
  src/kendo.pager.js
  src/kendo.selectable.js
  src/kendo.slider.js
  tests/combobox/initialization.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/row-resizing.md
  docs-aspnet/html-helpers/editors/datetimepicker/start-end-time.md
  docs-aspnet/html-helpers/scheduling/scheduler/ongoing-events.md
  docs-aspnet/html-helpers/scheduling/scheduler/server-filtering.md
  docs/api/javascript/ui/grid.md
  docs/controls/datetimepicker/start-end-time.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

chore: add note for discontinued sync
  src/kendo.dateinput.js
  src/kendo.datepicker.js
  src/kendo.datetimepicker.js
  src/kendo.timepicker.js
Owners: @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/charts/overview.md
  docs-aspnet/html-helpers/data-management/grid/events.md
  docs-aspnet/html-helpers/data-management/grid/row-resizing.md
  docs-aspnet/html-helpers/editors/datepicker/overview.md
  docs-aspnet/html-helpers/editors/datetimepicker/overview.md
  docs-aspnet/html-helpers/layout/form/validation.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/_config.yml
  docs/knowledge-base/chart-series-keyboard-navigation.md
  docs/knowledge-base/grid-open-filter-menu-on-init.md
  docs/knowledge-base/listview-load-more-button.md
  docs/knowledge-base/listview-popup-editor.md
  docs/knowledge-base/show-tooltip-on-click.md
  docs/styles-and-layout/sass-themes/compatibility.md
  src/kendo.menu.js
  src/kendo.pager.js
  tests/menu/api.js
  tests/menu/aria.js
  tests/menu/init.js
  tests/window/interaction.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

chore: mark editable and listview as non-synced
  src/kendo.editable.js
  src/kendo.listview.js
Owners: @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/helper-basics/content-security-policy.md
  docs-aspnet/html-helpers/helper-basics/using-client-templates.md
  docs-aspnet/html-helpers/template/overview.md
  docs-aspnet/list-of-helpers.html
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/helper-basics/content-security-policy.md
  docs-aspnet/html-helpers/helper-basics/using-client-templates.md
  docs-aspnet/html-helpers/template/overview.md
  docs-aspnet/list-of-helpers.html
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  VERSION
  docs-aspnet/installation/system-requirements/jquery-support.md
  docs/intro/supporting/jquery-support.md
  docs/redirects.conf
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/_config.yml
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/alert.md
  docs/knowledge-base/grid-workbook-formatted-sheet-column-excel-export.md
  src/kendo.calendar.js
  src/kendo.core.js
  src/kendo.dialog.js
  src/kendo.virtuallist.js
  tests/textarea/initialization.js
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/scrollview.md
  docs/api/javascript/ui/skeletoncontainer.md
  docs/api/javascript/ui/tabstrip.md
  docs/api/javascript/ui/treelist.md
  docs/controls/form/validation.md
  docs/knowledge-base/persist-expanded-rows.md
  src/kendo.list.js
  src/kendo.splitbutton.js
  src/kendo.toolbar.js
  src/kendo.validator.js
  src/kendo.virtuallist.js
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints
