Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan

Sync with Kendo UI Professional
  docs/api/javascript/ui/contextmenu.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/contextmenu.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/layout/dialog/action-buttons.md
  docs-aspnet/knowledge-base/grid-utc-time-on-both-server-and-client.md
  docs/api/javascript/ui/filemanager.md
  docs/controls/chat/templates.md
  docs/controls/dialog/action-buttons.md
  docs/controls/listview/grouping.md
  docs/intro/installation/images/download-license-key.png
  docs/intro/installation/images/get-license-key.png
  docs/intro/installation/licensing/adding-the-license-key.md
  docs/intro/installation/licensing/license-code-faq.md
  docs/intro/installation/licensing/overview.md
  docs/intro/installation/licensing/using-license-file.md
  docs/knowledge-base/combine-toolbar-functions-dropdown-kendo-ui-jquery-spreadsheet.md
  docs/knowledge-base/how-to-skip-disabled-steps-in-the-wizard.md
  docs/knowledge-base/instantiate-kendo-ui-jquery-mediaplayer-mvvm.md
  docs/styles-and-layout/sass-themes/compatibility.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/layout/dialog/action-buttons.md
  docs-aspnet/knowledge-base/grid-utc-time-on-both-server-and-client.md
  docs/api/javascript/ui/filemanager.md
  docs/controls/chat/templates.md
  docs/controls/dialog/action-buttons.md
  docs/controls/listview/grouping.md
  docs/intro/installation/images/download-license-key.png
  docs/intro/installation/images/get-license-key.png
  docs/intro/installation/licensing/adding-the-license-key.md
  docs/intro/installation/licensing/license-code-faq.md
  docs/intro/installation/licensing/overview.md
  docs/intro/installation/licensing/using-license-file.md
  docs/knowledge-base/combine-toolbar-functions-dropdown-kendo-ui-jquery-spreadsheet.md
  docs/knowledge-base/how-to-skip-disabled-steps-in-the-wizard.md
  docs/knowledge-base/instantiate-kendo-ui-jquery-mediaplayer-mvvm.md
  docs/styles-and-layout/sass-themes/compatibility.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/diagrams-and-maps/map/azure-tiles.md
  docs-aspnet/html-helpers/diagrams-and-maps/map/overview.md
  docs/controls/grid/binding/web-api-binding.md
  docs/controls/grid/export/excel-export.md
  docs/controls/map/azure-tiles.md
  docs/controls/map/layers.md
  docs/controls/map/overview.md
  docs/framework/excel/extract-datasoruce.md
  docs/framework/excel/get-started.md
  docs/framework/pdf/get-started.md
  docs/knowledge-base/excel-export-set-row-height-to-auto.md
  docs/knowledge-base/export-filtered-data-on-dynamic-grid.md
  docs/knowledge-base/export_listview_to_excel.md
  docs/knowledge-base/grid-excel-export-each-group-in-separate-sheet.md
  docs/knowledge-base/grid-excel-export-hierarchy-master-and-detail-separate-sheets.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/diagrams-and-maps/map/azure-tiles.md
  docs-aspnet/html-helpers/diagrams-and-maps/map/overview.md
  docs/controls/grid/binding/web-api-binding.md
  docs/controls/grid/export/excel-export.md
  docs/controls/map/azure-tiles.md
  docs/controls/map/layers.md
  docs/controls/map/overview.md
  docs/framework/excel/extract-datasoruce.md
  docs/framework/excel/get-started.md
  docs/framework/pdf/get-started.md
  docs/knowledge-base/excel-export-set-row-height-to-auto.md
  docs/knowledge-base/export-filtered-data-on-dynamic-grid.md
  docs/knowledge-base/export_listview_to_excel.md
  docs/knowledge-base/grid-excel-export-each-group-in-separate-sheet.md
  docs/knowledge-base/grid-excel-export-hierarchy-master-and-detail-separate-sheets.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Adding en-JP culture file
  src/cultures/kendo.culture.en-JP.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/intro/scripts/scripts-barcodes.md
  docs/intro/scripts/scripts-conversational-ui.md
  docs/intro/scripts/scripts-dataviz.md
  docs/intro/scripts/scripts-diagrams-maps.md
  docs/intro/scripts/scripts-editors.md
  docs/intro/scripts/scripts-frameworks.md
  docs/intro/scripts/scripts-gauges.md
  docs/intro/scripts/scripts-general.md
  docs/intro/scripts/scripts-interactivity.md
  docs/intro/scripts/scripts-layout.md
  docs/intro/scripts/scripts-media.md
  docs/intro/scripts/scripts-navigation.md
  docs/intro/scripts/scripts-pdf.md
  docs/intro/scripts/scripts-scheduling.md
  docs/intro/scripts/scripts-wrappers.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/installation/activating-your-license/licensing-faq.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/installation/activating-your-license/licensing-faq.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Adding en-JP culture file
  src/cultures/kendo.culture.en-JP.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/controls/dialog/accessibility/overview.md
  docs/controls/window/accessibility/overview.md
  src/cultures/kendo.culture.en-JP.js
  tests/unit/actionsheet/api.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/ai/changelog.md
  docs-aspnet/ai/mcp-server.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs/controls/grid/export/excel-export-customization.md
  docs/controls/grid/export/excel-export.md
  docs/controls/grid/export/pdf-export.md
  docs/controls/grid/export/print-export.md
  docs/controls/grid/export/selection-export.md
  docs/knowledge-base/ical-export.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai/changelog.md
  docs-aspnet/ai/mcp-server.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs/knowledge-base/ical-export.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/grid-use-grid-as-client-template.md
  docs-aspnet/knowledge-base/tooltip-refresh-with-dynamic-content.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/grid-use-grid-as-client-template.md
  docs-aspnet/knowledge-base/tooltip-refresh-with-dynamic-content.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/ai/mcp-server.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/ai/mcp-server.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

chore: update bootstrap theme link
  docs/styles-and-layout/less-themes/less-themes-migration.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Bug report template
  .github/ISSUE_TEMPLATE/bug-report.md
Owners: @VicTachev, @nenchef

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/tooltip-refresh-with-dynamic-content.md
  docs/knowledge-base/chart-shading-between-lines.md
  docs/styles-and-layout/less-themes/less-themes-migration.md
  package-lock.json
  package.json
  src/cultures/kendo.culture.en-JP.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/tooltip-refresh-with-dynamic-content.md
  docs/controls/grid/export/excel-export-customization.md
  docs/controls/grid/export/excel-export.md
  docs/controls/grid/export/pdf-export.md
  docs/controls/grid/export/print-export.md
  docs/controls/grid/export/selection-export.md
  docs/knowledge-base/chart-shading-between-lines.md
  src/cultures/kendo.culture.en-JP.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Update multiselect.md valuePrimitive example
  docs/api/javascript/ui/multiselect.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Bug report template
  .github/ISSUE_TEMPLATE/bug-report.md
Owners: @VicTachev, @nenchef

Update grid-add-a-custom-button-in-toolbar.md
  docs-aspnet/knowledge-base/grid-add-a-custom-button-in-toolbar.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Update client-detail-template.md
  docs-aspnet/html-helpers/data-management/grid/templates/client-detail-template.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  .github/ISSUE_TEMPLATE/bug-report.md
  docs-aspnet/_config.yml
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/data-management/grid/templates/client-detail-template.md
  docs-aspnet/installation/system-requirements/jquery-support.md
  docs-aspnet/knowledge-base/grid-add-a-custom-button-in-toolbar.md
  docs/_config.yml
  docs/api/javascript/ui/multiselect.md
  docs/docs-builder.yml
  docs/intro/supporting/jquery-support.md
  docs/knowledge-base/merging-rows-excel-export-kendo-ui-jquery-grid.md
  docs/knowledge-base/remove-html-kendo-ui-jquery-grid-excel-export.md
  docs/knowledge-base/scroll-to-hour-scheduler-data-refresh.md
  typescript/kendo.all.d.ts
Owners: @VicTachev, @nenchef, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/installation/system-requirements/jquery-support.md
  docs/_config.yml
  docs/docs-builder.yml
  docs/intro/supporting/jquery-support.md
  docs/knowledge-base/merging-rows-excel-export-kendo-ui-jquery-grid.md
  docs/knowledge-base/remove-html-kendo-ui-jquery-grid-excel-export.md
  package-lock.json
  package.json
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/templates/client-detail-template.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/templates/client-detail-template.md
  docs-aspnet/knowledge-base/grid-add-a-custom-button-in-toolbar.md
  docs/api/javascript/ui/multiselect.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/grid/export/excel-export-customization.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/grid/export/excel-export-customization.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/editor.md
  docs/api/javascript/ui/treelist.md
  docs/backwards-compatibility/2025-backward-compatibility.md
  docs/knowledge-base/change-popup-edit-form-width-layout.md
  docs/knowledge-base/change-validation-tooltip-position.md
  docs/knowledge-base/dynamically-setting-step-value-kendo-chart-labels.md
  docs/knowledge-base/editor-autoresizing-in-grid-template.md
  docs/knowledge-base/editor-extend-hyperlink-command-custom-class.md
  docs/knowledge-base/insert-html-via-custom-popup-tool.md
  docs/knowledge-base/preventing-unsaved-changes-grid-filtering-searching.md
  docs/knowledge-base/remove-pdf-export-option-spreadsheet-kendo-ui.md
  docs/knowledge-base/spreadsheet-change-export-dialog-default-workbook-name.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/editor.md
  docs/api/javascript/ui/treelist.md
  docs/backwards-compatibility/2025-backward-compatibility.md
  docs/knowledge-base/change-popup-edit-form-width-layout.md
  docs/knowledge-base/change-validation-tooltip-position.md
  docs/knowledge-base/dynamically-setting-step-value-kendo-chart-labels.md
  docs/knowledge-base/editor-autoresizing-in-grid-template.md
  docs/knowledge-base/editor-extend-hyperlink-command-custom-class.md
  docs/knowledge-base/insert-html-via-custom-popup-tool.md
  docs/knowledge-base/preventing-unsaved-changes-grid-filtering-searching.md
  docs/knowledge-base/remove-pdf-export-option-spreadsheet-kendo-ui.md
  docs/knowledge-base/spreadsheet-change-export-dialog-default-workbook-name.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/wizard.md
  src/kendo.tabstrip.js
  tests/unit/tabstrip/ajax-loading.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/notification.md
  docs/api/javascript/ui/wizard.md
  src/kendo.notification.js
  src/kendo.tabstrip.js
  tests/unit/notification/api.js
  tests/unit/notification/initialization.js
  tests/unit/tabstrip/ajax-loading.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/grid.md
  src/kendo.tabstrip.js
  tests/unit/tabstrip/tab-features-datasource-dom.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/grid.md
Owners: @NikoPenev21, @nelito987, @martintabakov
