Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan

Sync with Kendo UI Professional
  docs/api/javascript/ui/segmentedcontrol.md
  src/kendo.listbox.js
  tests/helpers/unit/segmentedbutton.js
  tests/helpers/unit/segmentedcontrol.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/accessibility/accessibility-compliance.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/navigation/segmentedcontrol/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/navigation/segmentedcontrol/accessibility/overview.md
  docs-aspnet/html-helpers/navigation/segmentedcontrol/events.md
  docs-aspnet/html-helpers/navigation/segmentedcontrol/getting-started.md
  docs-aspnet/html-helpers/navigation/segmentedcontrol/icons.md
  docs-aspnet/html-helpers/navigation/segmentedcontrol/layout-modes.md
  docs-aspnet/html-helpers/navigation/segmentedcontrol/overview.md
  docs-aspnet/installation/adding-client-side-resources/using-local-files.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/_config.yml
  docs/accessibility/compliance.md
  docs/api/javascript/dataviz/ui/chart.md
  docs/api/javascript/dataviz/ui/diagram.md
  docs/api/javascript/dataviz/ui/stock-chart.md
  docs/api/javascript/ui/chat.md
  docs/controls/segmentedcontrol/accessibility/keyboard-navigation.md
  docs/controls/segmentedcontrol/accessibility/overview.md
  docs/controls/segmentedcontrol/get-started.md
  docs/controls/segmentedcontrol/icons.md
  docs/controls/segmentedcontrol/layout-modes.md
  docs/controls/segmentedcontrol/overview.md
  docs/docs-builder.yml
  docs/knowledge-base/how-to-combine-buttons-and-checkboxes-kendo-ui-dropdownlist.md
  docs/knowledge-base/how-to-sync-combobox-listbox-filter-selection.md
  docs/styles-and-layout/sass-themes/compatibility.md
  package-lock.json
  package.json
  src/kendo.textarea.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/accessibility/accessibility-compliance.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/navigation/segmentedcontrol/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/navigation/segmentedcontrol/accessibility/overview.md
  docs-aspnet/html-helpers/navigation/segmentedcontrol/events.md
  docs-aspnet/html-helpers/navigation/segmentedcontrol/getting-started.md
  docs-aspnet/html-helpers/navigation/segmentedcontrol/icons.md
  docs-aspnet/html-helpers/navigation/segmentedcontrol/layout-modes.md
  docs-aspnet/html-helpers/navigation/segmentedcontrol/overview.md
  docs-aspnet/installation/adding-client-side-resources/using-local-files.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/_config.yml
  docs/accessibility/compliance.md
  docs/api/javascript/dataviz/ui/chart.md
  docs/api/javascript/dataviz/ui/diagram.md
  docs/api/javascript/dataviz/ui/stock-chart.md
  docs/api/javascript/ui/chat.md
  docs/controls/segmentedcontrol/accessibility/keyboard-navigation.md
  docs/controls/segmentedcontrol/accessibility/overview.md
  docs/controls/segmentedcontrol/get-started.md
  docs/controls/segmentedcontrol/icons.md
  docs/controls/segmentedcontrol/layout-modes.md
  docs/controls/segmentedcontrol/overview.md
  docs/docs-builder.yml
  docs/knowledge-base/how-to-combine-buttons-and-checkboxes-kendo-ui-dropdownlist.md
  docs/knowledge-base/how-to-sync-combobox-listbox-filter-selection.md
  docs/styles-and-layout/sass-themes/compatibility.md
  package-lock.json
  package.json
  src/kendo.textarea.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/intro/first-steps.md
  docs/intro/installation/kendo-cli.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/intro/first-steps.md
  docs/intro/installation/kendo-cli.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/connections.md
  docs-aspnet/knowledge-base/chart-add-and-remove-data.md
  docs-aspnet/knowledge-base/chat-access-files.md
  docs-aspnet/knowledge-base/gantt-views.md
  docs/framework/templates/essentials.md
  docs/knowledge-base/chart-add-and-remove-data.md
  docs/knowledge-base/chat-access-files.md
  docs/knowledge-base/gantt-views.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/connections.md
  docs-aspnet/knowledge-base/chart-add-and-remove-data.md
  docs-aspnet/knowledge-base/chat-access-files.md
  docs-aspnet/knowledge-base/gantt-views.md
  docs/framework/templates/essentials.md
  docs/knowledge-base/chart-add-and-remove-data.md
  docs/knowledge-base/chat-access-files.md
  docs/knowledge-base/gantt-views.md
  package-lock.json
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs/api/javascript/ui/propertygrid.md
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/propertygrid.md
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/scheduling/scheduler/timezones.md
  docs-aspnet/knowledge-base/client-side-theme-change.md
  docs-aspnet/knowledge-base/grid-export-multiple-grids-to-excel.md
  docs/controls/chat/overview.md
  docs/controls/chat/suggestions.md
  docs/controls/chat/templates.md
  docs/controls/chat/tools.md
  docs/controls/scheduler/timezones.md
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/scheduling/scheduler/timezones.md
  docs-aspnet/knowledge-base/client-side-theme-change.md
  docs-aspnet/knowledge-base/grid-export-multiple-grids-to-excel.md
  docs/controls/chat/overview.md
  docs/controls/chat/suggestions.md
  docs/controls/chat/templates.md
  docs/controls/chat/tools.md
  docs/controls/scheduler/timezones.md
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/ai/changelog.md
  docs/ai-assistant/changelog.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai/changelog.md
  docs/ai-assistant/changelog.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  typescript/kendo.all.d.ts
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/core/base/widget.js
  src/core/models/color.js
  src/core/models/databound-widget.js
  src/core/models/defaults.js
  src/core/models/effects.js
  src/core/models/event-map.js
  src/core/models/file-utils.js
  src/core/models/focus-utils.js
  src/core/models/html.js
  src/core/models/index.js
  src/core/models/input.js
  src/core/models/kendo-jquery.js
  src/core/models/mouse-event-normalizer.js
  src/core/models/namespace.js
  src/core/models/parser.js
  src/core/models/property-access.js
  src/core/models/selector.js
  src/core/models/type-utils.js
  src/core/models/widget-registry.js
  src/core/models/widget-utils.js
  src/core/services/widget-registry.service.js
  tests/unit/core/widget-features.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.virtuallist.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.virtuallist.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/chat.md
  docs/api/javascript/ui/promptbox.md
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/chat.md
  docs/api/javascript/ui/promptbox.md
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  VERSION
  docs-aspnet/_config.yml
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/datasource/custom-datasource.md
  docs-aspnet/html-helpers/navigation/treeview/overview.md
  docs/_config.yml
  docs/docs-builder.yml
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/intro/installation/licensing/activation-errors-and-warnings.md
  docs/intro/installation/licensing/license-code-faq.md
Owners: @NikoPenev21, @nelito987, @martintabakov

fix: preserve TimePicker initial time value
  src/kendo.timepicker.js
  tests/unit/timepicker/initialization.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

fix: preserve DateInput initial date value
  src/kendo.dateinput.js
  tests/unit/dateinput/initialization.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

fix: preserve DatePicker initial date value
  src/kendo.datepicker.js
  tests/unit/datepicker/initialization.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

fix: preserve DateTimePicker initial value
  src/kendo.datetimepicker.js
  tests/unit/datetimepicker/initialization.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

fix: preserve NumericTextBox initial value
  src/kendo.numerictextbox.js
  tests/unit/numerictextbox/initialization.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

fix: preserve AutoComplete initial value
  src/kendo.autocomplete.js
  tests/unit/autocomplete/initialization.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/integration-with-other-telerik-products/document-processing.md
  docs/_config.yml
  docs/docs-builder.yml
  docs/intro/installation/licensing/license-code-faq.md
  docs/knowledge-base/mediaplayer-add-initial-poster.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/ui/grid.md
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/conversational-ui/chat/adornments.md
  docs-aspnet/html-helpers/conversational-ui/chat/autoscroll-threshold.md
  docs-aspnet/html-helpers/conversational-ui/chat/overview.md
  docs/controls/chat/adornments.md
  docs/controls/chat/autoscroll-threshold.md
  docs/controls/chat/overview.md
  src/kendo.list.js
  tests/unit/dropdownlist/adaptive-mode.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  VERSION
  docs/api/javascript/ui/datepicker.md
  docs/api/javascript/ui/datetimepicker.md
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs-aspnet/html-helpers/data-management/grid/grouping/overview.md
  docs-aspnet/html-helpers/data-management/grid/grouping/sticky-groups.md
  docs-aspnet/html-helpers/layout/avatar/appearance.md
  docs-aspnet/html-helpers/layout/dialog/action-buttons.md
  docs-aspnet/html-helpers/navigation/button/appearance.md
  docs/api/javascript/ui/dialog.md
  docs/backwards-compatibility/2026-backward-compatibility.md
  docs/controls/button/button-styling.md
  docs/controls/grid/grouping/overview.md
  docs/controls/grid/grouping/sticky-groups.md
  package-lock.json
  package.json
  src/kendo.draganddrop.js
  tests/vitest.config.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs-aspnet/html-helpers/data-management/grid/grouping/overview.md
  docs-aspnet/html-helpers/data-management/grid/grouping/sticky-groups.md
  docs-aspnet/html-helpers/layout/avatar/appearance.md
  docs-aspnet/html-helpers/layout/dialog/action-buttons.md
  docs-aspnet/html-helpers/navigation/button/appearance.md
  docs/api/javascript/ui/dialog.md
  docs/backwards-compatibility/2026-backward-compatibility.md
  docs/controls/button/button-styling.md
  docs/controls/grid/grouping/overview.md
  docs/controls/grid/grouping/sticky-groups.md
  package-lock.json
  package.json
  src/kendo.draganddrop.js
  tests/vitest.config.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/installation/system-requirements/jquery-support.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/_config.yml
  docs/backwards-compatibility/2026-backward-compatibility.md
  docs/controls/chat/data-binding.md
  docs/docs-builder.yml
  docs/intro/supporting/jquery-support.md
  docs/styles-and-layout/sass-themes/compatibility.md
  package-lock.json
  package.json
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/installation/system-requirements/jquery-support.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/_config.yml
  docs/backwards-compatibility/2026-backward-compatibility.md
  docs/controls/chat/data-binding.md
  docs/docs-builder.yml
  docs/intro/supporting/jquery-support.md
  docs/styles-and-layout/sass-themes/compatibility.md
  package-lock.json
  package.json
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/controls/PDFViewer/form-filling.md
  docs/controls/PDFViewer/pdfjs-processing.md
  docs/controls/chat/adornments.md
  docs/controls/promptbox/adornments.md
  docs/knowledge-base/pdfViewer-load-pdf-dynamically-action-database.md
  docs/knowledge-base/preview-pdf-export-api-in-viewer.md
  docs/knowledge-base/set-default-search-text-pdfviewer-kendo-ui.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/PDFViewer/form-filling.md
  docs/controls/PDFViewer/pdfjs-processing.md
  docs/controls/chat/adornments.md
  docs/controls/promptbox/adornments.md
  docs/knowledge-base/pdfViewer-load-pdf-dynamically-action-database.md
  docs/knowledge-base/preview-pdf-export-api-in-viewer.md
  docs/knowledge-base/set-default-search-text-pdfviewer-kendo-ui.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/data/schedulerdatasource.md
  docs/api/javascript/ui/chat.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/data/schedulerdatasource.md
  docs/api/javascript/ui/chat.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  package-lock.json
  package.json
Owners: @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev
