Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @veselints, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/templates/editor-templates.md
  docs/api/javascript/data/ganttdatasource.md
  docs/api/javascript/data/gantttask.md
  docs/api/javascript/ui/gantt.md
  docs/api/javascript/ui/pdfviewer.md
  docs/backwards-compatibility/2023-backward-compatibility.md
  docs/controls/scheduling/gantt/binding.md
  docs/knowledge-base/colorizing-tasks.md
  docs/knowledge-base/gantt-customize-confirmation-window.md
  docs/knowledge-base/gantt-expand-collapse-alltasks.md
  docs/knowledge-base/gantt-select-task-on-expand-collapse.md
  src/kendo.toolbar.js
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Correct some pager messages for nl-NL.
  src/messages/kendo.messages.nl-NL.js
Owners: @Iankodj, @ag-petrov, @veselints

Update _config.yml
  docs/_config.yml
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Update _config.yml
  docs/_config.yml
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Added missing `categories` property on `ChartXAxisItem` and `ChartYAxisItem`
  typescript/kendo.all.d.ts
Owners: @Iankodj, @ag-petrov, @veselints

Add missing fields to SchedulerMessagesViews (#4980)
  typescript/kendo.all.d.ts
Owners: @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/accessibility/accessibility-compliance-core.html
  docs-aspnet/accessibility/accessibility-compliance-mvc.html
  docs-aspnet/accessibility/accessibility-compliance-table.html
  docs-aspnet/accessibility/accessibility-compliance.md
  docs-aspnet/html-helpers/navigation/treeview/animations.md
  docs-aspnet/html-helpers/navigation/treeview/templates.md
  docs/_config.yml
  src/kendo.datetimepicker.js
  src/kendo.timepicker.js
  src/messages/kendo.messages.nl-NL.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs/api/javascript/ui/buttongroup.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/pager.md
  docs/api/javascript/ui/toolbar.md
  docs/controls/conversational-ui/chat/integrations/connect-to-ms-bot-framework.md
  docs/controls/conversational-ui/chat/integrations/signalr-p-to-p.md
  package-lock.json
  package.json
  src/kendo.buttongroup.js
  src/kendo.pager.js
  src/kendo.toolbar.js
  src/kendo.window.js
  tests/buttongroup/initialization.js
  tests/listview/paging.js
  tests/pager/aria.js
  tests/pager/navigatable.js
  tests/pager/pager.js
  tests/toolbar/aria.js
  tests/toolbar/events.js
  tests/toolbar/navigatable.js
  tests/toolbar/rendering.js
  tests/toolbar/resizing.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @veselints

Sync with Kendo UI Professional
  docs/knowledge-base/drag-and-drop-to-empty-grid.md
  docs/third-party/webpack.md
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/navigation/wizard/content.md
  docs-aspnet/html-helpers/navigation/wizard/events.md
  docs-aspnet/html-helpers/navigation/wizard/getting-started.md
  docs-aspnet/html-helpers/navigation/wizard/images/wizard-getting-started.png
  docs-aspnet/html-helpers/navigation/wizard/overview.md
  docs/knowledge-base/dropdownlist-hide-items-when-click.md
  docs/third-party/webpack.md
  src/kendo.datetimepicker.js
  tests/datetimepicker/initialization.js
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs/api/javascript/ui/grid.md
  docs/controls/data-management/grid/appearance/hidden-containers.md
  docs/controls/data-management/grid/appearance/sizing.md
  docs/knowledge-base/grid-bulk-edit.md
  docs/knowledge-base/pivotgridv2-hide-row-and-column-summaries.md
  src/kendo.color.js
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs/styles-and-layout/less-themes/overview.md
  docs/styles-and-layout/sass-themes/browser-support.md
  docs/styles-and-layout/sass-themes/compatibility.md
  docs/styles-and-layout/sass-themes/figma-ui-kits.md
  docs/styles-and-layout/sass-themes/font-icons.md
  docs/styles-and-layout/sass-themes/svg-icons.md
  src/kendo.calendar.js
  src/kendo.multiselect.js
  src/kendo.popup.js
  tests/calendar/api.js
  tests/calendar/initialization.js
  tests/calendar/new-rendering.js
  tests/multiselect/api.js
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/add-dropdownlist-item.md
  docs-aspnet/knowledge-base/button-add-tooltip-hover-text.md
  docs-aspnet/knowledge-base/cdn-cannot-refer-internal-builds.md
  docs-aspnet/knowledge-base/cdn-connection-issues.md
  docs-aspnet/knowledge-base/change-hierarchy-grid-expand-collapse-icons.md
  docs-aspnet/knowledge-base/chart-align-zero-multiple-axes.md
  docs-aspnet/knowledge-base/chart-customize-category-labels.md
  docs-aspnet/knowledge-base/chart-no-data-message.md
  docs-aspnet/knowledge-base/chart-set-custom-color-for-each-chart-series.md
  docs-aspnet/knowledge-base/grid-send-form-data.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Update toolbar.md
  docs-aspnet/html-helpers/data-management/taskboard/toolbar.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Update kendo.messages.fr-CA.js
  src/messages/kendo.messages.fr-CA.js
Owners: @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/data-management/grid/search-panel.md
  docs-aspnet/installation/upgrading/upgrade.md
  docs-aspnet/knowledge-base/change-grid-pager-to-slider.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/filemanager/drag-and-drop.md
  docs-aspnet/html-helpers/data-management/listview/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/data-management/listview/binding/ajax-binding.md
  docs-aspnet/html-helpers/data-management/listview/editing.md
  docs-aspnet/html-helpers/data-management/listview/overview.md
  docs-aspnet/html-helpers/data-management/listview/paging.md
  docs-aspnet/html-helpers/data-management/listview/scrolling.md
  docs-aspnet/html-helpers/data-management/listview/selection.md
  docs-aspnet/html-helpers/data-management/listview/templates.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/binding/binding.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/binding/razor-pages.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/editing.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/export/advanced-export.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/export/pdf-export.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/layout.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/overview.md
  docs-aspnet/html-helpers/media/mediaplayer/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/media/mediaplayer/globalization/localization.md
  docs-aspnet/html-helpers/media/mediaplayer/multiple-sources.md
  docs-aspnet/html-helpers/media/mediaplayer/overview.md
  docs-aspnet/html-helpers/media/mediaplayer/playlists.md
  docs-aspnet/html-helpers/media/mediaplayer/razor-page.md
  src/kendo.html.icon.js
  src/kendo.window.js
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @veselints

Traduction
  .vs/VSWorkspaceState.json
  .vs/kendo-ui-core/FileContentIndex/0a6f024a-8dd5-43d2-a42a-7f053cfd38b4.vsidx
  .vs/kendo-ui-core/FileContentIndex/156e74b5-ce9c-4236-821c-265458d99cdd.vsidx
  .vs/kendo-ui-core/FileContentIndex/340caed3-3ac2-457a-81cd-a4ca8484daa2.vsidx
  .vs/kendo-ui-core/FileContentIndex/6a27373c-676a-4624-b704-786d2300e04e.vsidx
  .vs/kendo-ui-core/FileContentIndex/read.lock
  .vs/kendo-ui-core/v17/.wsuo
  .vs/slnx.sqlite
  src/messages/kendo.messages.en-US.js
  src/messages/kendo.messages.fr-CA.js
Owners: @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2022-backwards-compatibility.md
  docs-aspnet/html-helpers/helper-basics/content-security-policy.md
  docs-aspnet/html-helpers/helper-basics/fundamentals-mvc.md
  docs-aspnet/html-helpers/helper-basics/fundamentals.md
  docs-aspnet/html-helpers/helper-basics/using-client-templates.md
  docs-aspnet/html-helpers/scheduling/scheduler/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/scheduling/scheduler/accessibility/overview.md
  docs/accessibility/keyboard-support.md
  docs/backwards-compatibility/2022-backward-compatibility.md
  docs/styles-and-layout/less-themes/less-themes-migration.md
  docs/styles-and-layout/sass-themes/svg-icons.md
  package-lock.json
  package.json
  src/kendo.notification.js
  src/kendo.popup.js
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @veselints

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/charts/stockchart/data-binding.md
  docs-aspnet/html-helpers/charts/stockchart/navigator.md
  docs-aspnet/html-helpers/charts/stockchart/overview.md
  docs-aspnet/html-helpers/scheduling/scheduler/events.md
  docs-aspnet/html-helpers/scheduling/scheduler/getting-started-scheduler.md
  docs-aspnet/html-helpers/scheduling/scheduler/overview.md
  docs-aspnet/knowledge-base/define-custom-helper-methods.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/_config.yml
  docs/styles-and-layout/sass-themes/compatibility.md
  src/kendo.pager.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/accessibility/accessibility-compliance-table.html
  docs-aspnet/html-helpers/data-management/listview/binding/ajax-binding.md
  docs-aspnet/html-helpers/data-management/listview/events.md
  docs-aspnet/html-helpers/data-management/listview/getting-started-listview.md
  docs-aspnet/html-helpers/data-management/listview/grouping.md
  docs-aspnet/html-helpers/data-management/listview/images/listview-getting-started-result.png
  docs-aspnet/html-helpers/data-management/listview/overview.md
  docs-aspnet/html-helpers/data-management/listview/paging.md
  docs-aspnet/html-helpers/data-management/listview/scrolling.md
  docs-aspnet/html-helpers/data-management/listview/selection.md
  docs-aspnet/html-helpers/data-management/listview/templates.md
  docs-aspnet/html-helpers/helper-basics/content-security-policy.md
  docs-aspnet/html-helpers/helper-basics/using-client-templates.md
  docs-aspnet/html-helpers/layout/form/events.md
  docs-aspnet/html-helpers/layout/form/getting-started-form.md
  docs-aspnet/html-helpers/layout/form/groups.md
  docs-aspnet/html-helpers/layout/form/hidden-fields.md
  docs-aspnet/html-helpers/layout/form/images/form-getting-started-result.png
  docs-aspnet/html-helpers/layout/form/items.md
  docs-aspnet/html-helpers/layout/form/layout.md
  docs-aspnet/html-helpers/layout/form/orientation.md
  docs-aspnet/html-helpers/layout/form/overview.md
  docs-aspnet/html-helpers/layout/form/razor-page.md
  docs-aspnet/html-helpers/layout/form/validation.md
  docs-aspnet/styles-and-layout/less-themes/overview.md
  docs-aspnet/styles-and-layout/sass-themes/font-icons.md
  docs-aspnet/styles-and-layout/sass-themes/svg-icons.md
  docs/accessibility/section-508-wcag.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2023-backwards-compatibility.md
  docs-aspnet/html-helpers/data-management/grid/appearance/sizing.md
  docs-aspnet/styles-and-layout/sass-themes/svg-icons.md
  docs/backwards-compatibility/2023-backward-compatibility.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/backwards-compatibility/2023-backward-compatibility.md
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  VERSION
  docs-aspnet/styles-and-layout/images/theme-builder-ui-kit-color-styles.png
  docs-aspnet/styles-and-layout/sass-themes/sass-theme-builder.md
  docs/backwards-compatibility/2023-backward-compatibility.md
  docs/controls/data-management/grid/export/print-export.md
  docs/controls/interactivity/fx/replace.md
  docs/styles-and-layout/sass-themes/themebuilder.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/getting-started-core/first-steps.md
  docs-aspnet/html-helpers/data-management/grid/export/print-export.md
  docs-aspnet/html-helpers/helper-basics/fundamentals-mvc.md
  docs-aspnet/installation/adding-client-side-resources/cdn-service.md
  docs-aspnet/installation/adding-client-side-resources/using-local-files.md
  docs-aspnet/knowledge-base/cdn-cannot-refer-internal-builds.md
  docs-aspnet/knowledge-base/client-side-theme-change.md
  docs-aspnet/styles-and-layout/sass-themes/installation.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_contentTemplates/mvc/add-client-side-resources.md
  docs-aspnet/cloud-integration/amazon-web-services/dynamodb.md
  docs-aspnet/getting-started-core/first-steps-cli.md
  docs-aspnet/getting-started-core/first-steps-vs-extensions.md
  docs-aspnet/getting-started-core/first-steps-vs-mac.md
  docs-aspnet/html-helpers/data-management/grid/export/pdf-export.md
  docs-aspnet/html-helpers/data-management/grid/export/print-export.md
  docs-aspnet/html-helpers/data-management/treelist/export/pdf-export.md
  docs-aspnet/installation/adding-client-side-resources/cdn-service.md
  docs-aspnet/installation/adding-client-side-resources/using-local-files.md
  docs-aspnet/knowledge-base/client-side-theme-change.md
  docs-aspnet/styles-and-layout/less-themes/less-themes-migration.md
  docs-aspnet/styles-and-layout/less-themes/overview.md
  docs-aspnet/styles-and-layout/sass-themes/installation.md
  docs-aspnet/styles-and-layout/sass-themes/swatches.md
  docs-aspnet/tutorials/quickstart/team-efficiency.md
  src/kendo.button.menu.js
  tests/dropdownbutton/api.js
  tests/dropdownbutton/initialization.js
  tests/splitbutton/api.js
  tests/splitbutton/initialization.js
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs/accessibility/supporting-rtl-languages.md
  docs/api/javascript/pdf.md
  docs/controls/charts/export.md
  docs/controls/data-management/grid/export/pdf-export.md
  docs/framework/AngularJS/sushi-angular-tutorial.md
  docs/framework/drawing/pdf-output/embedded-fonts.md
  docs/framework/drawing/pdf-output/page-templates.md
  docs/intro/installation/cdn-service.md
  docs/jsp/introduction.md
  docs/knowledge-base/agenda-view-pdf-export-with-paging.md
  docs/knowledge-base/barcode-how-to-print-the-barcode.md
  docs/knowledge-base/change-theme-on-the-client-sass.md
  docs/knowledge-base/charts-troubleshoot-common-issues.md
  docs/knowledge-base/custom-data-source.md
  docs/knowledge-base/diagram_layout_different_pdf.md
  docs/knowledge-base/fixed-headers-grid.md
  docs/knowledge-base/grid-export-pdf-without-toolbar-pager.md
  docs/knowledge-base/grid-pdf-export-selected-rows-only.md
  docs/knowledge-base/listview-pdf-export-all-pages.md
  docs/knowledge-base/page-break-by-group-grid-pdf-export.md
  docs/knowledge-base/pdf-save-chart-with-different-settings.md
  docs/knowledge-base/scheduler-print-pdf-agenda-multiple-pages.md
  docs/knowledge-base/switch-label-messages-bootstrap-v4.md
  docs/third-party/electron.md
  docs/third-party/systemjs.md
  docs/third-party/using-kendo-with-requirejs.md
  src/kendo.data.js
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/html-helpers/data-management/treelist/events.md
  docs-aspnet/html-helpers/data-management/treelist/getting-started.md
  docs-aspnet/html-helpers/data-management/treelist/images/treelist-getting-started.png
  docs-aspnet/html-helpers/data-management/treelist/overview.md
  docs-aspnet/html-helpers/editors/autocomplete/accessibility/overview.md
  docs-aspnet/html-helpers/navigation/toolbar/events.md
  docs-aspnet/html-helpers/navigation/toolbar/getting-started.md
  docs-aspnet/html-helpers/navigation/toolbar/images/toolbar-getting-started.png
  docs-aspnet/html-helpers/navigation/toolbar/overview.md
  docs/api/javascript/ui/imageeditor.md
  docs/controls/editors/autocomplete/accessibility/overview.md
  src/kendo.colorpicker.js
  src/kendo.html.chiplist.js
  src/kendo.html.icon.js
  src/kendo.multiselect.js
  tests/colorpicker/aria.js
  tests/multiselect/aria.js
  tests/multiselect/initialization.js
  tests/notification/initialization.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs/controls/data-management/grid/selection.md
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Fix icons-list.html
  docs/styles-and-layout/sass-themes/icons-list.html
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/styles-and-layout/sass-themes/svg-icons.md
Owners: @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2023-backwards-compatibility.md
  docs-aspnet/styles-and-layout/sass-themes/overview.md
  docs-aspnet/vs-integration/new-project-wizard.md
  docs/controls/data-management/grid/get-started.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/datasource/overview.md
  docs-aspnet/knowledge-base/datasource-model-mapping.md
  docs-aspnet/knowledge-base/dropdownlist-bound-to-enum-values.md
  docs-aspnet/knowledge-base/eyedropper-imageeditor.md
  docs/styles-and-layout/sass-themes/installation.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/spreadsheet-dates-to-javascript.md
  docs/api/javascript/ui/grid.md
  src/kendo.editable.js
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/navigation/floatingactionbutton/appearance.md
  docs-aspnet/html-helpers/navigation/floatingactionbutton/overview.md
  docs-aspnet/tag-helpers/navigation/floatingactionbutton/appearance.md
  docs-aspnet/tag-helpers/navigation/floatingactionbutton/overview.md
  docs/api/javascript/ui/floatingactionbutton.md
  docs/api/javascript/ui/grid.md
  docs/controls/navigation/floatingactionbutton/appearance.md
  src/messages/kendo.messages.en-US.js
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/_config.yml
  docs-aspnet/styles-and-layout/components-rendering-overview.md
  docs-aspnet/styles-and-layout/less-themes/overview.md
  docs-aspnet/styles-and-layout/sass-themes/figma-kits.md
  docs-aspnet/styles-and-layout/sass-themes/font-icons-migration.md
  docs/styles-and-layout/components-rendering-overview.md
  docs/styles-and-layout/sass-themes/browser-support.md
  docs/styles-and-layout/sass-themes/compatibility.md
  docs/styles-and-layout/sass-themes/figma-ui-kits.md
  docs/styles-and-layout/sass-themes/font-icons-migration.md
  src/kendo.popup.js
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @gdenchevprog, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @veselints

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/dateinput/events.md
  docs-aspnet/html-helpers/editors/dateinput/getting-started.md
  docs-aspnet/html-helpers/editors/dateinput/images/dateinput-getting-started.png
  docs-aspnet/html-helpers/editors/dateinput/overview.md
Owners: @eyupyusein, @alestoya, @yanisslav, @aleksandarevangelatov, @StoyanGoranov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  src/messages/kendo.messages.fr-CA.js
Owners: @Iankodj, @ag-petrov, @veselints

missing localizable "Today" resource string in Calendar control
  src/messages/kendo.messages.en-US.js
Owners: @Iankodj, @ag-petrov, @veselints

updated Czech localization
  src/messages/kendo.messages.cs-CZ.js
Owners: @Iankodj, @ag-petrov, @veselints

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @gdenchevprog @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @yanisslav @aleksandarevangelatov @StoyanGoranov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @veselints
/tests/ @Iankodj @ag-petrov @veselints
/typescript/ @Iankodj @ag-petrov @veselints
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @veselints
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan
