Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan

Sync with Kendo UI Professional
  docs/introduction.md
  package-lock.json
  package.json
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

docs: add excluded razor pages
  docs-aspnet/docs-builder-mvc.yml
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/docs-builder-mvc.yml
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/knowledge-base/export-links-to-excel-grid.md
  docs-aspnet/knowledge-base/grid-change-default-filter.md
  docs-aspnet/knowledge-base/grid-hierarchy-localdata.md
  docs-aspnet/knowledge-base/isolate-sample-with-an-in-memory-database.md
  docs-aspnet/knowledge-base/spreadsheet-understanding-telerik-web-spreadsheet-and-document-processing-library.md
  docs/api/javascript/ui/dialog.md
  docs/api/javascript/ui/notification.md
  docs/knowledge-base/cascading-dropdown-editors.md
  docs/knowledge-base/custom-page-layout.md
  docs/knowledge-base/daterangepicker-customize-behavior.md
  docs/knowledge-base/disable-kendo-ui-grid-navigation.md
  docs/knowledge-base/display-image-in-chart-categoryaxis-label.md
  docs/knowledge-base/dynamically-set-min-date-time-kendo-datetimepicker.md
  docs/knowledge-base/export-grid-rows-excel-group-paging.md
  docs/knowledge-base/export_listview_to_excel.md
  docs/knowledge-base/grid-bound-to-asp-net-mvc-action-methods---crud-operations.md
  docs/knowledge-base/grid-bound-to-page-methods.md
  docs/knowledge-base/grid-customizing-filter-for-column-with-template.md
  docs/knowledge-base/grid-disable-header-keyboard-navigation.md
  docs/knowledge-base/grid-faq.md
  docs/knowledge-base/grid_insert_new_column_with_excel_export.md
  docs/knowledge-base/how-to-add-tooltips-to-dropdownlist-items.md
  docs/knowledge-base/kendo-guid-error.md
  docs/knowledge-base/load-all-pages-kendo-ui-grid-footer-pagination-dropdown.md
  docs/knowledge-base/load-and-append-records.md
  docs/knowledge-base/make-parent-nodes-font-bold-treeview-kendoui-aspnetmvc.md
  docs/knowledge-base/opening-filter-dropdown-left-side-kendo-grid-jquery.md
  docs/knowledge-base/persist-row-selection-while-paging.md
  docs/knowledge-base/prevent-enter-in-editor.md
  docs/knowledge-base/prevent-scrollbars-kendo-ui-responsive-panel.md
  docs/knowledge-base/scheduler_event_duration_field_in_editable_template.md
  docs/knowledge-base/spreadsheet-set-column-width-after-data-binding.md
  docs/knowledge-base/stackedchart_display_both_stackvalue_and_individual_labels.md
  docs/knowledge-base/switch-displaying-label-bootstrap-main-theme-kendo-jquery.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/knowledge-base/export-links-to-excel-grid.md
  docs-aspnet/knowledge-base/grid-change-default-filter.md
  docs-aspnet/knowledge-base/grid-hierarchy-localdata.md
  docs-aspnet/knowledge-base/isolate-sample-with-an-in-memory-database.md
  docs-aspnet/knowledge-base/spreadsheet-understanding-telerik-web-spreadsheet-and-document-processing-library.md
  docs/api/javascript/ui/dialog.md
  docs/api/javascript/ui/notification.md
  docs/knowledge-base/cascading-dropdown-editors.md
  docs/knowledge-base/custom-page-layout.md
  docs/knowledge-base/daterangepicker-customize-behavior.md
  docs/knowledge-base/disable-kendo-ui-grid-navigation.md
  docs/knowledge-base/display-image-in-chart-categoryaxis-label.md
  docs/knowledge-base/dynamically-set-min-date-time-kendo-datetimepicker.md
  docs/knowledge-base/export-grid-rows-excel-group-paging.md
  docs/knowledge-base/export_listview_to_excel.md
  docs/knowledge-base/grid-bound-to-asp-net-mvc-action-methods---crud-operations.md
  docs/knowledge-base/grid-bound-to-page-methods.md
  docs/knowledge-base/grid-customizing-filter-for-column-with-template.md
  docs/knowledge-base/grid-disable-header-keyboard-navigation.md
  docs/knowledge-base/grid-faq.md
  docs/knowledge-base/grid_insert_new_column_with_excel_export.md
  docs/knowledge-base/how-to-add-tooltips-to-dropdownlist-items.md
  docs/knowledge-base/kendo-guid-error.md
  docs/knowledge-base/load-all-pages-kendo-ui-grid-footer-pagination-dropdown.md
  docs/knowledge-base/load-and-append-records.md
  docs/knowledge-base/make-parent-nodes-font-bold-treeview-kendoui-aspnetmvc.md
  docs/knowledge-base/opening-filter-dropdown-left-side-kendo-grid-jquery.md
  docs/knowledge-base/persist-row-selection-while-paging.md
  docs/knowledge-base/prevent-enter-in-editor.md
  docs/knowledge-base/prevent-scrollbars-kendo-ui-responsive-panel.md
  docs/knowledge-base/scheduler_event_duration_field_in_editable_template.md
  docs/knowledge-base/spreadsheet-set-column-width-after-data-binding.md
  docs/knowledge-base/stackedchart_display_both_stackvalue_and_individual_labels.md
  docs/knowledge-base/switch-displaying-label-bootstrap-main-theme-kendo-jquery.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/accessibility/accessibility-compliance-table.html
  docs-aspnet/accessibility/accessibility-compliance.md
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/data-management/spreadsheet/overview.md
  docs-aspnet/html-helpers/data-management/spreadsheet/toolbar.md
  docs-aspnet/html-helpers/editors/otpinput/adaptiveness.md
  docs-aspnet/html-helpers/editors/otpinput/appearance.md
  docs-aspnet/html-helpers/editors/otpinput/getting-started.md
  docs-aspnet/html-helpers/editors/otpinput/items.md
  docs-aspnet/html-helpers/editors/otpinput/overview.md
  docs-aspnet/html-helpers/editors/otpinput/separator.md
  docs-aspnet/html-helpers/editors/otpinput/types.md
  docs-aspnet/installation/activating-your-license/setting-up-your-license.md
  package-lock.json
  package.json
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs-aspnet/accessibility/accessibility-compliance-table.html
  docs-aspnet/accessibility/accessibility-compliance.md
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/data-management/spreadsheet/overview.md
  docs-aspnet/html-helpers/data-management/spreadsheet/toolbar.md
  docs-aspnet/html-helpers/editors/otpinput/adaptiveness.md
  docs-aspnet/html-helpers/editors/otpinput/appearance.md
  docs-aspnet/html-helpers/editors/otpinput/getting-started.md
  docs-aspnet/html-helpers/editors/otpinput/items.md
  docs-aspnet/html-helpers/editors/otpinput/overview.md
  docs-aspnet/html-helpers/editors/otpinput/separator.md
  docs-aspnet/html-helpers/editors/otpinput/types.md
  docs-aspnet/installation/activating-your-license/setting-up-your-license.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs/knowledge-base/conditional-column-editability-kendo-ui-grid.md
  docs/knowledge-base/customize-column-menu-icon-kendo-ui-grid-jquery.md
  docs/knowledge-base/how-to-export-page-content-and-grid-to-excel.md
  docs/knowledge-base/restrict-decimals-allow-values-kendo-ui-grid-jquery.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/html-helpers/data-management/pivotgrid/data-binding/razor-page.md
  docs-aspnet/html-helpers/data-management/treelist/binding/razor-page.md
  docs-aspnet/html-helpers/editors/upload/razor-page.md
  docs-aspnet/html-helpers/navigation/timeline/razor-pages.md
  docs-aspnet/html-helpers/navigation/treeview/binding.md
  docs-aspnet/html-helpers/navigation/treeview/overview.md
  docs-aspnet/html-helpers/navigation/treeview/razor-page.md
  docs-aspnet/html-helpers/navigation/wizard/razor-page.md
  docs/intro/first-steps.md
  docs/intro/installation/hosting-kendoui.md
  docs/intro/installation/nuget-install.md
  docs/intro/scripts/what-you-need.md
  docs/knowledge-base/conditional-column-editability-kendo-ui-grid.md
  docs/knowledge-base/customize-column-menu-icon-kendo-ui-grid-jquery.md
  docs/knowledge-base/customize-multicheckbox-filter-kendo-ui-jquery-grid.md
  docs/knowledge-base/how-to-export-page-content-and-grid-to-excel.md
  docs/knowledge-base/restrict-decimals-allow-values-kendo-ui-grid-jquery.md
  docs/third-party/webpack.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/helper-basics/build-team-efficiency-dashboard/overview.md
  docs-aspnet/installation/activating-your-license/license-key-errors.md
  docs-aspnet/installation/activating-your-license/setting-up-your-license.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/installation/activating-your-license/license-key-errors.md
  docs-aspnet/installation/activating-your-license/setting-up-your-license.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs/api/javascript/ui/menu.md
  src/kendo.menu.js
  src/kendo.toolbar.js
  tests/unit/menu/init.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/conversational-ui/aiprompt/overview.md
  docs-aspnet/html-helpers/conversational-ui/chat/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/conversational-ui/chat/accessibility/overview.md
  docs-aspnet/html-helpers/conversational-ui/chat/overview.md
  docs-aspnet/html-helpers/editors/checkbox/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/editors/checkbox/accessibility/overview.md
  docs-aspnet/html-helpers/editors/checkbox/overview.md
  docs/accessibility/compliance.md
  docs/api/javascript/ui/actionsheet.md
  src/kendo.actionsheet.js
  tests/unit/actionsheet/api.js
  tests/unit/actionsheet/initialization.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/conversational-ui/aiprompt/overview.md
  docs-aspnet/html-helpers/conversational-ui/chat/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/conversational-ui/chat/accessibility/overview.md
  docs-aspnet/html-helpers/conversational-ui/chat/overview.md
  docs-aspnet/html-helpers/editors/checkbox/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/editors/checkbox/accessibility/overview.md
  docs-aspnet/html-helpers/editors/checkbox/overview.md
  docs/accessibility/compliance.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/accessibility/accessibility-compliance.md
  docs-aspnet/html-helpers/helper-basics/overview.md
  docs-aspnet/html-helpers/helper-basics/validation.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/accessibility/accessibility-compliance.md
  docs-aspnet/html-helpers/helper-basics/overview.md
  docs-aspnet/html-helpers/helper-basics/validation.md
  docs/api/javascript/ui/grid.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/editing/overview.md
  docs-aspnet/html-helpers/data-management/pivotgrid/overview.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/overview.md
  docs-aspnet/html-helpers/data-management/propertygrid/overview.md
  docs-aspnet/html-helpers/data-management/treelist/editing/overview.md
  docs-aspnet/html-helpers/editors/timepicker/getting-started.md
  docs-aspnet/knowledge-base/eyedropper-imageeditor.md
  docs-aspnet/knowledge-base/filemanager-create-download-command.md
  docs-aspnet/knowledge-base/gantt-filter-by-resouce-using-multiselect.md
  docs/controls/grid/editing/editing.md
  docs/controls/treelist/editing/overview.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/editing/overview.md
  docs-aspnet/html-helpers/data-management/pivotgrid/overview.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/overview.md
  docs-aspnet/html-helpers/data-management/propertygrid/overview.md
  docs-aspnet/html-helpers/data-management/treelist/editing/overview.md
  docs-aspnet/html-helpers/editors/timepicker/getting-started.md
  docs-aspnet/knowledge-base/eyedropper-imageeditor.md
  docs-aspnet/knowledge-base/filemanager-create-download-command.md
  docs-aspnet/knowledge-base/gantt-filter-by-resouce-using-multiselect.md
  docs/controls/grid/editing/editing.md
  docs/controls/treelist/editing/overview.md
  package-lock.json
  package.json
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/editors/colorpicker/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/editors/colorpicker/overview.md
  docs-aspnet/html-helpers/navigation/chip/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/navigation/chip/accessibility/overview.md
  docs-aspnet/html-helpers/navigation/chip/overview.md
  docs-aspnet/html-helpers/navigation/chiplist/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/navigation/chiplist/accessibility/overview.md
  docs-aspnet/html-helpers/navigation/chiplist/overview.md
  docs-aspnet/html-helpers/navigation/menu/contextmenu/accessibility/keyboard-navigation.md
  docs-aspnet/knowledge-base/scheduler-change-timezone.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/editors/colorpicker/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/editors/colorpicker/overview.md
  docs-aspnet/html-helpers/navigation/chip/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/navigation/chip/accessibility/overview.md
  docs-aspnet/html-helpers/navigation/chip/overview.md
  docs-aspnet/html-helpers/navigation/chiplist/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/navigation/chiplist/accessibility/overview.md
  docs-aspnet/html-helpers/navigation/chiplist/overview.md
  docs-aspnet/html-helpers/navigation/menu/contextmenu/accessibility/keyboard-navigation.md
  docs-aspnet/knowledge-base/scheduler-change-timezone.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs/knowledge-base/grid-how-to-change-multi-checkbox-filter-to-contains.md
  docs/knowledge-base/how-to-destroy-iframe-tooltip-content-kendo-ui.md
  docs/knowledge-base/iterate-check-items-kendo-ui-jquery-grid-filtermulticheck.md
  package-lock.json
  package.json
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs-aspnet/deployment/ci-cd-license-key.md
  docs-aspnet/html-helpers/data-management/spreadsheet/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/data-management/spreadsheet/overview.md
  docs-aspnet/html-helpers/data-management/spreadsheet/toolbar.md
  docs-aspnet/html-helpers/data-management/spreadsheet/troubleshooting.md
  docs-aspnet/html-helpers/editors/slider/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/editors/slider/overview.md
  docs-aspnet/html-helpers/interactivity/sortable/overview.md
  docs-aspnet/html-helpers/layout/form/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/layout/form/accessibility/overview.md
  docs-aspnet/html-helpers/layout/form/overview.md
  docs-aspnet/html-helpers/navigation/togglebutton/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/navigation/togglebutton/badges.md
  docs-aspnet/html-helpers/navigation/togglebutton/icons.md
  docs-aspnet/html-helpers/navigation/togglebutton/overview.md
  docs-aspnet/html-helpers/navigation/toolbar/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/navigation/toolbar/overview.md
  docs-aspnet/html-helpers/navigation/toolbar/use-fontawesome-icons.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/deployment/ci-cd-license-key.md
  docs-aspnet/html-helpers/data-management/spreadsheet/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/data-management/spreadsheet/overview.md
  docs-aspnet/html-helpers/data-management/spreadsheet/toolbar.md
  docs-aspnet/html-helpers/data-management/spreadsheet/troubleshooting.md
  docs-aspnet/html-helpers/editors/slider/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/editors/slider/overview.md
  docs-aspnet/html-helpers/interactivity/sortable/overview.md
  docs-aspnet/html-helpers/layout/form/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/layout/form/accessibility/overview.md
  docs-aspnet/html-helpers/layout/form/overview.md
  docs-aspnet/html-helpers/navigation/togglebutton/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/navigation/togglebutton/badges.md
  docs-aspnet/html-helpers/navigation/togglebutton/icons.md
  docs-aspnet/html-helpers/navigation/togglebutton/overview.md
  docs-aspnet/html-helpers/navigation/toolbar/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/navigation/toolbar/overview.md
  docs-aspnet/html-helpers/navigation/toolbar/use-fontawesome-icons.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Update kendo.messages.ar-AE.js
  src/messages/kendo.messages.ar-AE.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Update kendo.messages.ar-AE.js
  src/messages/kendo.messages.ar-AE.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/checkboxgroup/binding.md
  docs-aspnet/knowledge-base/images/setting-up-private-feed-credentials.png
  docs-aspnet/knowledge-base/images/setting-up-private-feed.png
  docs-aspnet/knowledge-base/setup-private-nuget-feed-azure.md
  docs/knowledge-base/single-level-treeview-kendo-ui-jquery.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/charts/accessibility/key-nav.md
  docs-aspnet/html-helpers/editors/checkboxgroup/binding.md
  docs-aspnet/knowledge-base/grid-azure-empty-cells.md
  docs-aspnet/knowledge-base/images/grid-azure-empty-cells-1.png
  docs-aspnet/knowledge-base/images/grid-azure-empty-cells-2.png
  docs-aspnet/knowledge-base/images/grid-azure-empty-cells-3.png
  docs-aspnet/knowledge-base/images/grid-azure-empty-cells-4.png
  docs-aspnet/knowledge-base/images/setting-up-private-feed-credentials.png
  docs-aspnet/knowledge-base/images/setting-up-private-feed.png
  docs-aspnet/knowledge-base/setup-private-nuget-feed-azure.md
  docs/knowledge-base/single-level-treeview-kendo-ui-jquery.md
  src/kendo.licensing.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Update make-dropdownlist-required.md
  docs/knowledge-base/make-dropdownlist-required.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/intro/installation/npm.md
  docs/knowledge-base/create-scatter-charts-with-legends-and-object-data-kendo-ui-jquery.md
  docs/knowledge-base/customize-form-field-height-row-gutter-kendo-ui-jquery.md
  docs/knowledge-base/dojo-snippets-list-faq.md
  docs/knowledge-base/how-to-autofit-columns-multicolumncombobox-kendo-ui-jquery.md
  docs/knowledge-base/how-to-bind-urls-and-titles-to-kendo-ui-menu.md
  docs/knowledge-base/how-to-change-marker-colors-kendo-ui-map.md
  docs/styles-and-layout/sass-themes/font-icons.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/deployment/ci-cd-license-key.md
  docs-aspnet/getting-started-core/first-steps.md
  docs-aspnet/getting-started-mvc/first-steps.md
  docs-aspnet/html-helpers/conversational-ui/aiprompt/accessibility/overview.md
  docs-aspnet/html-helpers/data-management/grid/accessibility/overview.md
  docs-aspnet/html-helpers/layout/popover/overview.md
  docs-aspnet/html-helpers/scheduling/scheduler/timezones.md
  docs-aspnet/knowledge-base/scheduler-change-timezone.md
  docs-aspnet/vs-integration/images/available-templates-mvc.png
  docs-aspnet/vs-integration/images/available-templates.png
  docs-aspnet/vs-integration/new-project-wizard.md
  docs/controls/gantt/accessibility/overview.md
  docs/controls/grid/accessibility/overview.md
  docs/controls/otpinput/accessibility/overview.md
  docs/knowledge-base/how-to-set-dynamically-rows-count-in-kendo-ui-spreadsheet.md
  src/kendo.dropdownlist.js
  src/kendo.validator.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/getting-started-core/first-steps.md
  docs-aspnet/getting-started-mvc/first-steps.md
  docs-aspnet/html-helpers/scheduling/scheduler/timezones.md
  docs-aspnet/knowledge-base/scheduler-change-timezone.md
  docs-aspnet/vs-integration/images/available-templates-mvc.png
  docs-aspnet/vs-integration/images/available-templates.png
  docs-aspnet/vs-integration/new-project-wizard.md
  docs/knowledge-base/how-to-set-dynamically-rows-count-in-kendo-ui-spreadsheet.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/knowledge-base/images/select-razor-class-library-template.png
  docs-aspnet/knowledge-base/images/support-views-pages-checkbox.png
  docs-aspnet/knowledge-base/razor-class-library.md
  docs/knowledge-base/disable-autocomplete-popup-kendo-ui-grid.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/data-management/treelist/how-to/multiple-grid-export.md
  docs-aspnet/html-helpers/diagrams-and-maps/map/how-to/bind-map-to-model.md
  docs-aspnet/html-helpers/editors/autocomplete/how-to/add-new-values-to-grid-with-autocomplete-editor.md
  docs-aspnet/html-helpers/editors/datepicker/how-to/masked-date-picker-grid.md
  docs-aspnet/html-helpers/editors/dropdownlist/how-to/cascading-and-virtualization.md
  docs-aspnet/html-helpers/editors/dropdownlist/how-to/cascading-in-grid.md
  docs-aspnet/html-helpers/editors/dropdownlist/how-to/cascading-web-api.md
  docs-aspnet/html-helpers/editors/dropdownlist/how-to/use-custom-data-source.md
  docs-aspnet/installation/system-requirements/os-support.md
  docs-aspnet/knowledge-base/autocomplete-editor-for-grid.md
  docs-aspnet/knowledge-base/date-picker-masked-grid.md
  docs-aspnet/knowledge-base/dropdownlist-cascading-and-virtualization.md
  docs-aspnet/knowledge-base/dropdownlist-cascading-in-grid.md
  docs-aspnet/knowledge-base/dropdownlist-cascading-web-api.md
  docs-aspnet/knowledge-base/dropdownlist-use-custom-data-source.md
  docs-aspnet/knowledge-base/images/select-razor-class-library-template.png
  docs-aspnet/knowledge-base/images/support-views-pages-checkbox.png
  docs-aspnet/knowledge-base/map-bind-to-model.md
  docs-aspnet/knowledge-base/razor-class-library.md
  docs-aspnet/knowledge-base/treelist-multiple-export-excel.md
  docs-aspnet/vs-integration/convert-project-wizard.md
  docs/knowledge-base/disable-autocomplete-popup-kendo-ui-grid.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/menu-navigation-between-pages.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/multiselect/binding/model-binding.md
  docs-aspnet/knowledge-base/menu-navigation-between-pages.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/installation/installation-options/nuget-install.md
  docs-aspnet/knowledge-base/autocomplete-editor-for-grid.md
  docs-aspnet/knowledge-base/date-picker-masked-grid.md
  docs-aspnet/knowledge-base/dropdownlist-cascading-and-virtualization.md
  docs-aspnet/knowledge-base/dropdownlist-cascading-in-grid.md
  docs-aspnet/knowledge-base/dropdownlist-cascading-web-api.md
  docs-aspnet/knowledge-base/treelist-multiple-export-excel.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs/controls/actionsheet/action-buttons.md
  docs/controls/menu/icons.md
  docs/intro/installation/images/source-code.png
  package-lock.json
  package.json
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs-aspnet/getting-started-mvc/manual-setup.md
  docs-aspnet/getting-started-mvc/setup-with-nuget.md
  docs-aspnet/html-helpers/charts/elements/legend.md
  docs-aspnet/html-helpers/charts/stockchart/events.md
  docs-aspnet/html-helpers/data-management/propertygrid/events.md
  docs-aspnet/html-helpers/diagrams-and-maps/orgchart/events.md
  docs-aspnet/html-helpers/editors/checkbox/getting-started.md
  docs-aspnet/html-helpers/editors/checkboxgroup/getting-started.md
  docs-aspnet/html-helpers/editors/datepicker/dateinput-integration.md
  docs-aspnet/html-helpers/editors/datetimepicker/integration.md
  docs-aspnet/html-helpers/editors/flatcolorpicker/contrast-tool.md
  docs-aspnet/html-helpers/editors/imageeditor/events.md
  docs-aspnet/html-helpers/editors/multiselect/binding/razor-page.md
  docs-aspnet/html-helpers/editors/switch/getting-started.md
  docs-aspnet/html-helpers/interactivity/progressbar/events.md
  docs-aspnet/html-helpers/layout/expansionpanel/state.md
  docs-aspnet/html-helpers/navigation/actionsheet/getting-started.md
  docs-aspnet/html-helpers/navigation/timeline/images.md
  docs-aspnet/html-helpers/navigation/treeview/drag-drop.md
  docs-aspnet/html-helpers/scheduling/gantt/column-menu.md
  docs-aspnet/html-helpers/scheduling/gantt/events.md
  docs-aspnet/knowledge-base/detail-grid-export.md
  docs-aspnet/knowledge-base/panelbar-hierarchy-binding.md
  docs-aspnet/knowledge-base/pass-additional-data-datasourceresult.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/getting-started-mvc/manual-setup.md
  docs-aspnet/getting-started-mvc/setup-with-nuget.md
  docs-aspnet/html-helpers/charts/elements/legend.md
  docs-aspnet/html-helpers/charts/stockchart/events.md
  docs-aspnet/html-helpers/data-management/propertygrid/events.md
  docs-aspnet/html-helpers/diagrams-and-maps/orgchart/events.md
  docs-aspnet/html-helpers/editors/checkbox/getting-started.md
  docs-aspnet/html-helpers/editors/checkboxgroup/getting-started.md
  docs-aspnet/html-helpers/editors/datepicker/dateinput-integration.md
  docs-aspnet/html-helpers/editors/datetimepicker/integration.md
  docs-aspnet/html-helpers/editors/flatcolorpicker/contrast-tool.md
  docs-aspnet/html-helpers/editors/imageeditor/events.md
  docs-aspnet/html-helpers/editors/multiselect/binding/razor-page.md
  docs-aspnet/html-helpers/editors/switch/getting-started.md
  docs-aspnet/html-helpers/interactivity/progressbar/events.md
  docs-aspnet/html-helpers/layout/expansionpanel/state.md
  docs-aspnet/html-helpers/navigation/actionsheet/getting-started.md
  docs-aspnet/html-helpers/navigation/timeline/images.md
  docs-aspnet/html-helpers/navigation/treeview/drag-drop.md
  docs-aspnet/html-helpers/scheduling/gantt/column-menu.md
  docs-aspnet/html-helpers/scheduling/gantt/events.md
  docs-aspnet/knowledge-base/detail-grid-export.md
  docs-aspnet/knowledge-base/panelbar-hierarchy-binding.md
  docs-aspnet/knowledge-base/pass-additional-data-datasourceresult.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/flatcolorpicker/contrast-tool.md
  docs/knowledge-base/export-filtered-data-kendo-ui-jquery-grid.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov
