Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/flatcolorpicker/contrast-tool.md
  docs/knowledge-base/export-filtered-data-kendo-ui-jquery-grid.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/flatcolorpicker/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/editors/flatcolorpicker/accessibility/overview.md
  docs/framework/datasource/crud.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  VERSION
  docs/framework/datasource/crud.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Update 'exec' editor.md to include link to editor tools documentation
  docs/api/javascript/ui/editor.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/autocomplete/adaptive-mode.md
  docs/controls/colorpicker/adaptive-mode.md
  docs/controls/combobox/adaptive-mode.md
  docs/controls/datepicker/adaptive-mode.md
  docs/controls/daterangepicker/adaptive-mode.md
  docs/controls/datetimepicker/adaptive-mode.md
  docs/controls/dropdownlist/adaptive-mode.md
  docs/controls/dropdowntree/adaptive-mode.md
  docs/controls/multicolumncombobox/adaptive-mode.md
  docs/controls/multiselect/adaptive-mode.md
  docs/controls/timedurationpicker/adaptive-mode.md
  docs/controls/timepicker/adaptive-mode.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/upload/form-integration.md
  docs-aspnet/html-helpers/editors/upload/overview.md
  docs-aspnet/installation/activating-your-license/license-key-errors.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/deployment/troubleshooting.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/getting-started-core/first-steps-vs-extensions.md
  docs-aspnet/getting-started-core/first-steps.md
  docs-aspnet/getting-started-core/images/mac-nuget-install.png
  docs-aspnet/getting-started-core/images/nuget-install.png
  docs-aspnet/getting-started-mvc/first-steps.md
  docs-aspnet/getting-started-mvc/images/create-new-project-templates-mvc.png
  docs-aspnet/getting-started-mvc/images/install-nuget-mvc.png
  docs-aspnet/getting-started-mvc/setup-with-nuget.md
  docs-aspnet/html-helpers/editors/autocomplete/adaptive-mode.md
  docs-aspnet/html-helpers/navigation/actionsheet/action-buttons.md
  docs-aspnet/html-helpers/navigation/actionsheet/animations.md
  docs-aspnet/html-helpers/navigation/actionsheet/getting-started.md
  docs-aspnet/html-helpers/navigation/actionsheet/images/actionsheet-getting-started.png
  docs-aspnet/html-helpers/navigation/actionsheet/overview.md
  docs-aspnet/installation/installation-options/msi-install.md
  docs-aspnet/installation/installation-options/nuget-install.md
  docs-aspnet/installation/upgrading/upgrade.md
  docs-aspnet/integration-with-other-telerik-products/document-processing.md
  docs-aspnet/knowledge-base/trial-to-commercial-license-troubleshooting.md
  docs-aspnet/troubleshoot/troubleshooting-nuget.md
  docs-aspnet/tutorials/tutorial-kendo-music-store/music-store-web/kendo-music-store-web-setup.md
  docs-aspnet/vs-integration/images/available-templates-mvc.png
  docs-aspnet/vs-integration/images/convert-project.png
  docs-aspnet/vs-integration/images/essentials.png
  docs-aspnet/vs-integration/vsextensions-options.md
  docs/api/javascript/dataviz/ui/chart.md
  docs/controls/actionsheet/animations.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/csp-disable.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Update issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
Owners: @VicTachev, @nenchef

chore: disable blank issue
  .github/ISSUE_TEMPLATE/config.yml
Owners: @VicTachev, @nenchef

chore: update PR template
  .github/pull_request_template.md
Owners: @VicTachev, @nenchef

chore: update PR template
  .github/pull_request_template.md
Owners: @VicTachev, @nenchef

chore: disable blank issue
  .github/ISSUE_TEMPLATE/config.yml
Owners: @VicTachev, @nenchef

Update issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
Owners: @VicTachev, @nenchef

Sync with Kendo UI Professional
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull-request-template
  docs/api/javascript/ui/grid.md
  docs/controls/grid/appearance/adaptive-tools.md
  docs/controls/grid/appearance/adaptive.md
  docs/controls/grid/appearance/sizing.md
Owners: @VicTachev, @nenchef, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/html-helpers/pdf/pdfviewer/form-filling.md
  docs-aspnet/html-helpers/pdf/pdfviewer/overview.md
  package-lock.json
  package.json
  src/kendo.menu.js
  tests/unit/menu/init.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/chartwizard/binding/remote-binding.md
  docs-aspnet/html-helpers/chartwizard/getting-started.md
  docs-aspnet/html-helpers/chartwizard/overview.md
  docs-aspnet/html-helpers/chartwizard/window-configuration.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/chartwizard/binding/remote-binding.md
  docs-aspnet/html-helpers/chartwizard/getting-started.md
  docs-aspnet/html-helpers/chartwizard/overview.md
  docs-aspnet/html-helpers/chartwizard/window-configuration.md
  docs-aspnet/html-helpers/editors/otpinput/appearance.md
  docs-aspnet/html-helpers/editors/otpinput/events.md
  docs-aspnet/html-helpers/editors/otpinput/getting-started.md
  docs-aspnet/html-helpers/editors/otpinput/items.md
  docs-aspnet/html-helpers/editors/otpinput/types.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs/knowledge-base/kendo-ui-grid-focused-cell-index.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs/api/javascript/dataviz/ui/diagram.md
  docs/api/javascript/pdf.md
  docs/intro/installation/npm.md
  docs/third-party/webpack.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/intro/installation/npm.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/html-helpers/data-management/grid/export/server-export.md
  docs-aspnet/html-helpers/editors/editor/import-export.md
  docs-aspnet/installation/installation-options/msi-install.md
  docs/api/javascript/ui/aiprompt.md
  docs/api/javascript/ui/editor.md
  docs/api/javascript/ui/listview.md
  docs/backwards-compatibility/2025-backward-compatibility.md
  docs/controls/grid/toolbar.md
  docs/knowledge-base/export-orgchart-to-excel-kendo-ui.md
  docs/knowledge-base/remove-heavy-border-selected-tab-kendo-ui-tabstrip.md
  src/kendo.data.js
  tests/unit/data/ai-transport.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/data-management/grid/toolbar.md
  docs-aspnet/html-helpers/navigation/menu/icons.md
  docs-aspnet/html-helpers/navigation/menu/overview.md
  docs-aspnet/html-helpers/pdf/pdfviewer/form-filling.md
  docs-aspnet/installation/activating-your-license/license-key-errors.md
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/_config.yml
  docs/api/javascript/dataviz/ui/chart.md
  docs/api/javascript/ui/editor.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/listview.md
  docs/api/javascript/ui/pager.md
  docs/api/javascript/ui/propertygrid.md
  docs/api/javascript/ui/tabstrip.md
  docs/api/javascript/ui/toolbar.md
  docs/api/javascript/ui/treelist.md
  docs/controls/PDFViewer/form-filling.md
  docs/controls/form/items.md
  docs/controls/tabstrip/datasource-binding.md
  docs/controls/tabstrip/overview.md
  docs/controls/tabstrip/tabs.md
  docs/controls/upload/form-integration.md
  docs/intro/installation/licensing/activation-errors-and-warnings.md
  docs/intro/installation/nuget-install.md
  docs/introduction.md
  docs/styles-and-layout/sass-themes/compatibility.md
  src/kendo.actionsheet.view.js
  src/kendo.button.menu.js
  src/kendo.colorpicker.js
  src/kendo.pager.js
  tests/unit/pager/aria.js
  tests/unit/pager/navigatable.js
  tests/unit/pager/pager.js
  tests/unit/splitbutton/initialization.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/html-helpers/data-management/grid/appearance/adaptive-tools.md
  docs-aspnet/html-helpers/data-management/grid/appearance/sizing.md
  docs-aspnet/styles-and-layout/adaptive-rendering.md
  docs/controls/editor/ai-integration.md
  docs/controls/upload/form-integration.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/html-helpers/data-management/grid/appearance/adaptive-tools.md
  docs-aspnet/html-helpers/data-management/grid/appearance/sizing.md
  docs-aspnet/styles-and-layout/adaptive-rendering.md
  docs/controls/editor/ai-integration.md
  docs/controls/upload/form-integration.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Update kendo.core.js
  src/kendo.core.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Update kendo.core.js
  src/kendo.core.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/getting-started-mvc/images/configure-new-mvc-project.png
  docs-aspnet/getting-started-mvc/images/create-new-project-mvc.png
  docs-aspnet/getting-started-mvc/images/create-new-project-templates-mvc.png
  docs-aspnet/getting-started-mvc/images/select-theme-project-template-mvc.png
  docs-aspnet/html-helpers/data-management/filemanager/toolbar.md
  docs-aspnet/html-helpers/editors/editor/ai-integration.md
  docs-aspnet/html-helpers/editors/editor/crud.md
  docs-aspnet/html-helpers/editors/editor/events.md
  docs-aspnet/html-helpers/editors/editor/format-painter.md
  docs-aspnet/html-helpers/editors/editor/formatting-marks.md
  docs-aspnet/html-helpers/editors/editor/globalization.md
  docs-aspnet/html-helpers/editors/editor/image-browser.md
  docs-aspnet/html-helpers/editors/editor/immutable.md
  docs-aspnet/html-helpers/editors/editor/import-export.md
  docs-aspnet/html-helpers/editors/editor/pdf-export.md
  docs-aspnet/html-helpers/editors/editor/serialize.md
  docs-aspnet/html-helpers/editors/editor/styling.md
  docs-aspnet/html-helpers/editors/editor/table-editing.md
  docs-aspnet/html-helpers/editors/imageeditor/tools.md
  docs-aspnet/html-helpers/navigation/menu/icons.md
  docs-aspnet/html-helpers/pdf/pdfviewer/toolbar.md
  docs-aspnet/vs-integration/images/available-templates-mvc.png
  docs/api/javascript/dataviz/ui/chart.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/getting-started-mvc/images/configure-new-mvc-project.png
  docs-aspnet/getting-started-mvc/images/create-new-project-mvc.png
  docs-aspnet/getting-started-mvc/images/create-new-project-templates-mvc.png
  docs-aspnet/getting-started-mvc/images/select-theme-project-template-mvc.png
  docs-aspnet/html-helpers/data-management/filemanager/toolbar.md
  docs-aspnet/html-helpers/editors/editor/ai-integration.md
  docs-aspnet/html-helpers/editors/editor/crud.md
  docs-aspnet/html-helpers/editors/editor/events.md
  docs-aspnet/html-helpers/editors/editor/format-painter.md
  docs-aspnet/html-helpers/editors/editor/formatting-marks.md
  docs-aspnet/html-helpers/editors/editor/globalization.md
  docs-aspnet/html-helpers/editors/editor/image-browser.md
  docs-aspnet/html-helpers/editors/editor/immutable.md
  docs-aspnet/html-helpers/editors/editor/import-export.md
  docs-aspnet/html-helpers/editors/editor/pdf-export.md
  docs-aspnet/html-helpers/editors/editor/serialize.md
  docs-aspnet/html-helpers/editors/editor/styling.md
  docs-aspnet/html-helpers/editors/editor/table-editing.md
  docs-aspnet/html-helpers/editors/imageeditor/tools.md
  docs-aspnet/html-helpers/navigation/menu/icons.md
  docs-aspnet/html-helpers/pdf/pdfviewer/toolbar.md
  docs-aspnet/vs-integration/images/available-templates-mvc.png
  docs/api/javascript/dataviz/ui/chart.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/multiselect-tag-background-color.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/customize-expand-collapse-icons-kendo-ui-grid.md
  docs/knowledge-base/detect-mode-change-kendo-ui-colorpicker.md
  docs/knowledge-base/kendo-ui-daterangepicker-custom-buttons-period-selection.md
  docs/knowledge-base/multiselect-tag-background-color.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  VERSION
  docs-aspnet/installation/system-requirements/jquery-support.md
  docs/api/javascript/ui/tabstrip.md
  docs/controls/autocomplete/adaptive-mode.md
  docs/controls/colorpicker/adaptive-mode.md
  docs/controls/combobox/adaptive-mode.md
  docs/controls/datepicker/adaptive-mode.md
  docs/controls/daterangepicker/adaptive-mode.md
  docs/controls/datetimepicker/adaptive-mode.md
  docs/controls/dropdownlist/adaptive-mode.md
  docs/controls/dropdowntree/adaptive-mode.md
  docs/controls/grid/appearance/adaptive-tools.md
  docs/controls/multicolumncombobox/adaptive-mode.md
  docs/controls/multiselect/adaptive-mode.md
  docs/controls/pager/adaptive-mode.md
  docs/controls/timedurationpicker/adaptive-mode.md
  docs/controls/timepicker/adaptive-mode.md
  docs/docs-builder.yml
  docs/intro/supporting/jquery-support.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/installation/system-requirements/jquery-support.md
  docs/api/javascript/ui/tabstrip.md
  docs/controls/autocomplete/adaptive-mode.md
  docs/controls/colorpicker/adaptive-mode.md
  docs/controls/combobox/adaptive-mode.md
  docs/controls/datepicker/adaptive-mode.md
  docs/controls/daterangepicker/adaptive-mode.md
  docs/controls/datetimepicker/adaptive-mode.md
  docs/controls/dropdownlist/adaptive-mode.md
  docs/controls/dropdowntree/adaptive-mode.md
  docs/controls/grid/appearance/adaptive-tools.md
  docs/controls/multicolumncombobox/adaptive-mode.md
  docs/controls/multiselect/adaptive-mode.md
  docs/controls/pager/adaptive-mode.md
  docs/controls/timedurationpicker/adaptive-mode.md
  docs/controls/timepicker/adaptive-mode.md
  docs/docs-builder.yml
  docs/intro/supporting/jquery-support.md
  docs/knowledge-base/customize-expand-collapse-icons-kendo-ui-grid.md
  docs/knowledge-base/detect-mode-change-kendo-ui-colorpicker.md
  docs/knowledge-base/kendo-ui-daterangepicker-custom-buttons-period-selection.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/chat/chat-items.md
  docs/knowledge-base/display-time-on-value-axis.md
  src/kendo.popup.js
  tests/unit/actionsheet/aria.js
  tests/unit/notification/aria.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/controls/chat/chat-items.md
  docs/knowledge-base/display-time-on-value-axis.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/toolbar.md
  docs-aspnet/html-helpers/data-management/propertygrid/overview.md
  docs-aspnet/html-helpers/data-management/taskboard/toolbar.md
  docs-aspnet/html-helpers/data-management/treelist/toolbar.md
  docs-aspnet/html-helpers/editors/editor/tools.md
  docs-aspnet/knowledge-base/grid-hover-get-dataitem.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/toolbar.md
  docs-aspnet/html-helpers/data-management/propertygrid/overview.md
  docs-aspnet/html-helpers/data-management/taskboard/toolbar.md
  docs-aspnet/html-helpers/data-management/treelist/toolbar.md
  docs-aspnet/html-helpers/editors/editor/tools.md
  docs-aspnet/knowledge-base/grid-hover-get-dataitem.md
  src/kendo.validator.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/grid-dropdownlist-command-template.md
  docs/controls/grid/appearance/adaptive-tools.md
  docs/controls/grid/toolbar.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/grid-dropdownlist-command-template.md
  docs/controls/grid/appearance/adaptive-tools.md
  docs/controls/grid/toolbar.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/_config.yml
  docs-aspnet/accessibility/accessibility-compliance.md
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/getting-started-core/razor-pages.md
  docs-aspnet/html-helpers/data-management/grid/binding/razor-page.md
  docs-aspnet/html-helpers/data-management/grid/troubleshoot/troubleshooting.md
  docs-aspnet/html-helpers/editors/switch/appearance.md
  docs-aspnet/html-helpers/editors/switch/overview.md
  docs-aspnet/html-helpers/navigation/timeline/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/pdf/pdfviewer/dpl-processing.md
  docs-aspnet/introduction.md
  docs-aspnet/knowledge-base/grid-dynamic.md
  docs-aspnet/knowledge-base/pdfviewer-pdfjs-script-workarounds.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev
