Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

Sync with Kendo UI Professional
  docs/api/dataviz/ui/map.md
  package-lock.json
  src/kendo.calendar.js
  src/kendo.html.chip.js
  src/kendo.html.icon.js
  src/kendo.multiselect.js
  tests/unit/calendar/rendering.js
  tests/unit/multiselect/initialization.js
  tests/unit/multiselect/single-tag-mode.js
  tests/unit/multiselect/summarize.js
  tests/unit/panelbar/databinding.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.calendar.js
  tests/unit/calendar/rendering.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.calendar.js
  tests/unit/calendar/rendering.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs-aspnet/html-helpers/data-management/filter/overview.md
  docs-aspnet/html-helpers/data-management/grid/columns/templates.md
  docs-aspnet/html-helpers/data-management/grid/templates/group-templates.md
  docs-aspnet/html-helpers/data-management/treelist/toolbar.md
  docs-aspnet/html-helpers/editors/datepicker/nav-depth.md
  docs-aspnet/html-helpers/editors/daterangepicker/nav-depth.md
  docs-aspnet/html-helpers/editors/datetimepicker/nav-depth.md
  docs-aspnet/html-helpers/editors/editor/tools.md
  docs-aspnet/html-helpers/editors/radiogroup/label.md
  docs-aspnet/html-helpers/interactivity/loader/appearance.md
  docs-aspnet/html-helpers/scheduling/scheduler/timezones.md
  docs-aspnet/html-helpers/scheduling/scheduler/toolbar.md
  docs-aspnet/installation/adding-client-side-resources/creating-custom-bundles.md
  docs-aspnet/knowledge-base/csp-compliance-kendo-ui-aspnet-core.md
  docs-aspnet/knowledge-base/custom-builder-not-working-ui-for-aspnet-mvc.md
  docs-aspnet/knowledge-base/pdfviewer-pdfjs-script-workarounds.md
  docs-aspnet/styles-and-layout/components-rendering-overview.md
  docs/api/ui/chainofthought.md
  docs/backwards-compatibility/2026-backward-compatibility.md
  docs/controls/charts/sankey/auto-layout.md
  docs/controls/charts/sankey/customization.md
  docs/controls/charts/sankey/data-binding.md
  docs/controls/charts/sankey/export.md
  docs/controls/charts/sankey/overview.md
  docs/controls/charts/sparkline/axes-configuration.md
  docs/controls/charts/sparkline/data-binding.md
  docs/controls/charts/sparkline/overview.md
  docs/controls/charts/stockchart/data-binding.md
  docs/controls/charts/stockchart/overview.md
  docs/controls/charts/treemap/data-binding.md
  docs/controls/charts/treemap/overview.md
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2026-backwards-compatibility.md
  docs-aspnet/html-helpers/data-management/filter/overview.md
  docs-aspnet/html-helpers/data-management/grid/columns/templates.md
  docs-aspnet/html-helpers/data-management/grid/templates/group-templates.md
  docs-aspnet/html-helpers/data-management/treelist/toolbar.md
  docs-aspnet/html-helpers/editors/datepicker/nav-depth.md
  docs-aspnet/html-helpers/editors/daterangepicker/nav-depth.md
  docs-aspnet/html-helpers/editors/datetimepicker/nav-depth.md
  docs-aspnet/html-helpers/editors/editor/tools.md
  docs-aspnet/html-helpers/editors/radiogroup/label.md
  docs-aspnet/html-helpers/interactivity/loader/appearance.md
  docs-aspnet/html-helpers/scheduling/scheduler/timezones.md
  docs-aspnet/html-helpers/scheduling/scheduler/toolbar.md
  docs-aspnet/installation/adding-client-side-resources/creating-custom-bundles.md
  docs-aspnet/knowledge-base/csp-compliance-kendo-ui-aspnet-core.md
  docs-aspnet/knowledge-base/custom-builder-not-working-ui-for-aspnet-mvc.md
  docs-aspnet/knowledge-base/pdfviewer-pdfjs-script-workarounds.md
  docs-aspnet/styles-and-layout/components-rendering-overview.md
  docs/controls/charts/sankey/auto-layout.md
  docs/controls/charts/sankey/customization.md
  docs/controls/charts/sankey/data-binding.md
  docs/controls/charts/sankey/export.md
  docs/controls/charts/sankey/overview.md
  docs/controls/charts/sparkline/axes-configuration.md
  docs/controls/charts/sparkline/data-binding.md
  docs/controls/charts/sparkline/overview.md
  docs/controls/charts/stockchart/data-binding.md
  docs/controls/charts/stockchart/overview.md
  docs/controls/charts/treemap/data-binding.md
  docs/controls/charts/treemap/overview.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/knowledge-base/custom-builder-not-working-ui-for-aspnet-mvc.md
  src/core/services/html.service.js
  src/kendo.buttongroup.js
  src/kendo.core.js
  src/kendo.menu.js
  src/kendo.panelbar.js
  src/kendo.tabstrip.js
  src/kendo.tooltip.js
  tests/unit/buttongroup/initialization.js
  tests/unit/core/link-sanitization.js
  tests/unit/menu/datasource.js
  tests/unit/panelbar/databinding.js
  tests/unit/tabstrip/databinding.js
  tests/unit/tooltip/tooltip.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/knowledge-base/custom-builder-not-working-ui-for-aspnet-mvc.md
  src/core/services/html.service.js
  src/kendo.buttongroup.js
  src/kendo.core.js
  src/kendo.menu.js
  src/kendo.panelbar.js
  src/kendo.tabstrip.js
  src/kendo.tooltip.js
  tests/unit/buttongroup/initialization.js
  tests/unit/core/link-sanitization.js
  tests/unit/menu/datasource.js
  tests/unit/panelbar/databinding.js
  tests/unit/tabstrip/databinding.js
  tests/unit/tooltip/tooltip.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  src/kendo.calendar.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/docs-builder-mvc.yml
  src/kendo.calendar.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/.gitignore
  docs-aspnet/_config-mvc.yml
  docs-aspnet/_config.yml
  docs-aspnet/_nginx.yml
  docs-aspnet/_pdf.yml
  docs-aspnet/_staging.yml
  docs-aspnet/api_sort.rb
  docs-aspnet/switch-ruby.cmd
  docs/.gitignore
  docs/_config.yml
  docs/_nginx.yml
  docs/_pdf.yml
  docs/_staging.yml
  docs/_tools/spider
  docs/api_sort.rb
  docs/build_kb.rb
  docs/docs-builder.yml
  docs/switch-ruby.cmd
  package-lock.json
  package.json
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs/controls/menu/contextmenu/accessibility/keyboard-navigation.md
  docs/controls/menu/contextmenu/accessibility/overview.md
  docs/controls/menu/contextmenu/animations.md
  docs/controls/menu/contextmenu/binding.md
  docs/controls/menu/contextmenu/items.md
  docs/controls/menu/contextmenu/overview.md
  docs/controls/menu/contextmenu/scrolling.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  VERSION
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs/docs-builder.yml
  docs/redirect-tests-jquery.csv
  docs/redirects.conf
  src/kendo.menu.js
  tests/unit/menu/datasource.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan
