Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

Sync with Kendo UI Professional
  docs/_config.yml
  docs/ai-assistant/mcp-server.md
  docs/api/javascript/dataviz/ui/diagram.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/ai-assistant/prompt-library.md
  docs/api/javascript/ui/sortable.md
  docs/controls/menu/items.md
  docs/controls/window/custom-actions.md
  docs/docs-builder.yml
  docs/knowledge-base/kendo-ui-jquery-multiselect-select-all-option-single-tag.md
  src/kendo.sortable.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/ai-assistant/prompt-library.md
  docs/api/javascript/ui/sortable.md
  docs/controls/menu/items.md
  docs/controls/window/custom-actions.md
  docs/docs-builder.yml
  docs/knowledge-base/kendo-ui-jquery-multiselect-select-all-option-single-tag.md
  src/kendo.sortable.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/ai-assistant/prompt-library.md
  docs/knowledge-base/prevent-data-overwrite-drag-and-copy-kendo-ui-spreadsheet.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/ai-assistant/prompt-library.md
  docs/knowledge-base/fixing-bar-visibility-chart-long-labels.md
  docs/knowledge-base/prevent-data-overwrite-drag-and-copy-kendo-ui-spreadsheet.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai/changelog.md
  docs-aspnet/ai/release-notes.md
  docs/knowledge-base/updating-nested-properties-kendo-ui-jquery-grid.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai/changelog.md
  docs-aspnet/ai/release-notes.md
  docs/knowledge-base/updating-nested-properties-kendo-ui-jquery-grid.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/shapes.md
  docs/api/javascript/ui/treelist.md
  docs/knowledge-base/checkbox-filter-menu.md
  docs/knowledge-base/datepicker-include-clear-button-in-footer-template.md
  docs/knowledge-base/edit-master-row-data-in-detail-template.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/checkbox-filter-menu.md
  docs/knowledge-base/datepicker-include-clear-button-in-footer-template.md
  docs/knowledge-base/edit-master-row-data-in-detail-template.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/pager/adaptive-mode.md
  docs/controls/pager/responsive.md
  docs/knowledge-base/accessing-computed-cell-values-kendo-ui-jquery-spreadsheet.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/pager/adaptive-mode.md
  docs/controls/pager/responsive.md
  docs/knowledge-base/accessing-computed-cell-values-kendo-ui-jquery-spreadsheet.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai/copilot-extension.md
  docs-aspnet/ai/overview.md
  docs/knowledge-base/format-chat-results-bulleted-links-kendo-ui-jquery.md
  docs/knowledge-base/kendo-form-orientation-layout-fix.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/ai/copilot-extension.md
  docs-aspnet/ai/overview.md
  docs-aspnet/html-helpers/charts/chart-types/scatter-charts.md
  docs-aspnet/html-helpers/data-management/grid/appearance/adaptive-tools.md
  docs-aspnet/html-helpers/data-management/grid/columns/sticky.md
  docs/knowledge-base/format-chat-results-bulleted-links-kendo-ui-jquery.md
  docs/knowledge-base/kendo-form-orientation-layout-fix.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  VERSION
Owners: none

Sync with Kendo UI Professional
  docs-aspnet/ai/overview.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/ai/overview.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

chore: update bootstrap theme link
  docs/styles-and-layout/less-themes/less-themes-migration.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/data/orgchartmodel.md
  docs/api/javascript/ui/mediaplayer.md
  docs/api/javascript/ui/pivotgrid.md
  docs/api/javascript/ui/splitbutton.md
  docs/api/javascript/ui/window.md
  docs/controls/PDFViewer/form-filling.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/data/orgchartmodel.md
  docs/api/javascript/ui/mediaplayer.md
  docs/api/javascript/ui/pivotgrid.md
  docs/api/javascript/ui/splitbutton.md
  docs/api/javascript/ui/window.md
  docs/controls/PDFViewer/form-filling.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/dropdowntree/binding/load-on-demand.md
  docs/knowledge-base/dropdown-tree-checkboxes-grid-filtering.md
  docs/knowledge-base/prevent-time-format-conversion-spreadsheet-kendo-ui-jquery.md
  src/kendo.menu.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/knowledge-base/dropdown-tree-checkboxes-grid-filtering.md
  docs/knowledge-base/prevent-time-format-conversion-spreadsheet-kendo-ui-jquery.md
  src/kendo.menu.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Reverse commited conflict
  docs/framework/datasource/hierarchical.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/controls/drawer/hierarchy.md
  docs/knowledge-base/custom-check-all-checkbox-kendo-jquery-dropdowntree.md
  docs/knowledge-base/drawer-multi-level-hierarchy.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/custom-check-all-checkbox-kendo-jquery-dropdowntree.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  src/kendo.splitter.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  package-lock.json
  package.json
  src/kendo.splitter.js
  tests/unit/window/api.js
Owners: @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/editor/image-browser.md
  docs-aspnet/html-helpers/editors/editor/images/advanced-file-dialog.png
  docs-aspnet/html-helpers/editors/editor/images/advanced-image-dialog.png
  docs-aspnet/html-helpers/editors/editor/images/basic-file-dialog.png
  docs-aspnet/html-helpers/editors/editor/images/basic-image-dialog.png
  docs-aspnet/html-helpers/editors/editor/overview.md
  src/kendo.splitter.js
  tests/unit/splitter/expandcollapse.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/editor/image-browser.md
  docs-aspnet/html-helpers/editors/editor/images/advanced-file-dialog.png
  docs-aspnet/html-helpers/editors/editor/images/advanced-image-dialog.png
  docs-aspnet/html-helpers/editors/editor/images/basic-file-dialog.png
  docs-aspnet/html-helpers/editors/editor/images/basic-image-dialog.png
  docs-aspnet/html-helpers/editors/editor/overview.md
  src/kendo.splitter.js
  tests/unit/splitter/expandcollapse.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/sortable.md
  src/kendo.sortable.js
  tests/unit/sortable/api.js
  tests/unit/sortable/navigation.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/backwards-compatibility/2025-backwards-compatibility.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/binding.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/binding/binding.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/binding/razor-pages.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/editing.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/events.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/layout.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/razor-pages.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/shapes.md
  docs-aspnet/html-helpers/editors/dropdownlist/binding/ajax-binding.md
  docs-aspnet/html-helpers/editors/dropdownlist/cascading.md
  docs-aspnet/html-helpers/editors/dropdownlist/templates.md
  docs-aspnet/html-helpers/layout/form/buttons.md
  docs-aspnet/html-helpers/layout/form/overview.md
  docs-aspnet/html-helpers/layout/stacklayout/layout.md
  docs-aspnet/html-helpers/navigation/panelbar/binding/ajax-binding.md
  docs-aspnet/html-helpers/scheduling/gantt/resources.md
  docs/_config.yml
  docs/ai-assistant/changelog.md
  docs/backwards-compatibility/2025-backward-compatibility.md
  docs/docs-builder.yml
  docs/knowledge-base/customize-star-colors-kendo-ui-jquery-rating.md
  src/kendo.sortable.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/conversational-ui/aiprompt/streaming-integration.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/binding.md
  docs/api/javascript/ui/chat.md
  docs/api/javascript/ui/datepicker.md
  docs/api/javascript/ui/datetimepicker.md
  docs/api/javascript/ui/grid.md
  docs/api/javascript/ui/timepicker.md
  docs/controls/dialog/accessibility/overview.md
  docs/controls/sortable/accessibility/keyboard-navigation.md
  docs/controls/sortable/accessibility/overview.md
  docs/controls/speechtotextbutton/accessibility/overview.md
  docs/controls/timeline/accessibility/overview.md
  docs/controls/treeview/accessibility/overview.md
  docs/controls/window/accessibility/overview.md
  src/messages/kendo.messages.bg-BG.js
  src/messages/kendo.messages.en-US.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  package-lock.json
  package.json
  src/kendo.autocomplete.js
  src/kendo.combobox.js
  src/kendo.multiselect.js
  src/messages/kendo.messages.en-US.js
  src/messages/kendo.messages.zh-CN.js
  src/messages/kendo.messages.zh-HK.js
  src/messages/kendo.messages.zh-TW.js
  tests/unit/autocomplete/initialization.js
  tests/unit/combobox/initialization.js
  tests/unit/multiselect/initialization.js
Owners: @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/ai-components-and-features.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/images/aicomponents/AIPrompt_Dark_Large.svg
  docs-aspnet/images/aicomponents/AIPrompt_Light_Large.svg
  docs-aspnet/images/aicomponents/AI_Column_Assistant_Dark_Large.svg
  docs-aspnet/images/aicomponents/AI_Column_Assistant_Light_Large.svg
  docs-aspnet/images/aicomponents/AI_Data_Highlight_Dark_Large.svg
  docs-aspnet/images/aicomponents/AI_Data_Highlight_Light_Large.svg
  docs-aspnet/images/aicomponents/AI_Data_Operations_Dark_Large.svg
  docs-aspnet/images/aicomponents/AI_Data_Operations_Light_Large.svg
  docs-aspnet/images/aicomponents/Chat_Dark_Large.svg
  docs-aspnet/images/aicomponents/Chat_Light_Large.svg
  docs-aspnet/images/aicomponents/Editor_AI_Integration_Dark_Large.svg
  docs-aspnet/images/aicomponents/Editor_AI_Integration_Light_Large.svg
  docs-aspnet/images/aicomponents/InlineAIPrompt_Dark_Large.svg
  docs-aspnet/images/aicomponents/InlineAIPrompt_Light_Large.svg
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/_config.yml
  docs/api/javascript/ui/grid.md
  docs/controls/grid/smart-grid/ai-toolbar-tool.md
  docs/docs-builder.yml
  docs/styles-and-layout/sass-themes/compatibility.md
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/_contentTemplates/general-info.md
  docs-aspnet/_contentTemplates/get-started.md
  docs-aspnet/_contentTemplates/issues-and-warnings.md
  docs-aspnet/_contentTemplates/mvc/add-client-side-resources.md
  docs-aspnet/ai-components-and-features.md
  docs-aspnet/deployment/ci-cd-build-server.md
  docs-aspnet/deployment/ci-cd-license-key.md
  docs-aspnet/deployment/nuget-keys.md
  docs-aspnet/deployment/overview.md
  docs-aspnet/deployment/troubleshooting.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/getting-started-core/first-steps-cli.md
  docs-aspnet/getting-started-core/first-steps-vs-extensions.md
  docs-aspnet/getting-started-core/first-steps.md
  docs-aspnet/getting-started-mvc/first-steps.md
  docs-aspnet/getting-started-mvc/manual-setup.md
  docs-aspnet/getting-started-mvc/setup-with-nuget.md
  docs-aspnet/installation/installation-options/nuget-install.md
  docs-aspnet/installation/system-requirements/os-support.md
  docs-aspnet/installation/upgrading/upgrade.md
  docs-aspnet/knowledge-base/vs-code-extension-issues.md
  docs-aspnet/troubleshoot/troubleshooting-nuget.md
  docs/_contentTemplates/nuget-apikey.md
  docs/aicomponents.md
  docs/controls/grid/smart-grid/ai-toolbar-tool.md
  docs/intro/installation/nuget-install.md
  docs/intro/installation/nuget-keys.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/_contentTemplates/general-info.md
  docs-aspnet/_contentTemplates/get-started.md
  docs-aspnet/_contentTemplates/issues-and-warnings.md
  docs-aspnet/_contentTemplates/mvc/add-client-side-resources.md
  docs-aspnet/ai-components-and-features.md
  docs-aspnet/deployment/ci-cd-build-server.md
  docs-aspnet/deployment/ci-cd-license-key.md
  docs-aspnet/deployment/nuget-keys.md
  docs-aspnet/deployment/overview.md
  docs-aspnet/deployment/troubleshooting.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/getting-started-core/first-steps-cli.md
  docs-aspnet/getting-started-core/first-steps-vs-extensions.md
  docs-aspnet/getting-started-core/first-steps.md
  docs-aspnet/getting-started-mvc/first-steps.md
  docs-aspnet/getting-started-mvc/manual-setup.md
  docs-aspnet/getting-started-mvc/setup-with-nuget.md
  docs-aspnet/installation/installation-options/nuget-install.md
  docs-aspnet/installation/system-requirements/os-support.md
  docs-aspnet/installation/upgrading/upgrade.md
  docs-aspnet/knowledge-base/vs-code-extension-issues.md
  docs-aspnet/troubleshoot/troubleshooting-nuget.md
  docs/aicomponents.md
  docs/controls/grid/smart-grid/ai-toolbar-tool.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  VERSION
  docs-aspnet/installation/system-requirements/jquery-support.md
  docs/api/javascript/dataviz/ui/diagram.md
  docs/intro/supporting/jquery-support.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/installation/system-requirements/jquery-support.md
  docs/intro/supporting/jquery-support.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/kendo-ui-clear-icon-span.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/knowledge-base/kendo-ui-clear-icon-span.md
  package-lock.json
  package.json
  tests/unit/data/ai-transport.js
  tests/unit/router/hash_adapter.js
  tests/unit/router/push_state_adapter.js
  tests/vitest.config.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  VERSION
  docs-aspnet/_config.yml
  docs-aspnet/ai-components-and-features.md
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs/ai-components.md
  docs/docs-builder.yml
  docs/knowledge-base/preventing-auto-increment-dragging-kendo-ui-jquery-spreadsheet.md
  docs/knowledge-base/stop-event-propagation-buttons-panelbar-header-contenturl.md
  src/kendo.splitter.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan
