Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/combobox/binding/razor-page.md
  docs-aspnet/html-helpers/editors/combobox/filtering.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/data-management/grid/export/pdf-export.md
  docs-aspnet/html-helpers/navigation/menu/how-to/enable-security-trimming.md
  docs-aspnet/html-helpers/navigation/menu/how-to/grid-hierarchy-with-dynamic-model-loading-and-datatable.md
  docs-aspnet/html-helpers/navigation/menu/how-to/handle-unique-identifiers.md
  docs-aspnet/html-helpers/navigation/menu/how-to/use-same-controller-in-different-areas.md
  docs-aspnet/html-helpers/navigation/menu/security-trimming.md
  docs-aspnet/knowledge-base/menu-handle-unique-identifiers.md
  docs-aspnet/knowledge-base/menu-item-click-open-window.md
  docs-aspnet/knowledge-base/menu-same-controller-different-areas.md
  docs/api/javascript/ui/calendar.md
  src/kendo.data.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/api/javascript/ui/calendar.md
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/html-helpers/editors/dateinput/razor-page.md
  docs-aspnet/html-helpers/editors/datepicker/razor-pages.md
  docs-aspnet/html-helpers/editors/daterangepicker/razor-page.md
  docs-aspnet/html-helpers/editors/datetimepicker/razor-pages.md
  docs-aspnet/html-helpers/editors/dropdowntree/binding/razor-page.md
  docs-aspnet/html-helpers/editors/maskedtextbox/razor-page.md
  docs-aspnet/html-helpers/editors/multicolumncombobox/binding/razor-page.md
  docs-aspnet/html-helpers/editors/multiselect/binding/razor-page.md
  docs-aspnet/html-helpers/pdf/pdfviewer/toolbar.md
  docs/api/javascript/ui/dropdownbutton.md
  docs/knowledge-base/how-to-open-combobox-on-focus-kendo-ui-jquery.md
  tests/maskedtextbox/interaction.js
  tests/maskedtextbox/label.js
  tests/maskedtextbox/navigation.js
  tests/menu/aria.js
  tests/menu/keyboard.js
  tests/numerictextbox/label.js
  tests/textarea/initialization.js
  tests/textarea/label.js
  tests/textbox/initialization.js
  tests/textbox/label.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/html-helpers/charts/stockchart/data-binding.md
  docs-aspnet/html-helpers/charts/stockchart/overview.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/data-binding/configurator.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/data-binding/local-binding.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/data-binding/overview.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/data-binding/razor-page.md
  docs-aspnet/html-helpers/data-management/pivotgridv2/overview.md
  docs-aspnet/html-helpers/data-management/spreadsheet/import-and-export-data/bind-to-data-source.md
  docs-aspnet/html-helpers/data-management/spreadsheet/overview.md
  docs-aspnet/html-helpers/data-management/taskboard/binding.md
  docs-aspnet/html-helpers/data-management/taskboard/cards.md
  docs-aspnet/html-helpers/data-management/taskboard/columns.md
  docs-aspnet/html-helpers/data-management/taskboard/editing.md
  docs-aspnet/html-helpers/data-management/taskboard/events.md
  docs-aspnet/html-helpers/data-management/taskboard/overview.md
  docs-aspnet/html-helpers/data-management/taskboard/razor-page.md
  docs-aspnet/html-helpers/editors/dropdownlist/binding/razor-page.md
  docs-aspnet/html-helpers/media/scrollview/keyboard-navigation.md
  docs-aspnet/html-helpers/media/scrollview/overview.md
  docs-aspnet/html-helpers/media/scrollview/razor-pages.md
  docs-aspnet/html-helpers/scheduling/scheduler/binding/custom-binding.md
  docs-aspnet/html-helpers/scheduling/scheduler/binding/overview.md
  docs-aspnet/html-helpers/scheduling/scheduler/binding/razor-page.md
  docs-aspnet/html-helpers/scheduling/scheduler/binding/webapi-binding.md
  docs/controls/PDFViewer/annotations.md
  docs/controls/PDFViewer/overview.md
  docs/controls/button/icons.md
  docs/controls/editor/tools.md
  docs/knowledge-base/dynamic-image-count-in-buttons-kendo-ui-jquery-grid.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

chore: update ci workflow
  .github/workflows/CI.yml
Owners: @VicTachev, @nenchef

chore: update ci workflow
  .github/workflows/CI.yml
Owners: @VicTachev, @nenchef

Improved the Dutch translation for Kendo FileBrowser and Kendo Grid.
  src/messages/kendo.messages.nl-NL.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Added Dutch translation for ColumnMenu component, which is necessary for a fully Dutch Grid.
  src/messages/kendo.messages.nl-NL.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Added Dutch translations for FIlterMultiCheck
  src/messages/kendo.messages.nl-NL.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Improved consistency in translation of the word "item"
  src/messages/kendo.messages.nl-NL.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

chore: set up playwright in ci action
  .github/workflows/CI.yml
  .github/workflows/set-FP-labels.yml
Owners: @VicTachev, @nenchef

chore: set up playwright in ci action
  .github/workflows/CI.yml
  .github/workflows/set-FP-labels.yml
Owners: @VicTachev, @nenchef

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/knowledge-base/csp-browserlink.md
  docs/_config.yml
  docs/intro/installation/images/azure-devops-classic-step-2.webp
  docs/intro/installation/images/azure-devops-classic-step-3.webp
  docs/intro/installation/images/download-license-key.png
  docs/intro/installation/images/watermark-dark-theme.png
  docs/intro/installation/images/watermark.png
  docs/intro/installation/license-code-faq.md
  docs/intro/installation/licensing/activation-errors-and-warnings.md
  docs/intro/installation/licensing/license-code-faq.md
  docs/intro/installation/licensing/license-key-ci-services.md
  docs/intro/installation/licensing/using-license-code.md
  docs/intro/installation/using-license-code.md
  docs/knowledge-base/license-key-file-name-and-environment-variable.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/api/javascript/kendo.md
  docs/intro/installation/images/azure-devops-classic-step-2.png
  docs/intro/installation/images/azure-devops-classic-step-2.webp
  docs/intro/installation/images/azure-devops-classic-step-3.png
  docs/intro/installation/images/azure-devops-classic-step-3.webp
  docs/intro/installation/licensing/license-key-ci-services.md
  src/kendo.bottomnavigation.js
  src/kendo.button.menu.js
  src/kendo.buttongroup.js
  src/kendo.core.js
  src/kendo.menu.js
  src/kendo.tabstrip.js
  src/kendo.toolbar.js
  tests/tests/core/link-sanitization.js
  tests/tests/menu/datasource.js
  tests/tests/tabstrip/databinding.js
  tests/tests/toolbar/rendering.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

chore: add bug report template
  .github/ISSUE_TEMPLATE/bug-report.md
Owners: @VicTachev, @nenchef

chore: add bug report template
  .github/ISSUE_TEMPLATE/bug-report.md
Owners: @VicTachev, @nenchef

Create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @VicTachev, @nenchef

Create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @VicTachev, @nenchef

Sync with Kendo UI Professional
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/config.yml
  docs-aspnet/_config.yml
  docs-aspnet/_contentTemplates/licensing-templates.md
  docs-aspnet/deployment/ci-cd-license-key.md
  docs-aspnet/deployment/overview.md
  docs-aspnet/deployment/troubleshooting.md
  docs-aspnet/html-helpers/helper-basics/build-team-efficiency-dashboard/getting-up-and-running.md
  docs-aspnet/installation/activating-your-license/license-key-errors.md
  docs-aspnet/installation/activating-your-license/licensing-faq.md
  docs-aspnet/installation/activating-your-license/setting-up-your-license.md
  docs-aspnet/installation/installation-options/msi-install.md
  docs-aspnet/installation/installation-options/nuget-install.md
  docs-aspnet/installation/installation-options/overview-download.md
  docs-aspnet/installation/upgrading/upgrade-troubleshooting.md
  docs-aspnet/licensing.md
  docs-aspnet/troubleshoot/troubleshooting-net8.md
  docs-aspnet/troubleshoot/troubleshooting-nuget.md
  docs-aspnet/troubleshoot/troubleshooting-scaffolding.md
  docs-aspnet/troubleshoot/troubleshooting-validation.md
  docs-aspnet/vs-code-integration/introduction.md
  docs-aspnet/vs-integration/convert-project-wizard.md
  docs-aspnet/vs-integration/new-project-wizard.md
  docs/intro/installation/licensing/license-code-faq.md
  docs/intro/installation/licensing/license-key-ci-services.md
  docs/intro/installation/licensing/using-license-code.md
Owners: @VicTachev, @nenchef, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_contentTemplates/licensing-templates.md
  docs-aspnet/installation/upgrading/upgrade-troubleshooting.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

chore: fix slug
  docs-aspnet/installation/activating-your-license/license-key-errors.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/getting-started-core/REPL/images/repl-built-in-snippets.png
  docs-aspnet/getting-started-core/REPL/repl-getting-started.md
  docs-aspnet/getting-started-core/REPL/using-with-ui-for-aspnet-core.md
  docs/knowledge-base/dynamically-set-min-date-time-kendo-datetimepicker.md
  package-lock.json
  package.json
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Sync with Kendo UI Professional
  docs-aspnet/getting-started-core/first-steps-cli.md
  docs-aspnet/getting-started-core/first-steps-vs-extensions.md
  docs-aspnet/getting-started-core/first-steps.md
  docs-aspnet/getting-started-mvc/first-steps.md
  docs-aspnet/getting-started-mvc/manual-setup.md
  docs-aspnet/getting-started-mvc/setup-with-nuget.md
  docs-aspnet/installation/adding-client-side-resources/using-license-code.md
  docs-aspnet/troubleshoot/images/encode-passwords-with-powershell.png
  docs-aspnet/troubleshoot/troubleshooting-nuget.md
  docs/api/javascript/ui/autocomplete.md
  docs/api/javascript/ui/combobox.md
  docs/api/javascript/ui/dateinput.md
  docs/api/javascript/ui/datepicker.md
  docs/api/javascript/ui/daterangepicker.md
  docs/api/javascript/ui/datetimepicker.md
  docs/api/javascript/ui/maskedtextbox.md
  docs/api/javascript/ui/multicolumncombobox.md
  docs/api/javascript/ui/multiselect.md
  docs/api/javascript/ui/numerictextbox.md
  docs/api/javascript/ui/textarea.md
  docs/api/javascript/ui/textbox.md
  docs/api/javascript/ui/timedurationpicker.md
  docs/api/javascript/ui/timepicker.md
  docs/controls/colorgradient/appearance.md
  docs/controls/colorpalette/appearance.md
  docs/controls/colorpicker/adaptive-mode.md
  docs/controls/flatcolorpicker/appearance.md
  docs/intro/installation/licensing/activation-errors-and-warnings.md
  docs/intro/installation/licensing/using-license-file.md
  src/kendo.autocomplete.js
  src/kendo.combobox.js
  src/kendo.data.js
  src/kendo.dropdownlist.js
  src/kendo.maskedtextbox.js
  src/kendo.multiselect.js
  src/kendo.numerictextbox.js
  src/kendo.textarea.js
  src/kendo.textbox.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/conversational-ui/aiprompt/overview.md
  docs-aspnet/html-helpers/helper-basics/microsoft-extensions-ai-integration.md
  docs/accessibility/accessibility-overview.md
  docs/controls/chartwizard/accessibility/keyboard-navigation.md
  docs/controls/chartwizard/accessibility/overview.md
  docs/controls/otpinput/accessibility/key-nav.md
  docs/controls/otpinput/accessibility/overview.md
  docs/controls/toolbar/appearance.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/conversational-ui/aiprompt/overview.md
  docs-aspnet/html-helpers/helper-basics/microsoft-extensions-ai-integration.md
  docs/accessibility/accessibility-overview.md
  docs/controls/chartwizard/accessibility/keyboard-navigation.md
  docs/controls/chartwizard/accessibility/overview.md
  docs/controls/otpinput/accessibility/key-nav.md
  docs/controls/otpinput/accessibility/overview.md
  docs/controls/toolbar/appearance.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/pdf/pdfviewer/annotations.md
  docs-aspnet/html-helpers/pdf/pdfviewer/events.md
  docs-aspnet/html-helpers/pdf/pdfviewer/overview.md
  docs-aspnet/html-helpers/pdf/pdfviewer/razor-page.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/pdf/pdfviewer/annotations.md
  docs-aspnet/html-helpers/pdf/pdfviewer/events.md
  docs-aspnet/html-helpers/pdf/pdfviewer/overview.md
  docs-aspnet/html-helpers/pdf/pdfviewer/razor-page.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

chore: replace andymckay/labeler because it is depricated
  .github/workflows/set-FP-labels.yml
Owners: @VicTachev, @nenchef

Sync with Kendo UI Professional
  docs/knowledge-base/how-to-open-table-wizard-kendo-ui-editor.md
  src/kendo.core.js
  src/kendo.licensing.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/knowledge-base/grid-excel-export-server.md
Owners: @NikoPenev21, @nelito987, @martintabakov

gantt labels in kendo.messages.fr-FR.js added
  src/messages/kendo.messages.fr-FR.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/redirects.conf
  src/kendo.dropdownlist.js
  src/kendo.slider.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/knowledge-base/export-treeview-to-pdf-kendo-ui-jquery.md
  docs/knowledge-base/hide-time-gantt-chart-tooltip-kendo-ui-jquery.md
  src/kendo.toolbar.js
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/styles-and-layout/sass-themes/compatibility.md
  docs/_config.yml
  docs/redirects.conf
  docs/styles-and-layout/sass-themes/compatibility.md
  src/kendo.list.js
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/paging.md
  docs-aspnet/installation/activating-your-license/license-key-errors.md
  docs-aspnet/installation/activating-your-license/setting-up-your-license.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/paging.md
  docs-aspnet/installation/activating-your-license/license-key-errors.md
  docs-aspnet/installation/activating-your-license/setting-up-your-license.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/installation/activating-your-license/setting-up-your-license.md
  docs-aspnet/introduction.md
  docs-aspnet/knowledge-base/csp-browserlink.md
  docs-aspnet/knowledge-base/images/csp-browserlink.png
  docs/knowledge-base/kendo-grid-jquery-sorting-nested-objects.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/docs-builder-core.yml
  docs-aspnet/docs-builder-mvc.yml
  docs-aspnet/installation/activating-your-license/setting-up-your-license.md
  docs-aspnet/introduction.md
  docs-aspnet/knowledge-base/csp-browserlink.md
  docs-aspnet/knowledge-base/images/csp-browserlink.png
  docs/api/javascript/ui/grid.md
  docs/knowledge-base/kendo-grid-jquery-sorting-nested-objects.md
  typescript/kendo.all.d.ts
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  tests/helpers/unit/grid-utils.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov
