Repository telerik/kendo-ui-core, changes with the owners that CODEOWNERS names for each.
All owners: @NikoPenev21, @nelito987, @martintabakov, @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov, @MilenaCh, @Dimitar-Goshev, @nenchef, @magdalenaan

Sync with Kendo UI Professional
  docs-aspnet/_contentTemplates/core/getting-started-prerequisites.md
  docs-aspnet/getting-started-core/razor-pages.md
  docs-aspnet/html-helpers/helper-basics/destroy.md
  docs-aspnet/html-helpers/helper-basics/events-and-methods.md
  docs-aspnet/html-helpers/helper-basics/overview.md
  docs-aspnet/installation/adding-client-side-resources/cdn-service.md
  docs-aspnet/installation/adding-client-side-resources/getting-started-copy-client-resources.md
  docs-aspnet/installation/bower-install.md
  docs-aspnet/installation/msi-install.md
  docs-aspnet/installation/npm.md
  docs-aspnet/installation/overview-download.md
  docs-aspnet/introduction.md
  docs-aspnet/knowledge-base/chart-rounded-columns.md
  docs-aspnet/knowledge-base/trial-to-commercial-license-troubleshooting.md
  docs-aspnet/licensing.md
  docs-aspnet/vs-integration/images/nlva-core-complete.png
  docs-aspnet/vs-integration/images/nlva-core-credentials.png
  docs-aspnet/vs-integration/images/nlva-core-latest.png
  docs-aspnet/vs-integration/images/nlva-core-progress.png
  docs-aspnet/vs-integration/images/nlva-core-version-message.png
  docs-aspnet/vs-integration/images/nlva-login.png
  docs-aspnet/vs-integration/images/nlva-mvc-complete.png
  docs-aspnet/vs-integration/images/nlva-mvc-credentials.png
  docs-aspnet/vs-integration/images/nlva-mvc-latest.png
  docs-aspnet/vs-integration/images/nlva-mvc-progress.png
  docs-aspnet/vs-integration/images/nlva-mvc-version-message.png
  docs-aspnet/vs-integration/images/nlva-password.png
  docs-aspnet/vs-integration/images/nlva-privacy.png
  docs-aspnet/vs-integration/images/nlva-redirect.png
  docs-aspnet/vs-integration/latest-version-retrieval.md
  docs/api/javascript/ui/dropdownbutton.md
  docs/api/javascript/ui/grid.md
  docs/controls/grid/initializing-from-html-table.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/getting-started-core/razor-pages.md
  docs-aspnet/html-helpers/data-management/grid/overview.md
  docs-aspnet/html-helpers/editors/dropdownlist/binding/ajax-binding.md
  docs-aspnet/html-helpers/editors/dropdownlist/binding/model-binding.md
  docs-aspnet/html-helpers/editors/dropdownlist/binding/razor-page.md
  docs-aspnet/html-helpers/editors/dropdownlist/cascading.md
  docs-aspnet/html-helpers/editors/dropdownlist/getting-started.md
  docs-aspnet/html-helpers/editors/dropdownlist/overview.md
  docs-aspnet/html-helpers/helper-basics/validation.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/getting-started-core/razor-pages.md
  docs-aspnet/html-helpers/data-management/grid/overview.md
  docs-aspnet/html-helpers/editors/dropdownlist/binding/ajax-binding.md
  docs-aspnet/html-helpers/editors/dropdownlist/binding/model-binding.md
  docs-aspnet/html-helpers/editors/dropdownlist/binding/razor-page.md
  docs-aspnet/html-helpers/editors/dropdownlist/cascading.md
  docs-aspnet/html-helpers/editors/dropdownlist/getting-started.md
  docs-aspnet/html-helpers/editors/dropdownlist/overview.md
  docs-aspnet/html-helpers/helper-basics/validation.md
  docs/knowledge-base/centering-a-marker-kendo-ui-map.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/template/overview.md
  docs-aspnet/troubleshoot/troubleshooting-nuget.md
  docs/40x.html
  docs/api/javascript/ui/numerictextbox.md
  docs/controls/grid/scrolling/scroll-to-item.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  .eslintignore
  .eslintrc.json
  src/kendo.core.js
  src/kendo.dateinput.js
  src/kendo.datepicker.js
  src/kendo.datetimepicker.js
  src/kendo.editable.js
  src/kendo.licensing.js
  src/kendo.listview.js
  src/kendo.timepicker.js
  src/kendo.ui.core.js
  src/utils/dropdowns-loader.js
  src/utils/valueMapper.js
Owners: @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/form-fields-validation-dropdownlist-data.md
  docs-aspnet/knowledge-base/images/repl-result.png
  docs-aspnet/knowledge-base/images/repl-share.png
  docs-aspnet/knowledge-base/repl-isolate-sample.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/form-fields-validation-dropdownlist-data.md
  docs-aspnet/knowledge-base/images/repl-result.png
  docs-aspnet/knowledge-base/images/repl-share.png
  docs-aspnet/knowledge-base/repl-isolate-sample.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/grid-foreign-key-enum-field.md
  docs-aspnet/knowledge-base/slider-reverse-scale.md
  docs/api/javascript/dataviz/ui/chart.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/grid-foreign-key-enum-field.md
  docs-aspnet/knowledge-base/grid-show-popup-on-change-before-leave-page.md
  docs-aspnet/knowledge-base/slider-reverse-scale.md
  docs/api/javascript/dataviz/ui/chart.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Update notification.md
  docs/api/javascript/ui/notification.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/charts/how-to/binding-to-singalr.md
  docs-aspnet/html-helpers/charts/how-to/create-dynamic-series.md
  docs-aspnet/html-helpers/charts/how-to/use-chart-in-ajax-grid-column.md
  docs-aspnet/knowledge-base/chart-bind-to-dynamic-series.md
  docs-aspnet/knowledge-base/chart-bind-to-signalr.md
  docs-aspnet/knowledge-base/chart-in-grid-column.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/charts/how-to/binding-to-singalr.md
  docs-aspnet/html-helpers/charts/how-to/create-dynamic-series.md
  docs-aspnet/html-helpers/charts/how-to/use-chart-in-ajax-grid-column.md
  docs-aspnet/knowledge-base/chart-bind-to-dynamic-series.md
  docs-aspnet/knowledge-base/chart-bind-to-signalr.md
  docs-aspnet/knowledge-base/chart-in-grid-column.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/pivotgrid/overview.md
  docs/api/javascript/dataviz/ui/barcode.md
  docs/api/javascript/dataviz/ui/stock-chart.md
  docs/api/javascript/ui/maskedtextbox.md
  docs/api/javascript/ui/popover.md
  docs/api/javascript/ui/scheduler.md
  docs/knowledge-base/chart-hide-navigator-during-export.md
  docs/knowledge-base/disable-drag-drop-specific-column-spreadsheet.md
  docs/knowledge-base/export-multiple-charts-in-the-same-pdf-file.md
  docs/knowledge-base/how-to-display-chart-data-zoomed-to-last-30-days.md
  docs/knowledge-base/how-to-set-grid-cell-background-color-kendo-ui.md
  docs/knowledge-base/kendo-guid-error.md
  src/kendo.core.js
  src/kendo.data.js
  tests/data/datasource/observable.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/pivotgrid/overview.md
  docs/knowledge-base/chart-hide-navigator-during-export.md
  docs/knowledge-base/disable-drag-drop-specific-column-spreadsheet.md
  docs/knowledge-base/export-multiple-charts-in-the-same-pdf-file.md
  docs/knowledge-base/how-to-display-chart-data-zoomed-to-last-30-days.md
  docs/knowledge-base/how-to-set-grid-cell-background-color-kendo-ui.md
  docs/knowledge-base/kendo-guid-error.md
  src/kendo.core.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/knowledge-base/how-to-use-icons-as-markers-in-kendo-ui-for-jquery-chart.md
  src/kendo.list.js
  src/kendo.tooltip.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs/knowledge-base/how-to-use-icons-as-markers-in-kendo-ui-for-jquery-chart.md
  src/kendo.list.js
  typescript/kendo.all.d.ts
Owners: @NikoPenev21, @nelito987, @martintabakov, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/data-management/grid/binding/server-binding.md
  docs-aspnet/html-helpers/data-management/grid/images/grid-bound-data.png
  docs-aspnet/html-helpers/editors/slider/accessibility/keyboard-navigation.md
  docs-aspnet/html-helpers/editors/slider/accessibility/overview.md
  docs-aspnet/html-helpers/editors/slider/overview.md
  docs-aspnet/knowledge-base/images/repl-result.png
  docs-aspnet/knowledge-base/repl-isolate-sample.md
  docs-aspnet/vs-integration/troubleshooting.md
  docs/knowledge-base/how-to-check-expansionpanel-state-kendo-ui.md
  docs/knowledge-base/how-to-lock-taskboard-items-kendo-ui.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/knowledge-base/images/repl-result.png
  docs-aspnet/knowledge-base/repl-isolate-sample.md
  docs-aspnet/vs-integration/troubleshooting.md
  docs/knowledge-base/how-to-check-expansionpanel-state-kendo-ui.md
  docs/knowledge-base/how-to-lock-taskboard-items-kendo-ui.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/editors/editor/how-to/add-max-length-validation.md
  docs-aspnet/html-helpers/editors/editor/how-to/add-new-line-on-enter.md
  docs-aspnet/html-helpers/editors/editor/how-to/database-with-imagebrowser.md
  docs-aspnet/html-helpers/editors/editor/how-to/inline-editor-in-editor-template.md
  docs-aspnet/html-helpers/editors/slider/how-to/update-dialog-ajax-forms.md
  docs-aspnet/html-helpers/editors/upload/how-to/upload-files-to-a-database.md
  docs-aspnet/knowledge-base/editor-imagebrowser-with-database.md
  docs-aspnet/knowledge-base/editor-inline-editor-template.md
  docs-aspnet/knowledge-base/editor-max-length-validation.md
  docs-aspnet/knowledge-base/editor-new-line-on-enter.md
  docs-aspnet/knowledge-base/rangeslider-update-model-value.md
  docs-aspnet/knowledge-base/upload-files-from-grid-popup.md
  docs-aspnet/knowledge-base/upload-files-to-database.md
  docs/knowledge-base/how-to-add-multiple-icons-kendo-ui-button.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/editors/editor/how-to/add-max-length-validation.md
  docs-aspnet/html-helpers/editors/editor/how-to/add-new-line-on-enter.md
  docs-aspnet/html-helpers/editors/editor/how-to/database-with-imagebrowser.md
  docs-aspnet/html-helpers/editors/editor/how-to/inline-editor-in-editor-template.md
  docs-aspnet/html-helpers/editors/slider/how-to/update-dialog-ajax-forms.md
  docs-aspnet/html-helpers/editors/upload/how-to/upload-files-to-a-database.md
  docs-aspnet/knowledge-base/editor-imagebrowser-with-database.md
  docs-aspnet/knowledge-base/editor-inline-editor-template.md
  docs-aspnet/knowledge-base/editor-max-length-validation.md
  docs-aspnet/knowledge-base/editor-new-line-on-enter.md
  docs-aspnet/knowledge-base/rangeslider-update-model-value.md
  docs-aspnet/knowledge-base/upload-files-from-grid-popup.md
  docs-aspnet/knowledge-base/upload-files-to-database.md
  docs/knowledge-base/how-to-add-multiple-icons-kendo-ui-button.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/layout/form/buttons.md
  docs/_config.yml
  docs/api/javascript/ui/pdfviewer.md
  docs/api/javascript/ui/scheduler.md
  docs/controls/form/buttons.md
  docs/controls/form/overview.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs/_config.yml
  docs/api/javascript/ui/pdfviewer.md
  docs/api/javascript/ui/scheduler.md
Owners: @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/navigation/panelbar/how-to/use-hierarchy-binding.md
  docs-aspnet/html-helpers/navigation/treeview/how-to/bind-to-xml.md
  docs-aspnet/html-helpers/navigation/treeview/how-to/save-items-state.md
  docs-aspnet/html-helpers/navigation/treeview/how-to/use-in-sharepoint.md
  docs-aspnet/knowledge-base/images/tree-entity-data-model.png
  docs-aspnet/knowledge-base/panelbar-hierarchy-binding.md
  docs-aspnet/knowledge-base/treeview-bind-to-xml.md
  docs-aspnet/knowledge-base/treeview-expand-node-async.md
  docs-aspnet/knowledge-base/treeview-save-items-state.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/navigation/panelbar/how-to/use-hierarchy-binding.md
  docs-aspnet/html-helpers/navigation/treeview/how-to/bind-to-xml.md
  docs-aspnet/html-helpers/navigation/treeview/how-to/save-items-state.md
  docs-aspnet/html-helpers/navigation/treeview/how-to/use-in-sharepoint.md
  docs-aspnet/knowledge-base/images/tree-entity-data-model.png
  docs-aspnet/knowledge-base/panelbar-hierarchy-binding.md
  docs-aspnet/knowledge-base/treeview-bind-to-xml.md
  docs-aspnet/knowledge-base/treeview-expand-node-async.md
  docs-aspnet/knowledge-base/treeview-save-items-state.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/scheduling/scheduler/binding/webapi-binding.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/custom-editor.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/custom-view.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/drag-and-drop.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/lock-edited-events-with-signalr-datasource-local-hub.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/scheduler-resource-editing.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/server-filtering.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/show-tooltip-with-additional-information-over-events.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/signalr-datasource-with-server-filtering.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/signalr-local-hub-locking-events.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/validate-timeslot-against-recurrence-rules.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/web-api-binding.md
  docs-aspnet/knowledge-base/scheduler-custom-editors.md
  docs-aspnet/knowledge-base/scheduler-custom-view.md
  docs-aspnet/knowledge-base/scheduler-drag-and-drop-from-grid.md
  docs-aspnet/knowledge-base/scheduler-edit-resources-using-grid.md
  docs-aspnet/knowledge-base/scheduler-lock-edited-events-with-signalr-datasource-local-hub.md
  docs-aspnet/knowledge-base/scheduler-server-filtering.md
  docs-aspnet/knowledge-base/scheduler-show-tooltip-over-events.md
  docs-aspnet/knowledge-base/scheduler-signalr-datasource-with-server-filtering.md
  docs-aspnet/knowledge-base/scheduler-validate-timeslot-against-recurrence-rules.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/scheduling/scheduler/binding/webapi-binding.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/custom-editor.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/custom-view.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/drag-and-drop.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/lock-edited-events-with-signalr-datasource-local-hub.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/scheduler-resource-editing.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/server-filtering.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/show-tooltip-with-additional-information-over-events.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/signalr-datasource-with-server-filtering.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/signalr-local-hub-locking-events.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/validate-timeslot-against-recurrence-rules.md
  docs-aspnet/html-helpers/scheduling/scheduler/how-to/web-api-binding.md
  docs-aspnet/knowledge-base/scheduler-custom-editors.md
  docs-aspnet/knowledge-base/scheduler-custom-view.md
  docs-aspnet/knowledge-base/scheduler-drag-and-drop-from-grid.md
  docs-aspnet/knowledge-base/scheduler-edit-resources-using-grid.md
  docs-aspnet/knowledge-base/scheduler-lock-edited-events-with-signalr-datasource-local-hub.md
  docs-aspnet/knowledge-base/scheduler-server-filtering.md
  docs-aspnet/knowledge-base/scheduler-show-tooltip-over-events.md
  docs-aspnet/knowledge-base/scheduler-signalr-datasource-with-server-filtering.md
  docs-aspnet/knowledge-base/scheduler-validate-timeslot-against-recurrence-rules.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2024-backwards-compatibility.md
  docs/backwards-compatibility/2024-backward-compatibility.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/backwards-compatibility/2024-backwards-compatibility.md
  docs/backwards-compatibility/2024-backward-compatibility.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @NikoPenev21, @nelito987, @martintabakov

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/deployment/ci-cd-build-server.md
  docs-aspnet/deployment/nuget-keys.md
  docs-aspnet/deployment/overview.md
  docs-aspnet/deployment/troubleshooting.md
  docs-aspnet/installation/nuget-keys.md
  docs-aspnet/knowledge-base/images/download-nupkg-file-mvc.png
  docs-aspnet/knowledge-base/images/download-nupkg-file.png
  docs-aspnet/knowledge-base/setup-private-nuget-feed-azure.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/deployment/ci-cd-build-server.md
  docs-aspnet/deployment/nuget-keys.md
  docs-aspnet/deployment/overview.md
  docs-aspnet/deployment/troubleshooting.md
  docs-aspnet/installation/nuget-keys.md
  docs-aspnet/knowledge-base/images/download-nupkg-file-mvc.png
  docs-aspnet/knowledge-base/images/download-nupkg-file.png
  docs-aspnet/knowledge-base/setup-private-nuget-feed-azure.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/html-helpers/layout/window/how-to/update-dialog-ajax-forms.md
  docs-aspnet/knowledge-base/chart-bind-to-dynamic-series.md
  docs-aspnet/knowledge-base/chart-bind-to-signalr.md
  docs-aspnet/knowledge-base/chart-in-grid-column.md
  docs-aspnet/knowledge-base/grid-add-item-from-window.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/how-to/define-custom-helper-methods-for-mvc.md
  docs-aspnet/how-to/refer-from-cdn-local-script-fallback-mvc.md
  docs-aspnet/how-to/use-with-aspnet-bundles.md
  docs-aspnet/how-to/use-with-requirejs-mvc.md
  docs-aspnet/html-helpers/data-management/grid/toolbar.md
  docs-aspnet/html-helpers/editors/multiselect/how-to/use-multiselect-filter-in-grids.md
  docs-aspnet/html-helpers/editors/multiselect/how-to/use-strongly-typed-posted-with-form.md
  docs-aspnet/installation/adding-client-side-resources/using-local-files.md
  docs-aspnet/knowledge-base/define-custom-helpers.md
  docs-aspnet/knowledge-base/grid-multiselect-as-filter.md
  docs-aspnet/knowledge-base/multiselect-form-post-strongly-typed.md
  docs-aspnet/knowledge-base/mvc-with-requirejs.md
  docs-aspnet/list-of-helpers.html
  docs-aspnet/styles-and-layout/cards.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config.yml
  docs-aspnet/how-to/define-custom-helper-methods-for-mvc.md
  docs-aspnet/how-to/refer-from-cdn-local-script-fallback-mvc.md
  docs-aspnet/how-to/use-with-aspnet-bundles.md
  docs-aspnet/how-to/use-with-requirejs-mvc.md
  docs-aspnet/html-helpers/data-management/grid/toolbar.md
  docs-aspnet/html-helpers/editors/multiselect/how-to/use-multiselect-filter-in-grids.md
  docs-aspnet/html-helpers/editors/multiselect/how-to/use-strongly-typed-posted-with-form.md
  docs-aspnet/installation/adding-client-side-resources/using-local-files.md
  docs-aspnet/knowledge-base/define-custom-helpers.md
  docs-aspnet/knowledge-base/grid-multiselect-as-filter.md
  docs-aspnet/knowledge-base/multiselect-form-post-strongly-typed.md
  docs-aspnet/knowledge-base/mvc-with-requirejs.md
  docs-aspnet/list-of-helpers.html
  docs-aspnet/styles-and-layout/cards.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/binding/binding.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/binding/razor-pages.md
  docs-aspnet/installation/adding-client-side-resources/ecmascript.md
  docs-aspnet/installation/images/devtools.png
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/_config-mvc.yml
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/binding/binding.md
  docs-aspnet/html-helpers/diagrams-and-maps/diagram/binding/razor-pages.md
  docs-aspnet/html-helpers/editors/autocomplete/binding/razor-pages.md
  docs-aspnet/installation/adding-client-side-resources/ecmascript.md
  docs-aspnet/installation/images/devtools.png
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  package-lock.json
  package.json
Owners: @Iankodj, @ag-petrov, @MilenaCh, @Dimitar-Goshev

Update inline.md
  docs-aspnet/html-helpers/data-management/grid/editing/inline.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/dropdownlist/binding/razor-page.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  docs-aspnet/html-helpers/editors/dropdownlist/binding/razor-page.md
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev

Sync with Kendo UI Professional
  VERSION
  docs-aspnet/html-helpers/editors/combobox/binding/razor-page.md
  docs-aspnet/html-helpers/editors/combobox/filtering.md
  src/kendo.core.js
  src/kendo.data.js
Owners: @eyupyusein, @alestoya, @aleksandarevangelatov, @mihaela-lukanova, @antonmironovv, @VicTachev, @IvanDanchev, @Iankodj, @ag-petrov, @pepinho24, @gdenchevprog, @iordanGrancharov

CODEOWNERS:

# jQuery Docs owners
/docs/ @NikoPenev21 @nelito987 @martintabakov
# MVC/Core Docs owners
/docs-aspnet/ @eyupyusein @alestoya @aleksandarevangelatov @mihaela-lukanova @antonmironovv @VicTachev @IvanDanchev
# Source owners
/src/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/tests/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
/typescript/ @Iankodj @ag-petrov @pepinho24 @gdenchevprog @iordanGrancharov
# Infrastructure owners
/build/ @Iankodj @ag-petrov
gulpfile.js @Iankodj @ag-petrov @pepinho24 @gdenchevprog
package.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
package-lock.json @Iankodj @ag-petrov @MilenaCh @Dimitar-Goshev
# Workflow owners
/.github/ @VicTachev @nenchef
# LESS owners
/styles/ @NikoPenev21 @magdalenaan
